<ion-content>
  <ion-grid>
    <ion-row align-self-center style="text-align: center;">
      <ion-col align-self-center col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
        <img width="150px" height="150px" src="assets/img/logo/logo-pr.png" />
      </ion-col>

      <ion-col align-self-center col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 padding>
        <b style="font-size: 16px;color: black;text-align: justify;">
          <p> Alaska Fishtopia was built to be an easy way to access all the information we want for our Alaska
            outings. We
            wanted this information available for trip planning prior to our adventure, during our adventure, and
            afterwards when we're finished for the day and looking for good food, drinks, and entertainment.
          </p>
          <p>
            One of the most compelling features of Alaska Fishtopia is that nearly every one of the interfaces is done
            with an easy to use interactive map.</p>
        </b>
      </ion-col>
      <ion-col align-self-center col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6
        style="font-size: 16px;">
        <!-- This is a test subscription. It will recur according to this scYou will not be charged. -->
        <p> Alaska Fishtopia Yearly Subscription
          <br> (Alaska Fishtopia) is a continuous subscription.
          By clicking subscribe, you authorize GooglePlay to charge you the subscription cost every Year <br>
          (currently $ 1.99/1 year). </p>
      </ion-col>
      <!-- <ion-col align-self-center col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
      </ion-col> -->
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <div padding>
    <button mat-button block round color="light" class="login-button" (click)="getProdutIAP()">SUBSCRIBE NOW</button>
  </div>
  <!-- <ion-toolbar>
    <div>
      <small class="label-Network" clear>Offline data not available.You are not connected to the
        Internet at the moment.
      </small>
    </div>
  </ion-toolbar> -->
</ion-footer>