.theme-dark {
  page-Paymentlist {
   .btn-del{
    background: transparent;
    margin-top: 10px;
    margin-left: 6px;
   }
   .fab[mini] {
    margin: 8px;
    width: 50px;
    height: 50px;
    line-height: 40px;
    background-color: #212733;
    font-weight: 500;
  }
  .no-appointment{
    width: 100%;
    margin-top: 8rem;
    font-size: 1.6rem;
    text-align: center;
      color: black !important;
 
   }
    ion-content{ 
      background: #ffffff !important;
  }
    ion-card ion-item{
      background: #ffffff !important;
      background-color: #ffffff !important;
    }
    h2,
    div,
    p {
      color: color($colors, dark, base);
    }
    h2 {
      font-size: 2.1rem;
      font-weight: 900;
      margin: 0px 0px 5px 0px;
    }
    .guide-reviews {
      padding: 0px 15px;
      padding-bottom: 20px;
      .item-inner,
      .input-wrapper,
      ion-label {
        background-color: #fff;
        background: #fff;
      }
      ion-card {
        margin: 10px 0px;
        width: 100%;
        ion-avatar img {
          width: 44px;
          height: 44px;
        }
        .item-inner {
          padding: 0px;
          h2 {
            font-size: 1.6rem;
          }
          .rating {
            margin: 0px;
            color: #f9c13a;
          }
          ion-label {
            p {
            	font-size: 11px;
            	color: #797979;
            }
          }
        }
        .review-text {
          padding: 0px 10px;
          padding-bottom: 10px;
          p {
            font-size: 12px;
            margin: 0px;
          }
        }
      }
      .leave-review-btn {
        background-color: #19cbef;
        width: calc(100% - 30px);
        margin: auto;
        border-radius: 3px;
        -webkit-box-shadow: 5px 5px 4px rgba(202, 202, 202, 0.5);
        box-shadow: 5px 5px 4px rgba(202, 202, 202, 0.5);
        font-weight: 500;
      }
    }
  }
}

ul {
  padding: 0px;

  &.rating li {
    padding: 0px !important;
    background: none;
    color: #ffb400;

    ion-icon {
          font-size: 16px !important;
    }
  }
}