<!--
  Generated template for the GuideReviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>Payment Method</ion-title>
	</ion-navbar>

</ion-header>
<ion-content padding-top>
	<ion-row class="guide-reviews">
		<h2 *ngIf="!authService.DataNA">Select a Payment Method</h2>
		<ion-card *ngFor="let card of authService.Paymentlist">
			<ion-item>
				<ion-row>
					<ion-col col-2>
						<input type="checkbox" style="width: 24px;height: 24px;position: relative;top: 6px;" [(ngModel)]="card.checked">
					</ion-col>
					<ion-col col-8>
						<h2>{{card.brand}} **** {{card.last4}}</h2>
						<p>Expires{{card.exp_month}}/{{card.exp_year}}</p>
					</ion-col>
					<ion-col col-2>
						<button class="btn-del" icon-only (click)="DeleteCard(card)">
							<ion-icon name="trash"></ion-icon>
						</button>
					</ion-col>
				</ion-row>
			</ion-item>
		</ion-card>

		<div *ngIf="authService.DataNA" style="width: 100%;color: black;">
			<h1 class="no-appointment">
				<img style="height: 70px;" src="assets/img/error.png">
				<br> No Payment Methods Stored.
			</h1>
		</div>


		<!-- <ion-infinite-scroll *ngIf="page < totalPage" (ionInfinite)="doInfinite($event)">
				<ion-infinite-scroll-content
				loadingSpinner="bubbles"
				loadingText="Loading more data...">
			  </ion-infinite-scroll-content>
	   </ion-infinite-scroll> -->

	</ion-row>



	<ion-fab right bottom>
		<button ion-fab mini (click)="AddPayment()">
			<ion-icon name="add"></ion-icon>
		</button>
	</ion-fab>
</ion-content>
<ion-footer *ngIf="authService.INTERNETCHECK">
	<ion-toolbar style="text-align: center">
		<div>
			<small class="label-Network" clear>Offline data not available.You are not connected to the Internet at the moment.
			</small>
		</div>
	</ion-toolbar>
</ion-footer>