.theme-dark{
  page-filters {

      ion-content,
      .input-wrapper,
      .item-inner,
      .item,
      ion-footer,
      ion-item,
      ion-label {
      background-color: #ffffff;
      background: #ffffff;
      color: white;
  }

    ion-icon{     
      color: #18cbef;
    }
    .text-2x{
font-size: 20px;
font-size: 24px;
    }
    .mat-form-field {
      display: inline-block;
      position: relative;
      text-align: center;
      width: 75px;
      /* margin-bottom: 27px; */
  }
  
    .mat-slider-horizontal {
      height: 48px;
      min-width: 128px;
      width: 100%;
    
  }
  .range-md .range-bar-active{
    bottom: 0;
    width: auto;
    background: #18cbef;
}
.range-knob,.range-pin,.range-pin::before{
  background: #18cbef;
}
  .mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label, .mat-accent .mat-slider-track-fill{
    background-color: #18cbef;
}
.main-content{
margin-top: 12px;
    height: 100%;
}
.mat-slider-custom{
  padding: 0px 25px;
}

  .mat-tab-group {
      flex-direction: row;
      height: 100%;
  }

  .mat-tab-header-pagination {
      display: none !important;
  }
  .mat-tab-labels {
      flex-direction: column;
  }
  .mat-ink-bar {
      left: 98% !important;
  }
  .mat-tab-body-wrapper {
      flex: 1 1 auto;
  }
  .mat-elevation-z8 {
    box-shadow: 0 0px 0px -3px rgba(0,0,0,.2), 0 2px 0px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}
.mat-tab-header {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  box-shadow: 0 0px 0px -3px rgba(0, 0, 0, 0.2), 0 2px 0px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  width: 120px;
}
.mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate {
  background: #18cbef;
}
.mat-tab-label-active {
  // color: #00ADEE !important;
  background: #18cbef;
} 
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #FFFFFF;
}
.Save-button {
  background: #18cbef;
  box-shadow: 5px 5px 4px rgba(202,202,202,0.5);
  max-width: 100%;
  font-size: 1.2em;  
  width: 65%;
  color: #FFFFFF;
    float: right;
}
.Clear-button {
  background: #000000;
  box-shadow: 5px 5px 4px rgba(202,202,202,0.5);
  max-width: 100%;
  font-size: 1.2em;  
  width: 35%;
  color: #FFFFFF;
    float: right;
}



    #notification-button {            
      position: relative;
      width: 42px;
      top:1px;
      right: 1px;
      overflow: visible!important;
  }
  .box-shadow {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    margin: 2px 0px;
  }

#notifications-badge {
      background-color: red;
      position: absolute;
      top: -3px;
      right: -3px;
      border-radius: 100%;
  }

      ion-title {
        padding: 0px;
      }
       ion-content{ 
      background: #ffffff !important;
      }
      .forum-like-img{
        height: 2.2vh !important;
        }
        
    .searchbar-ios-cancel{
      margin-right: 0px !important;
      opacity: 1!important;
      padding-left: 10px !important;
  }
  .searchbar-md .searchbar-md-cancel{
      display: inline-flex !important;
      background-color: white !important;
  }
  .searchbar-search-icon{
      display: none;
  }
  .searchbar-md {
    background: inherit;
    padding: 0px !important;
  }
      ion-content {
        background: color($colors, light, base);
        ion-item{
          background-color: #ffffff;
          background:#FFFFFF;
        }
      }
      .label-md-head {
        margin-left:15px !important;
    }
  
      .ion-cont{
        border-radius: 0px;
            /* width: 375px; */
            height: 120px;
            /* background: #ffffff !important; */
            box-shadow: 0px 0px 5px rgba(0,0,0,0.5)
        }
        
       .segment-button{
        border-right: 1px solid #cccccc;
        text-transform: capitalize !important;
        color: #000000 !important;
       }
        
        .icon-badgebell{
          width: 19.95px;
            height: 22.25px;
        }
        .icon-img{
          height: 14px;
          margin-right: 5px;
        }
        ion-avatar{
        
          margin: 0px 0px 0px 0px !important;
        }
        
        .item-md {
          padding-left: 0px !important;
        }
        .home-img{
          height: 19vh !important;
          width: 19vh !important;
          border-radius: 0% !important;
          padding-left: 0px;
        }
        
  
  
      .heading-cont{
        margin-bottom: 4px;
        height: 70px;
        border-radius: 0px;
        height: 43px;
        text-transform: capitalize !important;
        color: #000000 !important;
      background: #ffffff;
      box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
      }
      h1,
      h2,
      h3,
      div,
      p {
        color: color($colors, dark, base);
      }
      ion-list,
      .input-wrapper,
      ion-label,
      .item-inner {
        background-color: #fff;
        color: color($colors, dark, base);
      }
      ion-list {
        margin: 0px;
        .item {
          background-color: #FFFFFF;
        }
        ion-item {
          padding: 0px;
          ion-thumbnail {
            margin: 0px !important;
            min-width: 125px;
            min-height: 140px;
            img {
              min-width: 125px;
              min-height: 140px;
            }
          }
          .item-inner {
            padding: 0px 10px;
            border-bottom: 0px solid #e4e4e4 !important;
          }
          h2{
            text-overflow: ellipsis;
            font-size: 14px;
            font-weight: 600;
            margin-right: 20px;
            overflow: hidden;
          }
          ion-label{
            margin: 0px;
            .pricing{
              float: right;
              font-weight: 600;
              color: color($colors, primary, base);
              text-align: right;
              font-size: 14px;
              span{
                font-size: 10px;
                color: #000;
                font-weight:100;
                display: block;
              }
            }
          }
          .save-favorite{
            position: absolute;
            top: 6px;
            right: 6px;
            &.liked{
              color: #d85a4b;
            }
          }
        }
        ion-list-header.item {
          margin: 0px !important;
          border-bottom: 1px solid #ccc;
          ion-label{
            text-transform: uppercase;
            ion-icon{
              margin-right: 5px;
            }
          }
        }
        .event-info {
          margin: 0px;
          font-size: 12px;
          font-weight: 500;
          li {
            padding: 4px 0px;
            ion-icon{
              width: 14px;
            }
          }
        }
      }
}
}