<ion-header>
  <ion-navbar>
    <!-- <button ion-button menuToggle *ngIf="FXdata!='push'">
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title>
      Filters
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="mat-elevation-z8">
  <div class="mat-elevation-z8">
    <div>
      <ion-row style="padding: 10px 10px;font-weight: 600">Trip Price Range
      </ion-row>
    </div>
    <div>
      <ion-range dualKnobs="true" pin="true" min="1" max="1000" [(ngModel)]="data.value" (ionChange)="myrange($event)">
        <ion-label range-left span-large>{{data.textLeft}}</ion-label>
        <ion-label range-right span-large>{{data.textRight}}</ion-label>
      </ion-range>
      <!-- <ion-col style="text-align: right;padding: 20px;" col-1>
          0
        </ion-col>
        <ion-col col-8>
          <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1000" min="1" max="1000"></mat-slider>
        </ion-col>
        <ion-col style="text-align: left;padding: 20px;">
          1000
        </ion-col> -->
    </div>
  </div>

  <div class="mat-elevation-z8 main-content">
    <mat-tab-group [selectedIndex]="mat_selectedIndex" (selectedTabChange)="onLinkClick($event)">
      <mat-tab *ngFor="let item of filterlist; let index = index" [label]="item.Label">
        <!-- <ion-row class="mat-elevation-z8">
          <ion-col col-10 class="arrow-icon" style="padding: 20px;">
            All Select
          </ion-col>
          <ion-col col-2>
            <mat-slide-toggle style="color: #FFF" class="mat-toggle-btn" (change)="toggleButton($event.value)"></mat-slide-toggle>
            <mat-checkbox [formControl]="disableSelect"></mat-checkbox>
          </ion-col>
        </ion-row> -->

        <mat-selection-list *ngIf="!SeatsEnabled && !DateEnabled">
          <mat-list-option (click)="onNgModelChange('All')" [selected]="Allselected">
            All Select
          </mat-list-option>
        </mat-selection-list>

        <mat-selection-list *ngIf="!SeatsEnabled && !DateEnabled" #list>
          <mat-list-option *ngFor="let area of filterOption; let index = index" (click)="onNgModelChange(area)"
            [selected]="area.selected" [value]="area.title">
            {{area.title}}
          </mat-list-option>
        </mat-selection-list>
        <div *ngIf="SeatsEnabled && !DateEnabled" padding>
          <ion-row>
            <ion-col width-10>
              No Of Seats
            </ion-col>
          </ion-row>
          <ion-row padding>
            <ion-col width-10 text-center>
              <ion-icon name="remove-circle" class="text-2x" tappable (click)="minusAdult()" [hidden]="noSeats < 1"
                color="secondary"></ion-icon>
            </ion-col>
            <ion-col width-10 text-center>
              <mat-form-field class="example-full-width">
                <input matInput type="tel" [(ngModel)]="noSeats">
              </mat-form-field>
            </ion-col>
            <ion-col width-10 text-center>
              <ion-icon name="add-circle" class="text-2x" tappable (click)="plusAdult()" color="secondary"></ion-icon>
            </ion-col>
          </ion-row>
        </div>
        <div *ngIf="DateEnabled && !SeatsEnabled" padding>
          <ion-row>
            <ion-col width-10>
              Select Date:
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col width-10 text-center>
              <ion-item class="input-border">
                <ion-label floating>From</ion-label>
                <ion-datetime [min]="startDatetimeMin" [max]="2100-12-31" displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY"
                  [(ngModel)]="fromDate"></ion-datetime>
              </ion-item>
            </ion-col>
            <ion-col width-10 text-center>
              <ion-item class="input-border">
                <ion-label floating>To</ion-label>
                <ion-datetime [min]="startDatetimeMin" [max]="2100-12-31" displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY"
                  [(ngModel)]="toDate"></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
          <!-- <ion-row>
            <ion-col width-10 text-center>
              End Date:
            </ion-col>
            <ion-item class="input-border">
              <ion-label floating>To</ion-label>
              <ion-datetime [min]="startDatetimeMin" [max]="2100-12-31" displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY"
                [(ngModel)]="toDate"></ion-datetime>
            </ion-item>
          </ion-row> -->
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

</ion-content>
<ion-footer>
  <div class="mat-elevation-z8">
    <ion-row style="height: 50px;">
      <button mat-button block color="light" class="Clear-button" (tap)="clearData()"> ResetAll </button>
      <button mat-button block color="light" class="Save-button" (tap)="saveData()"> Save & Apply </button>
    </ion-row>
  </div>
</ion-footer>