<ion-header>
        <ion-navbar>
                <ion-title>
                        Add License Details
                </ion-title>
                <ion-buttons *ngIf="DataNA==false" end>
                        <button ion-button icon-only (click)="deleteLicense()">
                                <ion-icon name="trash"></ion-icon>
                        </button>
                </ion-buttons>
        </ion-navbar>
</ion-header>
<ion-content padding>
        <form [formGroup]="LicenseForm" (ngSubmit)="AddlicenseDetails()">
                <div>
                        <div class="img-div" (tap)="PhotoView()">
                                <!-- <img  src="assets/img/icon/forum_heart_img.png"> -->
                                <img class="news-img" src="{{image_url}}">

                        </div>
                        <ion-fab right>
                                <button ion-fab mini (tap)="Uploadimg()" color="dark">
                                        <ion-icon name="camera"></ion-icon>
                                </button>
                        </ion-fab>
                </div>
                <div style="padding: 20px 10px 0px 15px;">
                        <ion-list>

                                <ion-row>
                                        <ion-item>
                                                <mat-form-field class="example-full-width">
                                                        <input matInput type="text" [(ngModel)]="Lic_No" formControlName="LicNo" placeholder="License No">
                                                </mat-form-field>
                                                <small *ngIf="LicenseForm.get('LicNo').hasError('required') && LicenseForm.get('LicNo').touched" class="error">
                                                        * Please Enter Your License Number.
                                                </small>
                                                <small *ngIf="LicenseForm.get('LicNo').hasError('minlength') && LicenseForm.get('LicNo').touched" class="error">
                                                        <p>* Minimum license number length is 3 characters.</p>
                                                </small>
                                                <small *ngIf="LicenseForm.get('LicNo').hasError('maxlength') && LicenseForm.get('LicNo').touched" class="error">
                                                        <p>* Maximum license number length is 25 characters.</p>
                                                </small>
                                        </ion-item>
                                </ion-row>
                                <ion-row>
                                        <ion-item>
                                                <mat-form-field class="example-full-width">
                                                        <input matInput type="text" [(ngModel)]="Lic_Name" formControlName="LicenseName" placeholder="License Issued To">
                                                </mat-form-field>
                                                <small *ngIf="LicenseForm.get('LicenseName').hasError('required') && LicenseForm.get('LicenseName').touched" class="error">
                                                        * Please Enter Your License Name.
                                                </small>
                                                <small *ngIf="LicenseForm.get('LicenseName').hasError('minlength') && LicenseForm.get('LicenseName').touched" class="error">
                                                        <p>* Minimum license name length is 3 characters.</p>
                                                </small>
                                                <small *ngIf="LicenseForm.get('LicenseName').hasError('maxlength') && LicenseForm.get('LicenseName').touched" class="error">
                                                        <p>* Maximum license name length is 25 characters.</p>
                                                </small>
                                        </ion-item>
                                </ion-row>
                                <ion-row>
                                        <ion-item>
                                                <mat-form-field class="example-full-width">
                                                        <input matInput type="text" [(ngModel)]="DrvLic_No" formControlName="DrvLicNo" placeholder="Drivers License No">
                                                </mat-form-field>
                                                <small *ngIf="LicenseForm.get('DrvLicNo').hasError('required') && LicenseForm.get('DrvLicNo').touched" class="error">
                                                        * Please Enter Your Drivers License Number.
                                                </small>
                                                <small *ngIf="LicenseForm.get('DrvLicNo').hasError('minlength') && LicenseForm.get('DrvLicNo').touched" class="error">
                                                        <p>* Minimum drivers license number length is 3 characters.</p>
                                                </small>
                                                <small *ngIf="LicenseForm.get('DrvLicNo').hasError('maxlength') && LicenseForm.get('DrvLicNo').touched" class="error">
                                                        <p>* Maximum drivers license number length is 25 characters.</p>
                                                </small>
                                        </ion-item>
                                </ion-row>
                                <ion-row>
                                        <ion-item>
                                                <mat-form-field class="example-full-width">
                                                        <input matInput type="text" [(ngModel)]="An_KingSalStamp" formControlName="AnKingSalStamp" placeholder="Annual King Salmon Stamp">
                                                </mat-form-field>
                                                <small *ngIf="LicenseForm.get('AnKingSalStamp').hasError('required') && LicenseForm.get('AnKingSalStamp').touched" class="error">
                                                        * Please Enter Your Annual King Salmon Stamp Number.
                                                </small>
                                                <small *ngIf="LicenseForm.get('AnKingSalStamp').hasError('minlength') && LicenseForm.get('AnKingSalStamp').touched" class="error">
                                                        <p>* Minimum drivers Annual King Salmon Stamp length is 3 characters.
                                                        </p>
                                                </small>
                                                <small *ngIf="LicenseForm.get('AnKingSalStamp').hasError('maxlength') && LicenseForm.get('AnKingSalStamp').touched" class="error">
                                                        <p>* Maximum drivers Annual King Salmon Stamp number length is 25 characters.</p>
                                                </small>
                                        </ion-item>
                                </ion-row>
                                <ion-row>
                                        <ion-col col-6>
                                                <ion-item class="input-border">
                                                        <ion-label floating>Date Of Birth</ion-label>
                                                        <ion-datetime formControlName="DOB" displayFormat="MM/DD/YYYY" pickerFormat="MM DD YYYY" [(ngModel)]="DOB_Date"></ion-datetime>
                                                </ion-item>
                                                <small *ngIf="LicenseForm.get('EndDate').hasError('required') && LicenseForm.get('EndDate').touched" class="error">
                                                        Select Date Of Birth.
                                                </small>
                                        </ion-col>
                                        <ion-col col-6>
                                                <ion-label style="float:  left;">Residential Status</ion-label>
                                                <ion-item>
                                                        <mat-select formControlName="Residentdrp" name="Residentdrp1" [(ngModel)]="Resident_drp" placeholder="Residential Status">
                                                                <mat-option *ngFor="let item of Residentoption;" [value]="item.name">{{item.name}}</mat-option>
                                                        </mat-select>
                                                </ion-item>
                                        </ion-col>
                                </ion-row>
                                <ion-row>
                                        <ion-item>
                                                <mat-form-field class="example-full-width">
                                                        <textarea matInput type="text" [(ngModel)]="Address_bind" formControlName="Address" placeholder="Address"></textarea>
                                                </mat-form-field>
                                                <small *ngIf="LicenseForm.get('Address').hasError('required') && LicenseForm.get('Address').touched" class="error">
                                                        * Please Enter Your Address.
                                                </small>
                                                <small *ngIf="LicenseForm.get('Address').hasError('minlength') && LicenseForm.get('Address').touched" class="error">
                                                        <p>* Minimum drivers address length is 3 characters.</p>
                                                </small>
                                                <small *ngIf="LicenseForm.get('Address').hasError('maxlength') && LicenseForm.get('Address').touched" class="error">
                                                        <p>* Maximum drivers address length is 25 characters.</p>
                                                </small>
                                        </ion-item>
                                </ion-row>
                                <ion-row>
                                        <p style="text-align: left;color:black">Effective Date:</p>
                                </ion-row>
                                <ion-row>
                                        <ion-col col-6>
                                                <ion-item class="input-border">
                                                        <ion-label floating>Start Date</ion-label>
                                                        <ion-datetime formControlName="StartDate" [max]="2100-12-31" displayFormat="MM/DD/YYYY" pickerFormat="MM DD YYYY" [(ngModel)]="St_Date"></ion-datetime>
                                                </ion-item>
                                                <small *ngIf="LicenseForm.get('StartDate').hasError('required') && LicenseForm.get('StartDate').touched" class="error">
                                                        Select Duration Of License.
                                                </small>
                                        </ion-col>
                                        <ion-col col-6>
                                                <ion-item class="input-border">
                                                        <ion-label floating>End Date</ion-label>
                                                        <ion-datetime formControlName="EndDate" [max]="2100-12-31" displayFormat="MM/DD/YYYY" pickerFormat="MM DD YYYY" [(ngModel)]="En_Date"></ion-datetime>
                                                </ion-item>
                                                <small *ngIf="LicenseForm.get('EndDate').hasError('required') && LicenseForm.get('EndDate').touched" class="error">
                                                        Select Duration Of License.
                                                </small>
                                        </ion-col>
                                </ion-row>
                                <ion-row>
                                        <button ion-button block round color="light" [disabled]="!LicenseForm.valid" class="login-button">Save</button>
                                </ion-row>
                        </ion-list>
                </div>
        </form>
        <ion-fab right bottom style="bottom: 6rem;">
                <button ion-fab mini (tap)="scanCode()">
                        <img src="assets/img/QRcode.png">
                        <!-- <ion-icon ios="ios-qr-scanner" md="md-qr-scanner">
                                                        QR
                                                </ion-icon> -->
                </button>
        </ion-fab>

</ion-content>
<ion-footer *ngIf="authService.INTERNETCHECK">
        <ion-toolbar style="text-align: center">
                <div>
                        <small class="label-Network" clear>Offline data not available.You are not connected to the Internet at the moment.
                        </small>
                </div>
        </ion-toolbar>
</ion-footer>