<ion-header>
  <ion-navbar>
    <ion-title>
      Page Not Available
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="content-guest" padding>
  <ion-row>
    <ion-col col-12>
      <img width="180px" height="180px" src="assets/img/GIF.gif" />
    </ion-col>
  </ion-row>
  <div>
    <span> You need to login to view this page. </span>
  </div>
  <span class="button-text" (click)="guestLogout()">Log In or Sign Up</span>
</ion-content>
<ion-footer>
  <ion-toolbar *ngIf="authService.INTERNETCHECK" style="text-align: center">
    <div>
      <small class="label-Network" clear>Offline data not available.You are not connected to the
        Internet at the moment.
      </small>
    </div>
  </ion-toolbar>
</ion-footer>