<!--
  Generated template for the FishingNewsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>News & Fishing Reports</ion-title>
    <ion-buttons end>
      <button id="notification-button" ion-button icon-only (click)="Notification()">
        <ion-icon name="notifications">
          <ion-badge *ngIf="authService.NotifyCount !=0" id="notifications-badge" color="danger">{{authService.NotifyCount}}</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <div>
    <div *ngIf="!issearch">
      <ion-segment class="heading-cont" [(ngModel)]="search">
        <ion-segment-button class="segement segment-button" value="search" (click)="change()">
          <img class="icon-img" src="assets/img/icon/Search.png"> search
        </ion-segment-button>
        <ion-segment-button (click)="presentActionSheet()" class="segement" value="Sort" style="border-left: 1px solid #cccccc;text-transform: capitalize !important;color: #000000 !important;">
          <img class="icon-img" src="assets/img/icon/filter.png"> Sort By
        </ion-segment-button>
      </ion-segment>
    </div>
    <div *ngIf="issearch">
      <ion-searchbar #myInput [(ngModel)]="inputName" [showCancelButton]=true (ionInput)="FilterByName(myInput.value)" (ionClear)="cancelSearch($event)">
      </ion-searchbar>

    </div>

  </div>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list *ngFor="let item1 of dateList">
    <ion-list-header class="label-md-head" *ngIf="item1==SelectDate">
      <ion-icon name="calendar" style="margin-left: 14px;"></ion-icon> Today
    </ion-list-header>
    <ion-list-header class="label-md-head" *ngIf="item1!=SelectDate">
      <ion-icon name="calendar" style="margin-left: 14px;"></ion-icon> {{item1 | moment:'D MMM YYYY'}}
    </ion-list-header>
    <ion-list class="ion-list-style" *ngFor="let item of mainEventFillterList">
      <ion-item class="box-shadow" *ngIf="item1==item.date_time">
        <ion-thumbnail item-start (click)="openNewsDetail(item)">
          <img src="{{item.image_url}}">
        </ion-thumbnail>
        <!-- <ion-icon name="heart" class="save-favorite" (click)="saveFavorite(item)" [class.liked]="item.isFavorite"></ion-icon> -->
        <div (click)="openNewsDetail(item)">
          <h2 text-wrap [innerHTML]="item.title"></h2>
          <p class="event-info" text-wrap [innerHTML]="item.short_description"></p>
        </div>
        <p class="event-info">
          <ion-icon name="calendar"></ion-icon> {{item.news_date_time | moment:'D MMMM YYYY'}}
        </p>
        <button ion-button icon-left clear small style="float: right;" (click)="newsShare(item)">
          <ion-icon name="share"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
  </ion-list>
  <ion-infinite-scroll *ngIf="page < totalPage" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <!-- <ion-row>
  <button *ngIf="page < totalPage" ion-button block color="light" class="login-button" (tap)="doInfinite($event)" >View more</button>
</ion-row> -->

  <!-- <ion-fab right bottom>
    <ion-icon  class="icon-style" ios="ios-arrow-back" md="ios-arrow-back-outline" (tap)="subInfinite($event)"></ion-icon>
    <ion-icon *ngIf="page < totalPage" class="icon-style" ios="ios-arrow-forward" md="ios-arrow-forward-outline" (tap)="doInfinite($event)"></ion-icon>     
  </ion-fab>  -->

</ion-content>
<ion-footer *ngIf="authService.INTERNETCHECK">
  <ion-toolbar style="text-align: center">
    <div>
      <small class="label-Network" clear>Offline data not available.You are not connected to the Internet at the moment.
      </small>
    </div>
  </ion-toolbar>
</ion-footer>