.theme-dark {
page-fishing-news {
  #notification-button {            
    position: relative;
    width: 42px;
    top:1px;
    right: 1px;
    overflow: visible!important;
}

.box-shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  margin: 2px 0px;
  padding: 2px 0px;
}
#notifications-badge {
    background-color: red;
    position: absolute;
    top: -3px;
    right: -3px;
    border-radius: 100%;
}

  .action-sheet-md .action-sheet-title {
    text-align: center;
    text-align: center;
    font-size: 1.6rem;
    color: #757575;
    padding: 10px 10px 9px;
}

  ion-content{ 
    background: #ffffff !important;
    }
      ion-title {
        padding: 0px;
      }
      .forum-like-img{
        height: 2.2vh !important;
        }
        
    .searchbar-ios-cancel{
      margin-right: 0px !important;
      opacity: 1!important;
      padding-left: 10px !important;
  }
  .searchbar-md .searchbar-md-cancel{
      display: inline-flex !important;
      background-color: white !important;
  }
  .searchbar-search-icon{
      display: none;
  }
  .searchbar-md {
    background: inherit;
    padding: 0px !important;
  }
  
  
        
    // ion-content,
    // .input-wrapper,
    // .item-inner,
    // .item,
    // ion-footer,
    // ion-item,
    // ion-label {
    //   transition: all 1.1s ease;
    //   background-color: #f4f4f4 !important;
    //   background: #f4f4f4 !important;
    //   color: rgb(2, 2, 2);   
    // }
  
      ion-content {
        background: color($colors, light, base);
      }
      .label-md-head {
        margin-left:15px !important;
    }
  
      .ion-cont{
        border-radius: 0px;
            /* width: 375px; */
            height: 120px;
            /* background: #ffffff !important; */
            box-shadow: 0px 0px 5px rgba(0,0,0,0.5)
        }
        
       .segment-button{
        border-right: 1px solid #cccccc;
        text-transform: capitalize !important;
        color: #000000 !important;
       }
        
        .icon-badgebell{
          width: 19.95px;
            height: 22.25px;
        }
        .icon-img{
          height: 14px;
          margin-right: 5px;
        }
        ion-avatar{
        
          margin: 0px 0px 0px 0px !important;
        }
        
        .item-md {
          padding-left: 0px !important;
        }
        .home-img{
          height: 19vh !important;
          width: 19vh !important;
          border-radius: 0% !important;
          padding-left: 0px;
        }
        
        .icon-style{
          display: inline-block !important;
          font-size: 3.2em !important;
          padding-right: 6px !important;
          color: #19cbef !important;
          }
  
      .heading-cont{
        margin-bottom: 4px;
        height: 70px;
        border-radius: 0px;
        height: 43px;
        text-transform: capitalize !important;
        color: #000000 !important;
      background: #ffffff;
      box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
      }
      h1,
      h2,
      h3,
      div,
      p {
        color: color($colors, dark, base);
      }
      ion-list,
      .input-wrapper,
      ion-label,ion-item,.item,
      .item-inner {
        background-color: #fff;
        color: color($colors, dark, base);
      }
      ion-list {
        margin: 0px;
        ion-item {
          padding: 0px;
          ion-thumbnail {
            margin: 0px !important;
            min-width: 110px;
            min-height: 110px;
            img {
              min-width: 110px;
              min-height: 110px;
            }
          }
          .item-inner {
            padding: 0px 10px;
            border-bottom: 0px solid #e4e4e4 !important;
          }
          h2{
            text-overflow: ellipsis;
            font-size: 14px;
            font-weight: 600;
            margin-right: 20px;
            overflow: hidden;
          }
          ion-label{
            margin: 0px;
            .pricing{
              float: right;
              font-weight: 600;
              color: color($colors, primary, base);
              text-align: right;
              font-size: 14px;
              span{
                font-size: 10px;
                color: #000;
                font-weight:100;
                display: block;
              }
            }
          }
          .save-favorite{
            position: absolute;
            top: 6px;
            right: 6px;
            &.liked{
              color: #d85a4b;
            }
          }
        }
        ion-list-header.item {
          margin: 0px !important;
          border-bottom: 0px solid #ccc;
          ion-label{
            text-transform: uppercase;
            ion-icon{
              margin-right: 5px;
            }
          }
        }
        .event-info {
          margin: 0px;
          font-size: 12px;
          font-weight: 500;
          li {
            padding: 4px 0px;
            ion-icon{
              width: 14px;
            }
          }
        }
      }
    }
  }
  