<ion-content has-header class="mat-elevation-z8">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
            <ion-label style="text-align: end;">V{{AppVersion}}</ion-label>
        <ion-grid>
            <ion-row padding-horizontal align-self-center>
                <ion-col align-self-center col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                    <ion-item no-lines no-padding align-self-center style="text-align: center;">
                        <img class="logo" src="assets/img/logo/logo-pr.png" />
                    </ion-item>
                </ion-col>
                <ion-col align-self-start col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                    <mat-form-field class="example-full-width">
                        <input matInput type="text" [formControl]="Email" placeholder="Email Address">
                    </mat-form-field>
                </ion-col>
                <ion-col align-self-start col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                    <small *ngIf="Email.hasError('required') && Email.touched" class="error">
                        <p>* Please enter your correct Email Address.</p>
                    </small>
                    <small *ngIf="Email.hasError('pattern') && Email.touched" class="error">
                        <p>* Incorrect Email Address.</p>
                    </small>
                </ion-col>
                <ion-col align-self-start col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                    <!-- <mat-form-field class="example-full-width">
                        <input matInput placeholder="Password"  clear [type]="hide ? 'password' : 'text'">
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </mat-form-field> -->
                    <mat-form-field class="example-full-width">
                        <input matInput required type="{{type}}" placeholder="Password" [formControl]="Password"
                            show-hide-input>
                        <mat-icon matSuffix>
                            <button mat-button icon-only *ngIf="!eyesicon" style="float: right;" (click)="toggleShow()">
                                <ion-icon ios="ios-eye-outline" md="md-eye"></ion-icon>
                            </button>
                            <button mat-button icon-only *ngIf="eyesicon" style="float: right;" (click)="toggleShow()">
                                <ion-icon ios="ios-eye-off" md="md-eye-off"></ion-icon>
                            </button>
                        </mat-icon>
                    </mat-form-field>
                </ion-col>
                <ion-col align-self-start col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>

                    <small *ngIf="Password.hasError('required') && Password.touched" class="error">
                        <p>* Please enter your correct Password.</p>
                    </small>
                    <small *ngIf="Password.hasError('minlength') && Password.touched" class="error">
                        <p>* Minimum length of password should be 8.</p>
                    </small>
                    <small *ngIf="Password.hasError('maxlength') && Password.touched" class="error">
                        <p>* Maximum length of password should be 20.</p>
                    </small>
                    <small *ngIf="submitAttempt" class="error">
                        <p>* {{errorMsg}}.</p>
                    </small>
                    <small *ngIf="authService.INTERNETCHECK" class="error">
                        <p>* Please check your network connection.</p>
                    </small>
                </ion-col>
                <ion-col align-self-end col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 social>
                    <button mat-raised-button class="mat-logBtn" block round color="light" [disabled]="!loginForm.valid"
                        tappable>SIGN IN</button>
                </ion-col>
                <ion-col align-self-start col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6
                    padding-vertical>
                    <ion-row margin-top no-padding>
                        <ion-col col-6 align-self-start no-padding>
                            <div clear mat-flat-button (tap)="resetPassword()" class="text-style" tappable no-padding>
                                Forgot
                                Password?</div>
                        </ion-col>
                        <ion-col col-6 align-self-start no-padding>
                            <div clear mat-flat-button (tap)="GuestLogin()" class="text-style" tappable no-padding>
                                Continue as Guest</div>
                        </ion-col>
                    </ion-row>
                </ion-col>
                <ion-col align-self-start col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 padding>
                    <div clear mat-flat-button (tap)="regulationRedirect()" class="text-style" tappable>Regulations
                    </div>
                </ion-col>
                <ion-col align-self-start col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 padding>
                    <p no-margin style="color: #a7a7a7;font-size: 18px;">----------OR----------</p>
                </ion-col>
                <ion-col align-self-start col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 padding>
                    <ion-row>
                        <ion-col col-6 align-self-start>
                            <ion-icon mat-raised-button class="fb-ion-icon paper-raise" mat-button ios="logo-facebook"
                                md="logo-facebook" (tap)="fb_login()" tappable></ion-icon>
                        </ion-col>
                        <ion-col col-6 align-self-start>
                            <div style="float: left;" mat-raised-button (tap)="googlePlus_login()" tappable>
                                <img class="paper-raise" style="margin-top: 10px;width: 38px;height: 38px;"
                                    src="assets/img/google.png" />
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>
<ion-footer class="mat-elevation-z8">
    <ion-toolbar style="text-align: center">
        <div>
            <span>Don't have an account?
                <strong style="color: #18cbef;" clear (click)="goToSignup()">SIGN UP</strong>.</span>
        </div>
    </ion-toolbar>
</ion-footer>