<!--
  Generated template for the GuideDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar>
		<ion-title>{{Title}}</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull To Refresh..." refreshingSpinner="circles" refreshingText="Refreshing...">
		</ion-refresher-content>
	</ion-refresher>
	<div class="img-div">
		<div class="avatar-info">
			<ion-avatar class="thumb user-avatar round">
				<img src="assets/img/award.png">
			</ion-avatar>
		</div>
		<div>
			<h1> $ {{Amount}} Per Year</h1>
		</div>
	</div>
	<ion-card-content>
		<!-- <h1 [innerHTML]="news.title"></h1>	 -->
		<p [innerHTML]="GuideDetailsData"></p>
	</ion-card-content>
	<!-- <ion-list class="ion-list-style">
		<ion-item>
			<ion-thumbnail item-start class="thumbnail">
				<div padding>
					<div class="text-discount">40%</div>
					<div class="text-discount">OFF</div>
				</div>
			</ion-thumbnail>
			<div class="event-info">
				<div text-wrap>Lorem Ipsum, giving information on of the 40% off.</div>
				<strong>
					Apply Code:
					<span color="orange" ion-button outline style="width: 100px;font-size: 16px;">1516FT0</span>
				</strong>
			</div>
		</ion-item>
	</ion-list> -->
	<div *ngIf="UserType != 'guide'">
		<ion-list *ngFor="let item1 of dateList">
			<!-- <ion-list-header class="label-md-head" *ngIf="item1==SelectDate">
				<ion-icon name="calendar" style="margin-left: 14px;"></ion-icon> Today
			</ion-list-header>
			<ion-list-header class="label-md-head" *ngIf="item1!=SelectDate">
				<ion-icon name="calendar" style="margin-left: 14px;"></ion-icon> {{item1 | moment:'D MMM YYYY'}}
			</ion-list-header> -->
			<ion-list class="ion-list-style" *ngFor="let item of mainEventFillterList">
				<ion-item *ngIf="item1==item.coupon_expiry_date">
					<ion-thumbnail item-start>
						<img src="{{item.image_url_thumb}}">
					</ion-thumbnail>
					<div (click)="openEventDetail(item)">
						<h2 text-wrap>{{item.title}}</h2>
						<ul class="event-info">
							<!-- <li>
								<p [innerHTML]="item.Short_description" text-wrap></p>
							</li> -->
							<li>
								<ion-icon name="calendar"></ion-icon> Expiry date- {{item.coupon_expiry_date_time | moment:'MMMM D YYYY'}}
							</li>
						</ul>
					</div>
				</ion-item>
			</ion-list>
		</ion-list>
	</div>
	<ion-infinite-scroll *ngIf="page < totalPage" (ionInfinite)="doInfinite($event)">
		<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
		</ion-infinite-scroll-content>
	</ion-infinite-scroll>
	<!-- <ion-row padding>
		<button ion-button block round color="light" (click)="PrimePayNow()" class="login-button">{{MembershipText}}</button>
	</ion-row> -->
</ion-content>
<ion-footer>
	<div padding>
		<button ion-button block round color="light" (click)="PrimePayNow()" class="login-button">{{MembershipText}}</button>
	</div>
	<ion-toolbar style="text-align: center" *ngIf="authService.INTERNETCHECK">
		<div>
			<small class="label-Network" clear>Offline data not available.You are not connected to the Internet at the moment.
			</small>
		</div>
	</ion-toolbar>
</ion-footer>
<!-- <ion-footer>
	<ion-toolbar style="text-align: center" (click)="PrimePayNow()">
		<div>
			<strong class="login-button" style="color:#fff;font-size: 14px;" clear>{{MembershipText}}</strong>
		</div>
	</ion-toolbar>
</ion-footer> -->
