<ion-header>
  <ion-navbar>
    <!-- <button ion-button menuToggle *ngIf="FXdata!='push'">
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title>
      Prime Offer
    </ion-title>
    <!-- <ion-buttons end>
      <button ion-button icon-only (click)="Notification()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons> -->
    <!-- <ion-buttons end>
      <button id="notification-button" ion-button icon-only (click)="Notification()">
        <ion-icon name="notifications">
          <ion-badge *ngIf="authService.NotifyCount !=0" id="notifications-badge" color="danger">{{authService.NotifyCount}}</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>


<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      Prime Offer
    </ion-title>
    <div class="close-button" icon-only end (click)="dismiss()">
      <ion-icon name="close"></ion-icon>
    </div>
  </ion-navbar>
</ion-header> -->
<ion-content class="chats">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <!-- <button ion-button (tap)="restorepurchase()">Restore Purchases</button> -->

  <ion-list *ngFor="let item1 of dateList">
    <!-- <ion-list-header class="label-md-head" *ngIf="item1==SelectDate">
      <ion-icon name="calendar" style="margin-left: 14px;"></ion-icon> Today
    </ion-list-header>
    <ion-list-header class="label-md-head" *ngIf="item1!=SelectDate">
      <ion-icon name="calendar" style="margin-left: 14px;"></ion-icon> {{item1 | moment:'D MMM YYYY'}}
    </ion-list-header> -->
    <ion-list class="ion-list-style" *ngFor="let item of mainEventFillterList">
      <ion-item class="mat-elevation-z8 box-shadow" *ngIf="item1==item.coupon_expiry_date">
        <ion-thumbnail item-start (click)="openEventDetail(item)">
          <img src="{{item.image_url_thumb}}">
        </ion-thumbnail>
        <div (click)="openEventDetail(item)">
          <h2 text-wrap>{{item.title}}</h2>
          <ul class="event-info">
            <li>
              <p [innerHTML]="item.Short_description" text-wrap></p>
            </li>
            <li>
              <ion-icon name="calendar"></ion-icon>Expiry date- {{item.coupon_expiry_date_time | moment:'MMMM D YYYY'}}
            </li>
          </ul>
        </div>
      </ion-item>
    </ion-list>
  </ion-list>
  <ion-infinite-scroll *ngIf="page < totalPage" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-footer *ngIf="authService.INTERNETCHECK">
  <ion-toolbar style="text-align: center">
    <div>
      <small class="label-Network" clear>Offline data not available.You are not connected to the Internet at the moment.
      </small>
    </div>
  </ion-toolbar>
</ion-footer>