<ion-header>
  <ion-navbar>
    <ion-title>
      Location Filter
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="mat-elevation-z8">

  <div class="mat-elevation-z8">
    <mat-tab-group [selectedIndex]="mat_selectedIndex" (selectedTabChange)="onLinkClick($event)">
      <mat-tab *ngFor="let item of filterlist; let index = index" [label]="item.Label">
        <mat-selection-list>
          <mat-list-option (click)="onNgModelChange('All')" [selected]="authService.isalllocationselected">
            All Select
          </mat-list-option>
        </mat-selection-list>

        <mat-selection-list #list>
          <mat-list-option *ngFor="let area of filterOption; let index = index" (click)="onNgModelChange(area)"
            [selected]="area.selected" [value]="area.name">
            {{area.name}}
          </mat-list-option>
        </mat-selection-list>
        <div *ngIf="SeatsEnabled && !DateEnabled" padding>
          <ion-row>
            <ion-col width-10>
              No Of Seats
            </ion-col>
          </ion-row>
          <ion-row padding>
            <ion-col width-10 text-center>
              <ion-icon name="remove-circle" class="text-2x" tappable (click)="minusAdult()" [hidden]="noSeats < 1"
                color="secondary"></ion-icon>
            </ion-col>
            <ion-col width-10 text-center>
              <mat-form-field class="example-full-width">
                <input matInput type="tel" [(ngModel)]="noSeats">
              </mat-form-field>
            </ion-col>
            <ion-col width-10 text-center>
              <ion-icon name="add-circle" class="text-2x" tappable (click)="plusAdult()" color="secondary"></ion-icon>
            </ion-col>
          </ion-row>
        </div>

      </mat-tab>
    </mat-tab-group>
  </div>

</ion-content>
<ion-footer>
  <div class="mat-elevation-z8">
    <ion-row style="height: 50px;">
      <button mat-button block color="light" class="Clear-button" (tap)="clearData()"> ResetAll </button>
      <button mat-button block color="light" class="Save-button" (tap)="saveData()"> Save & Apply </button>
    </ion-row>
  </div>
</ion-footer>