<ion-header>
  <ion-navbar>
    <ion-title style="float: left;"> Change Password </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="chats">
  <form [formGroup]="ChangePasswordForm" (ngSubmit)="ChngePassword()">
    <div style="padding: 20% 32px 32px 32px">
      <ion-row>
        <p class="forgot-Password"> Please enter the current password below & change your password. </p>
      </ion-row>
      <ion-row>
        <mat-form-field class="example-full-width">
          <input matInput required type="{{CurrType}}" clear [(ngModel)]="CurrPassword" formControlName="currentPassword" placeholder="Current Password"
            show-hide-input>
          <mat-icon matSuffix>
            <button mat-button icon-only *ngIf="!eyesCurricon" style="float: right;" (click)="toggleCurrShow()">
              <ion-icon ios="ios-eye-outline" md="md-eye"></ion-icon>
            </button>
            <button mat-button icon-only *ngIf="eyesCurricon" style="float: right;" (click)="toggleCurrShow()">
              <ion-icon ios="ios-eye-off" md="md-eye-off"></ion-icon>
            </button>
          </mat-icon>
        </mat-form-field>
        <!-- <ion-item style="width:90%">
          <ion-label floating>Current Password</ion-label>
          <ion-input type="{{CurrType}}" [(ngModel)]="CurrPassword" formControlName="currentPassword"></ion-input>

        </ion-item>
        <ion-icon style="color:black;font-size: 1.5em;margin-top: 22px;" ios="ios-eye-outline" md="md-eye" (tap)="toggleCurrShow()"></ion-icon> -->
      </ion-row>
      <ion-row>
        <small *ngIf="currentPassword.hasError('required') && currentPassword.touched" class="error">
          <p>*Please enter password.</p>
        </small>
        <small *ngIf="currentPassword.hasError('minlength') && currentPassword.touched" class="error">
          <p>*Minimum password length is 8 characters.</p>
        </small>
        <small *ngIf="currentPassword.hasError('maxlength') && currentPassword.touched" class="error">
          <p>*Maximum password length is 20 characters.</p>
        </small>
      </ion-row>
      <ion-row>
        <mat-form-field class="example-full-width">
          <input matInput required type="{{NewType}}" clear [(ngModel)]="Newpassword" formControlName="password" placeholder="Password"
            show-hide-input>
          <mat-icon matSuffix>
            <button mat-button icon-only *ngIf="!eyesNewicon" style="float: right;" (click)="toggleNewShow()">
              <ion-icon ios="ios-eye-outline" md="md-eye"></ion-icon>
            </button>
            <button mat-button icon-only *ngIf="eyesNewicon" style="float: right;" (click)="toggleNewShow()">
              <ion-icon ios="ios-eye-off" md="md-eye-off"></ion-icon>
            </button>
          </mat-icon>
        </mat-form-field>
        <!-- <ion-item style="width:90%">
          <ion-label floating>New Password</ion-label>
          <ion-input type="{{NewType}}" [(ngModel)]="Newpassword" formControlName="password"></ion-input>
        </ion-item>
        <ion-icon style="color:black;font-size: 1.5em;margin-top: 22px;" ios="ios-eye-outline" md="md-eye" (tap)="toggleNewShow()"></ion-icon> -->
        <ion-row>
          <small *ngIf="password.hasError('required') && password.touched" class="error">
            <p>*Please enter your password.</p>
          </small>
          <small *ngIf="password.hasError('minlength') && password.touched" class="error">
            <p>*Minimum password length is 8 characters.</p>
          </small>
          <small *ngIf="password.hasError('maxlength') && password.touched" class="error">
            <p>*Maximum password length is 20 characters.</p>
          </small>
        </ion-row>
      </ion-row>
      <ion-row>
        <mat-form-field class="example-full-width">
          <input matInput required type="{{ReType}}" clear [(ngModel)]="ConfirmPassword" formControlName="confirmPassword" placeholder="Password"
            show-hide-input>
          <mat-icon matSuffix>
            <button mat-button icon-only *ngIf="!eyesReicon" style="float: right;" (click)="toggleRetypeShow()">
              <ion-icon ios="ios-eye-outline" md="md-eye"></ion-icon>
            </button>
            <button mat-button icon-only *ngIf="eyesReicon" style="float: right;" (click)="toggleRetypeShow()">
              <ion-icon ios="ios-eye-off" md="md-eye-off"></ion-icon>
            </button>
          </mat-icon>
        </mat-form-field>

        <!-- <ion-item style="width:90%">
          <ion-label floating>Confirm Password</ion-label>
          <ion-input type="{{ReType}}" [(ngModel)]="ConfirmPassword" formControlName="confirmPassword"></ion-input>

        </ion-item>
        <ion-icon style="color:black;font-size: 1.5em;margin-top: 22px;" ios="ios-eye-outline" md="md-eye" (tap)="toggleRetypeShow()"></ion-icon> -->
      </ion-row>
      <ion-row>
        <small *ngIf="confirmPassword.hasError('required') && confirmPassword.touched" class="error">
          <p>*Please enter confirm password.</p>
        </small>
        <!-- <small *ngIf="confirmPassword.hasError('required') && confirmPassword.hasError('mismatchedPasswords') && confirmPassword.touched" class="error">
            <p>*Passwords do not match.</p>
          </small> -->
        <small *ngIf="submitAttempt" class="error">
          <p>*Passwords do not match..</p>
        </small>
      </ion-row>
      <ion-row>
        <button ion-button block round color="light" class="login-button" [disabled]="!ChangePasswordForm.valid">SUBMIT</button>
      </ion-row>
    </div>
  </form>
</ion-content>
<ion-footer *ngIf="authService.INTERNETCHECK">
  <ion-toolbar style="text-align: center">
    <div>
      <small class="label-Network" clear>Offline data not available.You are not connected to the Internet at the moment.
      </small>
    </div>
  </ion-toolbar>
</ion-footer>