.theme-dark {
  page-Fishing_Licen_List {
.No-notify{
  text-align: center;
    margin-top: 40%;
}
    #notification-button {            
      position: relative;
      width: 42px;
      top:1px;
      right: 1px;
      overflow: visible!important;
  }

  ion-footer{
    background-color: transparent;
    background: transparent;
    color: white;
    .toolbar-background{
      background-color: transparent;
      background: transparent;
      color: white;
    }
  }
  .example-full-width{
    width: 100%;
    background: #18cbef;
    font-size: 16px;
  }
#notifications-badge {
      background-color: red;
      position: absolute;
      top: -3px;
      right: -3px;
      border-radius: 100%;
  }

    ion-list,
    .input-wrapper,
    ion-label,
    .item-inner,ion-item ,.item {
      background-color: #fff;
      color: color($colors, dark, base);
    }
    ion-title {
      padding: 0px;
    }
    ion-content{ 
      background: #ffffff !important;
  }

    h1,
    h2,
    h3,
    div,
    p,h4 {
      color: color($colors, dark, base);
    }
    .input-wrapper,
    ion-label,
    .item-inner {
      background-color: #fff;
      color: color($colors, dark, base);
    }
    ion-list {
      background-color: transparent;
      margin: 0px;
      ion-item-sliding {
        background-color: #fff;
        margin-bottom: 10px;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
        ion-item.item-block {
          margin: 0px;
          padding-right: 0px;
          .item-inner {
            border: 0px;
            padding: 0px;
            ion-thumbnail {
              margin: 0px;
              width: 100px;
              height: 100px;
              img {
                width: 100px;
                height: 100px;
              }
            }
            p {
              white-space: initial;
              font-size: 12px;
              height: 44px;
              text-overflow: ellipsis;
            }
            strong {
              font-size: 12px;
              font-weight: normal;
              color: #ccc;
            }
          }
        }
        button {
          color: #000;
          width: 100px;
          font-size: 12px;
          ion-icon{
          	font-size: 28px;
          }
        }
      }
    }
  }
}