<!--
  Generated template for the NotificationsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar>
		<ion-title>Fishing license list</ion-title>
	</ion-navbar>
</ion-header>
<ion-content padding>
	<ion-list *ngIf="fishingLicenList.length != 0">
		<ion-item-sliding *ngFor="let item of fishingLicenList">
			<ion-item (click)="licenDetails(item)">
				<ion-thumbnail item-end>
					<img src="assets/img/event-Thumb.png">
				</ion-thumbnail>
				<div>
					<b text-wrap> {{item.user_data.firstname}} {{item.user_data.middleinitial}} {{item.user_data.lastname}}
						{{item.user_data.residency}} {{item.user_data.dateofbirth}}</b>
					<br>
					<div text-wrap>{{item.created_at | moment:'MMMM DD, YYYY h:mm A'}}</div>
					<ion-col col-8>
						<h4 text-wrap>Order number: {{item.license_number}}</h4>
					</ion-col>
					<ion-col col-8>
						<h4 text-wrap>License Type: {{item.user_data.resident_sport_fishing_license_title}}</h4>
					</ion-col>
				</div>
			</ion-item>
			<ion-item-options side="right">
				<button ion-button color="primary" (click)="licenDetails(item)">
					<!-- <ion-icon name="trash"></ion-icon> -->
					View
				</button>
			</ion-item-options>
		</ion-item-sliding>
	</ion-list>
	<div class="No-notify" *ngIf="fishingLicenList.length == 0">
		<h4 class="no-appointment">
			<br> No Fishing License Available.
		</h4>
	</div>
</ion-content>