<ion-header no-border>
  <ion-navbar>
    <ion-title>What's Hot?</ion-title>
  </ion-navbar>
</ion-header>
<ion-content fullscreen>
  <p>What's Hot is a special section of our app to allow you bring extra attention to your event with a 3 day window of your
    event. You can submit your event at any time but it will only become active within a 3 day window of the date & time
    of the event. </p>
  <p>What's Hot will promote your event, allow for graphics, photos, link backs to your site, contact information, phone
    numbers, event description, and most importantly provide real-time notifications to Fishtopia users that there is a new
    or upcoming event in their area they would likely be interested in.</p>
  <p>To have your event showcased in What's Hot please email a full description of your event along with any desired photos,
    links, and other information to
    <a href="mailto:admin@akfishtopia.com"> <span style="color:#19cbef">admin@akfishtopia.com</span></a>. There is a $5.00
    fee associated with being placed in What's Hot.</p>
</ion-content>
<ion-footer *ngIf="authService.INTERNETCHECK">
  <ion-toolbar style="text-align: center">
    <div>
      <small class="label-Network" clear>Offline data not available.You are not connected to the Internet at the moment.
      </small>
    </div>
  </ion-toolbar>
</ion-footer>