<div class="transparent-header" [ngStyle]="{'background-image': 'url(' + backgroundImage +')'}">
    <ion-header>
        <ion-navbar>
            Forgot Password
        </ion-navbar>
    </ion-header>
</div>
<ion-content>
    <!-- <ion-content> -->
    <form [formGroup]="ForgotForm" (ngSubmit)="resetPassword()">
        <div style="padding: 15% 32px 32px 32px">
            <ion-row>
                <img class="logo" src="assets/img/logo/logo-pr.png" />
            </ion-row>
            <ion-row>
                <p class="forgot-Password"> Please enter your registered email.</p>
                <!-- <p class="forgot-Password"> Please enter your registered email or phone.</p> -->
            </ion-row>
            <!-- <ion-row>              
                          <ion-list radio-group float-left class="item-list" [(ngModel)]="userType">                      
                          <ion-item class="item-md1">                 
                            <ion-radio [checked]="true" value="email" (tap)="Email()"></ion-radio>
                            <ion-label class="ion-label">Email</ion-label>
                       </ion-item>                     
                            <ion-item class="item-md1">                 
                                <ion-radio  value="phone" (tap)="Phone()"></ion-radio>
                                <ion-label class="ion-label">Phone</ion-label>
                           </ion-item>                    
                      </ion-list>
                      </ion-row> -->
            <!-- <ion-row style="border-bottom: 1px solid #cccccc;" responsive-sm>
                <ion-col col-2>
                    <img style="height:4.5vh;margin-top: 27px;" src="assets/img/icon/email.png" />
                </ion-col>
                <ion-col col-10>
                    <ion-item>
                        <ion-label floating>Email Address</ion-label>
                        <ion-input type="email" formControlName="userEmail"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row> -->

            <ion-row>
                <mat-form-field class="example-full-width">
                    <input matInput type="text" [formControl]="userEmail" placeholder="Email Address">
                </mat-form-field>
            </ion-row>
            <ion-row>
                <ion-col col-11>
                    <small *ngIf="userEmail.hasError('required') && userEmail.touched" class="error">
                        <p>* Please enter your Email Address.</p>
                    </small>
                    <small *ngIf="userEmail.hasError('pattern') && userEmail.touched" class="error">
                        <p>* Invalid Email Address.</p>
                    </small>
                    <small *ngIf="EmailExist" class="error">
                        <p>* Email Address does not exist.</p>
                    </small>
                    <small *ngIf="authService.INTERNETCHECK" class="error">
                        <p>* Please check your network connection.</p>
                    </small>
                </ion-col>
            </ion-row>
            <!-- <ion-row style="border-bottom: 1px solid #cccccc;" [hidden]="!isenabledPhone"> [hidden]="!isenabledEmail"
                        <ion-col col-2>
                            <img style="height: 5vh;margin-top: 27px;" src="assets/img/icon/phone.png" />
                        </ion-col>
                      <ion-col  col-10>
                  <ion-item>                      
                      <ion-label floating>Phone</ion-label>
                      <ion-input type="number" [(ngModel)]="userPhone" ></ion-input>
                  </ion-item>
                </ion-col>
                </ion-row> -->
            <ion-row>
                <button mat-raised-button class="mat-logBtn" block round color="light" [disabled]="!ForgotForm.valid"
                    tappable>SEND
                    EMAIL</button>
            </ion-row>
        </div>
    </form>
    <!-- </ion-grid> -->
    <!--</ion-slide> (click)="login()"  -->

    <!--  </ion-slides>-->

</ion-content>