<ion-header>
  <ion-navbar>
    <ion-title>Subscription Details</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row align-self-center style="text-align: center;">
      <ion-col align-self-center col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
        <img width="150px" height="150px" src="assets/img/logo/logo-pr.png" />
      </ion-col>
      <ion-col align-self-center col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 style="font-size: 16px;">
        <!-- This is a test subscription. It will recur according to this scYou will not be charged. -->
        <b style="font-size: 14px;color: black;">
          <p *ngIf="productDetails != null"> Alaska Fishtopia Yearly Subscription Details
            <!-- <br> ProductId: {{productDetails.data.product_id}}  -->
            <!-- <br> Purchase Date:
            {{purchase_date | moment:'MMMM D YYYY h:mm a' }} <br> Expiration Date:
            {{expiry_date | moment:'MMMM D YYYY h:mm a'}}. -->
          </p>
          <ion-grid>
            <ion-row>
              <ion-col col-3 style="text-align: left">
                Price
              </ion-col>
              <ion-col col-9 style="text-align: left">
                :{{productPrice}}/Year
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-3 style="text-align: left">
                Purchase Date:
              </ion-col>
              <ion-col col-9 style="text-align: left">
                :{{purchase_date | moment:'MMMM D YYYY' }}
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col col-3 style="text-align: left">
                Expiration Date:
              </ion-col>
              <ion-col col-9 style="text-align: left">
                :{{expiry_date | moment:'MMMM D YYYY'}}
              </ion-col>
            </ion-row>
          </ion-grid>
          <p *ngIf="productDetails == null"> Subscription details not available.
          </p>
        </b>
      </ion-col>
      <ion-row style="margin-left:5vw ">
        <p>
          <b>Features :</b>
        </p>
        <div id="list">
          <ul>
            <li>Alaska Fishtopia was built to be an easy way to access all the information we want for our Alaska outings.
            </li>
            <li> We wanted this information available for trip planning prior to our adventure, during our adventure, and afterwards
              when we're finished for the day and looking for good food, drinks, and entertainment.</li>
            <li>One of the most compelling features of Alaska Fishtopia is that nearly every one of the interfaces is done with
              an easy to use interactive map.</li>
          </ul>
        </div>
      </ion-row>

      <ion-row>
        <div style="width:90%;margin: 0px auto">
          <p style="text-align: justify; font-size: 12px;color: gray">
            Your Payment will be charged to iTunes Account at confirmation of purchase.Your Subscription automatically renews unless
            auto-renew is turned off at least 24-hours before the end of the current period.Account will be charged for renewal
            within 24-hours prior to the end of the current period, and identify the cost of the renewal.Any unused portion
            of a free trial period, if offered, will be forfeited when the user purchases a subscription to that publication,
            where applicable
          </p>
        </div>
      </ion-row>
      <ion-col>
      <ion-row>
          <div style="margin: 5px auto">
            <a href="#" onclick="window.open('http://166.62.118.179:2152/termsandpolicies', '_system', 'location=yes'); return false;" style="font-size: 12px;color: gray">Terms of service </a>
          </div>
        </ion-row>
        <ion-row>
          <div style="margin: 5px auto">
              <a href="#" onclick="window.open('https://www.akfishtopia.com/privacy-policy', '_system', 'location=yes'); return false;" style="font-size: 12px;color: gray">Privacy policy </a>

            <!-- <a href="https://www.akfishtopia.com/privacy-policy" style="font-size: 12px;color: gray">Privacy policy</a> -->
          </div>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>