.theme-dark {
  page-event-detail {
    ion-content{ 
      background: #ffffff !important;
      .item,.ion-item{
        background: #ffffff !important;
      }
  }


    ion-item .input-wrapper{
      background: #f4f4f4 !important;
    }
    .img-div{    
      text-align: center;
      background: white;
    }
    .news-img{
     // width: 100%;
     height: 200px;
    }
.event-inform{
  padding: 0px 14px;
}
.event-info .item-inner {
  padding-right: 0px !important;
}
ul {
  padding: 0px;
 
  &.rating li {
    padding: 5px 10px !important;
    background: none;
    color: #ffb400;
 
    ion-icon {
      font-size: 30px;
    }
  }
}

    h1,
    div,h4,h5,h6,
    p {
      color: color($colors, dark, base);
    }
    .forum-like-img{
      height: 2.8vh !important;
      }
    h1 {
      margin: 0px;
      font-size: 18px;
    }
    .event-thumb {
      width: 100%;
      height: 140px;
      display: block;
      background-size: cover !important;
      background-position: center !important;
      text-align: center;
      background-color: black;
      .save-favorite {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 2em;
        &.liked {
          color: #d85a4b;
        }
      }
    }

    ion-card-content {
      span {
        color: #9c9c9c;
        font-size: 11px;
        span {
          padding-left: 10px;
        }
      }
      p {
        margin-top: 5px;
        margin-bottom: 40px;
      }
    }
    ion-footer {
      .toolbar-background {
        background: #ffffff !important;
        color: color($colors, dark, base) !important;
        border: 0px;
      }
      &:before {
        content: "";
        width: 100%;
        height: 60px;
        display: block;
        top: -58px;
        position: absolute;
        background: -webkit-linear-gradient(bottom, white, white 50%, rgba(255, 255, 255, 0));
      }
      span {
        font-size: 14px;
        color: #525252;
      }
    }
   
    .event-info {
      padding: 0px;
      .event-date {
        width: 80px;
        background-color: #19cbef;
        color: #000;
        margin: 0px;
        text-align: center;
        padding: 40px 6px;
        display: block;
      //  margin-right: 10px;
        font-size: 12px;
        .day {
          font-size: 30px;
          display: block;
          font-weight: 600;
        }
        .time {
          font-size: 12px;
          display: block;
          background-color: transparent;
        }
      }
      .item-inner,
      .input-wrapper,
      ion-label {
        background-color: transparent;
        color: #000;
        border: 0px;
        h1 {
          font-weight: bold;
          font-size: 16px;
        }
      }
      .event-day {
        display: block;
      }
      .pricing,
      p {
        padding: 4px 0px;
        display: block;
        font-size: 12px;
        margin: 0px;
      }
      .pricing {
        color: #19cbef;
        span {
          font-weight: normal;
          color: #000;
        }
      }
      ion-icon {
        margin-right: 5px;
      }
    }
    .event-description{
    	padding: 0px 15px;
    	p{
    		font-size: 14px;
    		line-height: 1.4;
    	}
    }
  }
}
