<ion-header no-border>
	<ion-navbar>
		<ion-title>Buoy Information Details </ion-title>
	</ion-navbar>
</ion-header>
<ion-content padding text-center class="review-form">
	<p padding [innerHTML]="htmlDesp"></p>
	<div class="item" *ngIf="DataNA">
		<h1 class="no-appointment">
			<img style="height: 70px;" src="assets/img/error.png">
			<br> No Data Available.</h1>
	</div>
</ion-content>
<ion-footer *ngIf="authService.INTERNETCHECK">
	<ion-toolbar style="text-align: center">
	  <div>
		<small class="label-Network" clear>Offline data not available.You are not connected to the Internet at the moment.
		</small>
	  </div>
	</ion-toolbar>
  </ion-footer>