.theme-dark {
  page-BuoyinfoDetails {   
    ion-content{ 
      background: #ffffff !important;
  }

  ion-item,.item,
      .item-inner
       {
        background-color: #fff;
        color: color($colors, dark, base);
      }

  h1,
  h2,
  h3,
  div,
  p {
    color: color($colors, dark, base);
  }

  .toolbar-ios ion-title {
    left: 0;
    top: 0;
    padding: 0 0px 1px;
    width: 100%;
    height: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    pointer-events: none;
}

  .no-appointment{
    width: 100%;
    margin-top: 8rem;
    font-size: 1.6rem;
    text-align: center;
   }
    .toolbar-background-md {
      background-color: #212733 !important;
    }
      .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: #ffffff;
    }
    .close-button{
      float: right;
    font-size: 14px;
    }
    ion-content.review-form {
      ul {
        padding: 0px;
       
        &.rating li {
          padding: 5px 10px !important;
          background: none;
          color: #ffb400;
       
          ion-icon {
            font-size: 40px !important
          }
        }
    }
  
      background: #ffffff;

      h3 {
        font-size: 1.8rem;
        font-weight: 900;
        margin: 20px 0px;
      }
      textarea {
        margin: 0px;
        border: 1px solid #ccc;
        width: 100%;
        min-height: 80px;
      }
      button {
        background-color: #19cbef;
        width: calc(100% - 30px);
        margin: auto;
        border-radius: 3px;
        -webkit-box-shadow: 5px 5px 4px rgba(202, 202, 202, 0.5);
        box-shadow: 5px 5px 4px rgba(202, 202, 202, 0.5);
        font-weight: 500;
        margin-top: 20px;
      }
    }
    p h1,a{
      display: none;
    }
   
  }
}
