<ion-header>
    <ion-navbar>
        <ion-title>{{title}}</ion-title>
    </ion-navbar>
    <ion-segment class="heading-cont" [(ngModel)]="CurrOption">
        <ion-segment-button class="segement" value="Calendar" (ionSelect)="onLinkClick('Calendar')">
            <ion-icon ios="ios-calendar" md="md-calendar" style="margin: 10px;"></ion-icon>
            Currents Table
        </ion-segment-button>
        <ion-segment-button class="segement" value="Graph" (ionSelect)="onLinkClick('Graph')">
            <ion-icon ios="ios-pulse" md="md-pulse" style="margin: 10px;"></ion-icon>
            Currents Graphs
        </ion-segment-button>
    </ion-segment>
    <div class="calendar-outer-div">
        <ion-row>
            <ion-col col-6 text-center>
                <p style="margin: 3px;text-align: -webkit-center;">
                    <mat-select [(ngModel)]="selectedMonth" (ngModelChange)="monthChange()">
                        <mat-option *ngFor="let month of monthArray; let ind=index" [selected]="selectedMonth==month"
                            [value]="ind">{{month}}</mat-option>
                    </mat-select>
                </p>
            </ion-col>
            <ion-col col-6 text-center>
                <mat-select [(ngModel)]="YearMonth" (ngModelChange)="getYear(YearMonth)">
                    <mat-option *ngFor="let year of yearArray; let ind=index" [selected]="YearMonth==year" [value]="year">{{year}}</mat-option>
                </mat-select>
            </ion-col>
        </ion-row>
        <ion-scroll #leftCats id="leftCats" overflow-scroll="auto" scrollX style="height:30px;">
            <div [ngClass]="day.day==selectedDay?'scroll-item Cal-border-white':'scroll-item Cal-border'" *ngFor="let day of authService.dateArray;let i of index"
                (click)="onDateClick(day.day,i)">
                {{" "+day.day+" "}}
                <!-- {{day.name+" "+day.day}}   -->
            </div>
        </ion-scroll>
    </div>
</ion-header>

<ion-content class="mat-elevation-z8">
    <div *ngIf="eventList && eventList.length && !graphEnabled">
        <div *ngIf="eventList.length !=0">
            <button ion-item detail-none text-wrap>
                <div class="small" style="margin-left: 10px;">Time (LST/LDT)</div>
                <div ion-text color="text1" item-right style="width: 70px;text-align: center;">
                    <p>Event</p>
                </div>
                <div ion-text color="text1" item-right style="width: 70px;text-align: center;">
                    <p>Speed (knots)</p>
                </div>
            </button>
        </div>

        <div *ngFor="let item of eventList | orderBy: 'date_time'">
            <button ion-item detail-none text-wrap>
                <img *ngIf="item.event_name=='flood'" src="assets/img/Flood.png" item-left style="max-width: 12%">
                <img *ngIf="item.event_name=='ebb'" src="assets/img/ebb.png" item-left style="max-width: 12%">
                <img *ngIf="item.event_name=='slack'" src="assets/img/fog.png" item-left style="max-width: 12%">
                <div class="small" style="margin-left: 10px;">{{item.date_time_str}}</div>
                <!-- <div class="small" style="margin-left: 10px;">
      <p *ngIf="item.highlow=='H'">high</p><p *ngIf="item.highlow=='L'">low</p>
      </div> -->
                <div ion-text color="text1" item-right style="width: 70px;text-align: center;">
                    <p>{{item.event_name}}</p>
                </div>
                <div ion-text color="text1" item-right style="width: 70px;text-align: center;">
                    <p>{{item.event_val}} kts</p>
                </div>
            </button>
        </div>
    </div>
    <div *ngIf="eventList && eventList.length && graphEnabled">
        <div style="margin-top: 20px" *ngIf="eventList.length !=0">
            <mat-grid-list cols="3" rowHeight="2:1">
                <mat-grid-tile>
                    <button id="btnBack" mat-button block round color="light" class="login-button" tappable>
                        <ion-icon ios="ios-skip-backward" md="md-skip-backward"></ion-icon>
                        Back &nbsp;&nbsp;&nbsp;
                    </button>
                </mat-grid-tile>
                <mat-grid-tile>
                    <strong style="color: #000;font-size: 16px;">Water
                        Level</strong>
                </mat-grid-tile>
                <mat-grid-tile>
                    <button id="btnFwd" mat-button block round color="light" class="login-button" tappable>
                        Forward
                        <ion-icon ios="ios-skip-forward" md="md-skip-forward"></ion-icon>
                    </button>
                </mat-grid-tile>
            </mat-grid-list>
            <div id="container" style="display: block;"></div>
        </div>
    </div>



    <div class="item" *ngIf="eventList.length==0 && !graphEnabled" >
        <h1 class="no-appointment">
            <img style="height: 70px;" src="assets/img/error.png">
            <br> No data Available.</h1>
    </div>

</ion-content>
<ion-footer *ngIf="authService.INTERNETCHECK">
    <ion-toolbar style="text-align: center">
        <div>
            <small class="label-Network" clear>Offline data not available.You are not connected to the Internet at the
                moment.
            </small>
        </div>
    </ion-toolbar>
</ion-footer>