<ion-header>
  <ion-navbar>
    <ion-title style="float: left;">Edit-Profile</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="mat-elevation-z8" padding="">
  <form [formGroup]="EditProfileForm" (ngSubmit)="save()">
    <div>
      <ion-row class="guide-info">
        <ion-col class="avatar-info" col-12>
          <ion-avatar class="thumb">
            <img class="user-avatar round" *ngIf="Profileimg==null && Profileimg==undefined" src="assets/img/icon/placeholder.png">
            <img class="user-avatar round" *ngIf="Profileimg!==null && Profileimg!==undefined" src="{{Profileimg}}">
          </ion-avatar>
          <ion-icon ios="ios-camera" md="md-camera"  id="edit-profile" (click)="presentActionSheet()"></ion-icon>
          <!-- <img src="assets/img/icon/edit.png"> -->
        </ion-col>
      </ion-row>
    </div>

    <div style="padding: 0px 10px 0px 15px;">
      <ion-list padding>
        <ion-row>
          <ion-col col-6>
            <mat-form-field class="example-full-width">
              <input matInput type="text" [(ngModel)]="firstName" placeholder="First Name" formControlName="FirstName">
            </mat-form-field>
          </ion-col>
          <ion-col col-6>
            <mat-form-field class="example-full-width">
              <input matInput type="text" [(ngModel)]="MdleName" placeholder="Middle Name" formControlName="MiddleName">
            </mat-form-field>
          </ion-col>
        </ion-row>
        <small *ngIf="FirstName.hasError('required') && FirstName.touched" class="error">
          <p>* Please enter your first name.</p>
        </small>
        <small *ngIf="FirstName.hasError('minlength') && FirstName.touched" class="error">
          <p>* Minimum first name length is 3 characters.</p>
        </small>
        <small *ngIf="FirstName.hasError('maxlength') && FirstName.touched" class="error">
          <p>* Maximum first name length is 25 characters.</p>
        </small>
        <small *ngIf="FirstName.hasError('pattern') && FirstName.touched" class="error">
          <p>* First name cannot start with numbering.</p>
        </small>
        <small *ngIf="MiddleName.hasError('required') && MiddleName.touched" class="error">
          <p>* Please enter your middle name.</p>
        </small>
        <small *ngIf="MiddleName.hasError('minlength') && MiddleName.touched" class="error">
          <p>* Minimum middle name length is 3 characters.</p>
        </small>
        <small *ngIf="MiddleName.hasError('maxlength') && MiddleName.touched" class="error">
          <p>* Maximum middle name length is 25 characters.</p>
        </small>
        <small *ngIf="MiddleName.hasError('pattern') && MiddleName.touched" class="error">
          <p>* Middle name cannot start with numbering.</p>
        </small>
        <ion-row>
          <mat-form-field class="example-full-width">
            <input matInput type="text" [(ngModel)]="lastName" formControlName="LastName" placeholder="Last Name">
          </mat-form-field>


          <small *ngIf="LastName.hasError('required') && LastName.touched" class="error">
            <p>* Please enter your last name.</p>
          </small>
          <small *ngIf="LastName.hasError('minlength') && LastName.touched" class="error">
            <p>* Minimum last name length is 3 characters.</p>
          </small>
          <small *ngIf="LastName.hasError('maxlength') && LastName.touched" class="error">
            <p>* Maximum last name length is 25 characters.</p>
          </small>
          <small *ngIf="LastName.hasError('pattern') && LastName.touched" class="error">
            <p>* Last name cannot start with numbering.</p>
          </small>
        </ion-row>
        <ion-row>
          <mat-form-field class="example-full-width">
            <input matInput type="text" [(ngModel)]="email" formControlName="Email" placeholder="Email">
          </mat-form-field>
        </ion-row>
        <ion-row>
          <ion-col col-11>
            <small *ngIf="Email.hasError('required') && Email.touched" class="error">
              <p>* Please enter your Email Id.</p>
            </small>
            <small *ngIf="Email.hasError('pattern') && Email.touched" class="error">
              <p>* Invalid Email Id.</p>
            </small>
          </ion-col>
        </ion-row>
        <ion-row>
          <h5 style="color: black;">Mailing Address</h5>
        </ion-row>
        <ion-row>
          <mat-form-field class="example-full-width">
            <input matInput type="text" [(ngModel)]="StreetAddr1" formControlName="StrtAddr1" placeholder="Street Address 1">
          </mat-form-field>
        </ion-row>
        <ion-row>
          <!-- <small *ngIf="StrtAddr1.hasError('required') && StrtAddr1.touched" class="error">
                <p>*Please enter street address.</p>
              </small> -->
        </ion-row>
        <ion-row>
          <mat-form-field class="example-full-width">
            <input matInput type="text" [(ngModel)]="StreetAddr2" formControlName="StrtAddr2" placeholder="Street Address 2">
          </mat-form-field>
        </ion-row>
        <ion-row>
          <!-- <small *ngIf="StrtAddr2.hasError('required') && StrtAddr2.touched" class="error">
                    <p>*Please enter street address.</p>
                  </small> -->
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <mat-form-field class="example-full-width">
              <input matInput type="text" [(ngModel)]="City_" formControlName="City" placeholder="City">
            </mat-form-field>
          </ion-col>
          <ion-col col-6>
            <mat-form-field class="example-full-width">
              <input matInput type="text" [(ngModel)]="State_" formControlName="State" placeholder="State">
            </mat-form-field>
          </ion-col>
        </ion-row>
        <!-- <ion-row>
          <small *ngIf="State.hasError('required') && State.touched" class="error">
            <p>* Please enter your state.</p>
          </small>
          <small *ngIf="State.hasError('minlength') && State.touched" class="error">
            <p>* Minimum first name length is 3 characters.</p>
          </small>
          <small *ngIf="State.hasError('maxlength') && State.touched" class="error">
            <p>* Maximum first name length is 25 characters.</p>
          </small>
          <small *ngIf="State.hasError('pattern') && State.touched" class="error">
            <p>* First name cannot start with numbering.</p>
          </small>
          <small *ngIf="City.hasError('required') && City.touched" class="error">
            <p>* Please enter your city.</p>
          </small>
          <small *ngIf="City.hasError('minlength') && City.touched" class="error">
            <p>* Minimum city length is 3 characters.</p>
          </small>
          <small *ngIf="City.hasError('maxlength') && City.touched" class="error">
            <p>* Maximum city length is 25 characters.</p>
          </small>
          <small *ngIf="City.hasError('pattern') && City.touched" class="error">
            <p>* City cannot start with numbering.</p>
          </small>
        </ion-row> -->
        <ion-row>
          <ion-col col-6>
            <mat-select style="margin: 0px 0px 20px 0px;" formControlName="Countryoption" name="Country1" (change)="onLocationChange()"
              [(ngModel)]="UserPhonecode" placeholder="Country">
              <mat-option *ngFor="let item of countries;" [value]="item">{{item.name}}</mat-option>
            </mat-select>
          </ion-col>
          <ion-col col-6>
            <mat-form-field class="example-full-width">
              <input matInput type="text" [(ngModel)]="Zip_Code" maxlength="6" formControlName="ZipCode" placeholder="Zip Code">
            </mat-form-field>
          </ion-col>
        </ion-row>
        <!-- <ion-row>
           <small *ngIf="Countryoption.hasError('required') && Countryoption.touched" class="error">
            <p>* Please select Country.</p>
          </small>
          <small *ngIf="ZipCode.hasError('required') && ZipCode.touched" class="error">
                <p>* Please enter your zip code.</p>
              </small>
              <small *ngIf="ZipCode.hasError('minlength') && ZipCode.touched" class="error">
                <p>* Minimum zip code length is 5 number.</p>
              </small>
              <small *ngIf="ZipCode.hasError('maxlength') && ZipCode.touched" class="error">
                <p>* Maximum zip code length is 5 number.</p>
              </small>
              <small *ngIf="ZipCode.hasError('pattern') && ZipCode.touched" class="error">
                <p>* Invalid zip code.</p>
              </small>
    </ion-row> -->
        <ion-row>
          <ion-col col-3 style="margin-bottom: 24px;">
            <ion-item class="input-border" style="text-align: right;">
              <ion-label class="labal-Country">{{Countrycode}}</ion-label>
            </ion-item>
          </ion-col>
          <ion-col col-9>
            <mat-form-field class="example-full-width">
              <input matInput type="tel" [(ngModel)]="phoneNo" formControlName="PhoneNumber" maxlength="10" placeholder="Phone Number">
            </mat-form-field>
          </ion-col>
        </ion-row>
        <ion-row>
          <small *ngIf="PhoneNumber.hasError('required') && PhoneNumber.touched" class="error">
            <p>* Please enter your phone number.</p>
          </small>
          <small *ngIf="PhoneNumber.hasError('minlength') && PhoneNumber.touched" class="error">
            <p>* Minimum phone number length is 10 number.</p>
          </small>
          <small *ngIf="PhoneNumber.hasError('maxlength') && PhoneNumber.touched" class="error">
            <p>* Maximum phone number length is 10 number.</p>
          </small>
          <small *ngIf="PhoneNumber.hasError('pattern') && PhoneNumber.touched" class="error">
            <p>* Please enter NUMBER only.</p>
          </small>
        </ion-row>
      </ion-list>
    </div>
    <ion-fab bottom right>
      <button mat-fab class="pop-in" color="danger" [disabled]="!EditProfileForm.valid">
        <ion-icon ios="ios-arrow-round-forward" md="md-arrow-round-forward"></ion-icon>
      </button>
    </ion-fab>
  </form>
</ion-content>
<!-- <ion-footer *ngIf="authService.INTERNETCHECK">
  <ion-toolbar style="text-align: center">
    <div>
      <small class="label-Network" clear>Offline data not available.You are not connected to the Internet at the moment.
      </small>
    </div>
  </ion-toolbar>
</ion-footer> -->