regulations {
  #notification-button {            
    position: relative;
    width: 42px;
    top:1px;
    right: 1px;
    overflow: visible!important;
}

#notifications-badge {
    background-color: red;
    position: absolute;
    top: -3px;
    right: -3px;
    border-radius: 100%;
}

  .otherUsers{
       color: #000 !important;
    }
 
    ion-content,
    .input-wrapper,
    .item-inner,
    .item,
    ion-footer,
    ion-item,
    ion-label {

      transition: all 1.1s ease;
      background-color: #ffffff !important;
      background: #ffffff !important;
      color: rgb(2, 2, 2);   
    }
   
    p, ion-content h2 {
      color:#333333 !important;
    }
.arrow-icon{
    color: #18cbef;
    text-align: right;
    font-size: 14px;
}
   
}
