<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Regulations</ion-title>
    <!-- <ion-buttons end>
      <button id="notification-button" ion-button icon-only (click)="Notification()">
        <ion-icon name="notifications">
          <ion-badge *ngIf="authService.NotifyCount !=0" id="notifications-badge" color="danger">{{authService.NotifyCount}}</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>
<ion-content class="mat-elevation-z8">
  <div class="afterpadder" style="text-align: center" padding>
    <map name="BaseSOA" id="BaseSOA">
      <area alt="Arctic-Yukon-Kuskokwim Regulations" shape="poly"
        coords="226,4,294,16,300,52,310,57,321,68,321,77,305,78,311,110,275,110,270,96,262,95,244,106,241,112,231,112,231,126,204,130,187,151,158,128,141,82,184,26"
        (tap)="pdfview('NorthernAlaska')">
      <area alt="Southcentral Alaska Regulations" shape="poly"
        coords="296,135,300,124,307,124,305,112,275,112,268,97,262,98,248,107,243,114,232,114,233,124,243,126,234,154"
        (tap)="pdfview('SouthcentralAlaska')">
      <area alt="Southeast Alaska Regulations" shape="poly"
        coords="298,136,301,126,314,124,350,124,395,156,398,173,383,178,363,165,301,163"
        (tap)="pdfview('SoutheastAlaska')">
      <area alt="Southwest Alaska Regulations" shape="poly" coords="189,152,204,132,241,127,231,159,213,174,214,160"
        (tap)="pdfview('SouthwestAlaska')">
      <area alt="Southwest Alaska Regulations" shape="poly"
        coords="2,157,74,203,139,199,125,157,134,157,140,201,180,186,211,165,211,177,236,156,256,150,251,170,239,180,252,183,251,193,281,196,280,206,258,206,258,215,204,215,166,205,96,218,45,212,2,176"
        (tap)="pdfview('SouthwestAlaska')">
    </map>
    <img src="assets/img/14statewide.gif" class="imageright width-400-block" style="clear: right; " width="400"
      height="221" alt="Navigate by area" usemap="#BaseSOA">
    <br>
  </div>
  <ion-list>
    <ul collapsible no-margin no-padding>
      <li *ngFor="let group of authService.locationlist">
        <!-- List big image Header -->
        <div collapsible-header>
          <ion-item>
            <ion-row (click)="toggleGroup(group)">
              <ion-col col-10>
                <h2 item-title>
                  <ion-icon ios="ios-pin" md="md-pin"></ion-icon> &nbsp;&nbsp; {{group.title}}
                </h2>
              </ion-col>
              <ion-col col-2 class="arrow-icon">
                <ion-icon name="ios-arrow-forward" [hidden]="isGroupShown(group)"></ion-icon>
                <ion-icon ios="ios-arrow-down" md="ios-arrow-down" [hidden]="!isGroupShown(group)"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-item>
        </div>
        <!-- End List big image Header -->
        <!-- List big image Body -->
        <div item-accordion [ngClass]="{'active': isGroupShown(group) }" [hidden]="!isGroupShown(group)">
          <ion-item *ngFor="let item of group.sub_Options " (click)="areaView('onItemClick', item, $event,group)">
            <ion-row>
              <ion-col col-2>
                <span class="arrow-icon" *ngIf="item.checkProgress">
                  <ion-icon name="checkmark-circle-outline"></ion-icon>
                </span>
              </ion-col>
              <ion-col col-8>
                <p class="otherUsers" text-wrap>{{item.title}}</p>
              </ion-col>
              <ion-col col-2 class="arrow-icon" *ngIf="item.progrBarEnabled && !item.checkProgress">
                <strong> {{progress}} % </strong>
              </ion-col>
              <ion-col col-2 class="arrow-icon" *ngIf="!item.progrBarEnabled">
                <ion-icon name="ios-arrow-forward"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-item>
        </div>
        <!-- End List big image Body -->
      </li>
    </ul>
  </ion-list>



</ion-content>
<ion-footer *ngIf="authService.INTERNETCHECK">
  <ion-toolbar style="text-align: center">
    <div>
      <small class="label-Network" clear>
        Offline data not available.You are not connected to the Internet at the moment.
      </small>
    </div>
  </ion-toolbar>
</ion-footer>