.theme-dark {
ShoutOutPostActivity {

  animation: fade-in .8s ease-in-out;
  // @keyframes fade-in {
  //   0%   { opacity: 0; }
  //   100% { opacity: 1; }
  // }
  .error p {
    color: rgb(230, 3, 3) !important;
    text-align: left;
}
  textarea{
    height: 100px;
   }
  .fab[mini] {
    margin: 8px;
    width: 50px;
    height: 50px;
    line-height: 40px;
    background-color: #212733;
    font-weight: 500;
  }

  .event-thumb {
    width: 100%;
    height: 140px;
    display: block;
    background-size: cover !important;
    background-position: center !important;
    .save-favorite {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 2em;
      &.liked {
        color: #d85a4b;
      }
    }
  }
  
  ion-content,
  .input-wrapper,
  .item-inner,
  .item,
  ion-footer,
  ion-item,
  ion-label {
    transition: all 1.1s ease;
    background-color: #ffffff !important;
    background: #ffffff !important;
    color: rgb(2, 2, 2);   
  }
  
  ion-content{
  h2,  p{
    color:  #000 !important;
    }
  }
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    width: 150.75px !important;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .middle {
    opacity: 1;
    transition: .5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  // .card-1:hover .image {
  //   opacity: 0.3;
  // }
  
  // .card-1:hover .middle {
  //   opacity: 1;
  // }
    
  ion-slides,
  .swiper-container {
    width: 100%;
    height: 150px;
  }
  .swiper-slide {
    background-size: cover !important;
    background-position: center !important;
  }
  .swiper-pagination-bullet {
    background-color: white;
  }
  
  ion-scroll[scrollX] {
    white-space: nowrap;
    height: 120px;
    overflow: hidden;
    .scroll-item {
      display: inline-block;
    }

    .selectable-icon{
      /*margin: 10px 20px 10px 20px;*/
      color: red;
      font-size: 100px;
    }
  }
}
}


