<ion-header no-border>
  <ion-navbar>
    <ion-title>Create Post</ion-title>
    <!-- <ion-buttons right>
      <button ion-button (click)="dismiss(false)">
          <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>
<ion-content fullscreen>
  <ion-row>
    <ion-item>
      <ion-avatar item-start>
        <!-- <img src="assets/img/avatar/sarah-avatar.jpg"> -->
        <div *ngIf="Profileimg==null && Profileimg==undefined">
          <img src="assets/img/icon/placeholder.png">
        </div>
        <img src="{{Profileimg}}" *ngIf="Profileimg!=null && Profileimg!=undefined">
      </ion-avatar>
      <h2 class="heading-content">{{firstName}} {{lastName}}</h2>
      <!-- <p> {{card.created_at | moment:'D MMM YYYY'}}</p> -->
    </ion-item>
  </ion-row>
  <form [formGroup]="ShoutOutPost" (ngSubmit)="PostActivity()">
    <div class="post-text">
      <ion-row>
        <ion-col>
          <ion-textarea style="height: 100%;padding: 10px;color:#000;" placeholder="Enter Text Here" formControlName="message" [(ngModel)]="messagepost"></ion-textarea>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12 center text-center style="width: 100%;height: 170px;">
          <img height="170px" src="{{imgURL}}">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1></ion-col>
        <ion-col col-10>
          <small *ngIf="ErrorEnabled" class="error">
            <p>* Please upload image.</p>
          </small>
        </ion-col>

      </ion-row>
      <!-- <ion-row *ngIf="ImageUrllist.length!=0">

        <ion-col class="title-text">
          <p>
            <ion-icon style="margin-left: 5px" ios="ios-image-outline" md="md-image"></ion-icon>&nbsp;&nbsp;Select Photo</p>
        </ion-col>

      </ion-row> -->


      <!-- <ion-row *ngIf="ImageUrllist.length!=0">      
            <ion-col center text-center>
                <ion-slides #slider spaceBetween="5"  slidesPerView="4"  >
                    <ion-slide class="image"  *ngFor="let slide of ImageUrllist;let i of index"  [ngStyle]="{'background' : 'url(' + slide.image_url + ')'}" (click)="onSlideChanged(i,slide)">
                      <div class="middle" *ngIf="slide.status">
                        <ion-icon style="color:#18cbef;font-size: 1.8em;" ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon>
                      </div>
                    </ion-slide>
                  </ion-slides>              
            </ion-col>
          </ion-row> -->
      <ion-list class="docListFirst docList">
        <ion-item class="itemList" (click)="AddPhoto()">
          <ion-row class="card-1">
            <ion-col col-10>
              <p class="otherUsers">
                <ion-icon ios="ios-images" md="md-images" style="color: #46f736;"></ion-icon>&nbsp; Add Photo
              </p>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item class="itemList" (click)="CameraPhoto()">
          <ion-row class="card-1">
            <ion-col col-10>
              <p class="otherUsers">
                <ion-icon ios="ios-camera" md="md-camera" style="color: #004cff;"></ion-icon>&nbsp; Camera
              </p>
            </ion-col>
          </ion-row>
        </ion-item>

      </ion-list>
      <ion-fab right bottom class="pop-in">
        <button [disabled]="!BtnShoutOutPost" class="ionfab-button" ion-fab mini color="dark">Share</button>
      </ion-fab>
    </div>
  </form>
</ion-content>
<ion-footer *ngIf="authService.INTERNETCHECK">
  <ion-toolbar style="text-align: center">
    <div>
      <small class="label-Network" clear>Offline data not available.You are not connected to the Internet at the moment.
      </small>
    </div>
  </ion-toolbar>
</ion-footer>