<!--
  Generated template for the SubscriptionLoaderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding text-center>
  <ion-label style="font-size: 4vh;">Welcome to </ion-label>
  <img style="width: 70%;" src="../../assets/imgs/trans_logo.png" />

  <img src="../../assets/img/GIF.gif" />
  <ion-slides autoplay="1000" loop="true" speed="500" style="height: 100px;">
    <ion-slide>
      <ion-label>Optimizing your experience</ion-label>
    </ion-slide>
    <ion-slide>
      <ion-label>Checking Previous Subscriptions</ion-label>
    </ion-slide>

  </ion-slides>
</ion-content>