<!--
  Generated template for the WhatHotPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Dashboard</ion-title>
		<ion-buttons end>
			<button id="notification-button" ion-button icon-only (click)="Notification()">
				<ion-icon name="notifications">
					<ion-badge *ngIf="authService.NotifyCount !=0" id="notifications-badge" color="danger">{{authService.NotifyCount}}</ion-badge>
				</ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content class="mat-elevation-z8">
	<div style="margin-bottom: 60px;">
		<div *ngIf="FishNewslist && FishNewslist.length" class="Slide-cont">
			<ion-slides #slider *ngIf="FishNewslist && FishNewslist.length" autoplay="2000" loop="true" speed="500" class="small-slides"
			 pager>
				<ion-slide *ngFor="let news of FishNewslist" [ngStyle]="{'background-image': 'url(' + news.image_url +')'}" (click)="openNewsDetail(news)">
					<!-- <img src="{{news.image_url}}" /> -->
					<div class="slide-overlay">
						<div item-start class="label-news">
							NEWS
						</div>
						<ion-item>
							<!-- <div item-start class="date-added">{{event.date}} <span>{{event.day}}</span></div> -->
							<h2 text-wrap>{{news.title}}</h2>
							<strong text-wrap>{{news.short_description}}</strong>
						</ion-item>
					</div>
				</ion-slide>
			</ion-slides>
		</div>
		<div class="Slide-cont">
			<div class="sky-scene">
				<ion-list *ngIf="forecast && metrics && location">
					<button ion-item detail-none text-wrap color="primary" class="center no-label-margin" style="margin-bottom:-1px;" *ngIf="todayForecast"
					 (click)="itemClicked(todayForecast)">
						<strong>{{location.name}} , </strong>
						<small>
							{{utilService.getCalendarDay(todayForecast.time,forecast.timezone)}}</small>
						<ion-grid>
							<ion-row>
								<ion-col col-5>
									<img [src]="utilService.getWeatherIcon(todayForecast.icon)" style="max-width: 74%;height: 85px;" onerror="this.src='assets/img/default.png'">
									<br>
									<span class="small">{{utilService.startCase(todayForecast.icon)}}</span>
								</ion-col>
								<ion-col col-4 class="center-child">
									<div>
										<p class="center-child" style="font-size: 22px">
											{{utilService.formatTemp(todayForecast.temperatureMax,metrics)}}
										</p>
										<p class="center-child">
											{{utilService.formatTemp(todayForecast.temperatureMin,metrics)}}
										</p>
									</div>
								</ion-col>

								<ion-col col-3 class="center-child">
									<div>
										<img [src]="utilService.getWeatherIcon('sunrise')" style="max-width:40%" onerror="this.src='assets/img/default.png'">
										<div class="bold small">
											{{utilService.getTime(todayForecast.sunriseTime,metrics,forecast.timezone)}}
										</div>
										<img [src]="utilService.getWeatherIcon('sunset')" style="max-width:40%">
										<div class="bold small">
											{{utilService.getTime(todayForecast.sunsetTime,metrics,forecast.timezone)}}
										</div>
									</div>
								</ion-col>
							</ion-row>
						</ion-grid>
					</button>
				</ion-list>
			</div>
		</div>

		<div class="bottom-content" style="margin-top: 10px;">
			<!-- <h2>Events</h2> -->
			<ion-slides *ngIf="eventList && eventList.length" autoplay="3000" loop="true" speed="500" spaceBetween="10" slidesPerView="2">
				<ion-slide *ngFor="let item of eventList" class="ion-slide" (click)="openEventDetail(item)">
					<div class="slide-content"  [ngStyle]="{'background-image': 'url(' + getImage(item) +')'}">
						<div class="thumb-overlay" style="padding-left: 10px;padding-bottom: 5px;background-color: rgba(0, 0, 0, 0.6);box-shadow: 0px 0px 10px #000;border-radius: 5px;">
							<div class="inner-triangle">
								<div style="font-size: 20px;font-weight: 700;color: #FFF;"> {{item.eventDay}} </div>
								<span>{{item.Day | moment:'ddd'}}</span>
							</div>
							<div class="outer-triangle">
								<h3>{{item.title}}</h3>
								<p class="pricing">$ {{item.amount}}</p>
								<p> per person</p>
							</div>
						</div>
					</div>
				</ion-slide>
			</ion-slides>
		</div>

		<div *ngIf="ShoutOutList && ShoutOutList.length" class="Slide-cont">
			<ion-slides #slider *ngIf="ShoutOutList && ShoutOutList.length" autoplay="2000" loop="true" speed="500" class="small-slides"
			 pager>
				<ion-slide *ngFor="let catchPhoto of ShoutOutList" [ngStyle]="{'background-image': 'url(' + catchPhoto.image_url +')'}" class="swiper-slide-today"
				 (click)="ShoutOutDetails(catchPhoto)">
					<!-- <img src="{{catchPhoto.image_url}}" /> -->
					<div class="slide-overlay" style="padding-top: 40px;">
						<ion-item>
							<div item-start class="date-added label-date">
								<strong style="font-size: 16px;">{{catchPhoto.Day | moment:'MMM'}}</strong>
								<br> {{catchPhoto.eventDay}}
								<span>{{catchPhoto.Day | moment:'dddd'}}</span>
								<strong style="font-size: 16px;">{{catchPhoto.Day | moment:'YYYY'}}</strong>
							</div>
							<h2> Today's Catch - Photos </h2>
							<br>
							<strong style="font-size: 2vh" text-wrap>{{catchPhoto.shortDesp}}</strong>
						</ion-item>
					</div>
				</ion-slide>
			</ion-slides>
		</div>

		<ion-list class="DocList mat-elevation-z8">
			<ion-item style="background: #e0e0e0 !important;">
				<ion-row>
					<ion-col col-1>
						<!-- <h2>Last Count</h2> -->
					</ion-col>
					<ion-col col-7>
						<h2>River Name</h2>
					</ion-col>
					<ion-col col-4>
						<h2>Last Count</h2>
					</ion-col>
				</ion-row>
			</ion-item>
			<div *ngIf="FishCountLocList?.length != 0">
				<ion-item class="itemList" *ngFor="let area of FishCountLocList | orderBy: 'title'">
					<ion-row (click)="openAreaDetail(area)">
						<ion-col col-2 class="gps-icon">
							<!-- <div item-start class="count-circle">{{area.Fish_Count}}</div> -->
							<ion-icon ios="ios-pin-outline" md="ios-pin-outline"></ion-icon>
						</ion-col>
						<ion-col col-7>
							<p class="otherUsers" text-wrap>{{area.titleSplit}}</p>
							<p class="otherUsers" text-wrap>{{area.fromDate}}</p>
							<small style="color: #8d8d8d;float: left;" *ngIf="area.Fish_Count != 'empty'">{{area.Count_Date | moment:'MMMM DD, YYYY'}}
							</small>
						</ion-col>
						<!-- <ion-col col-3 class="arrow-icon">
						<div class="traspernt-div" text-wrap>
							{{area.formDate}}
						</div>
					</ion-col> -->

						<ion-col col-3 class="arrow-icon" [ngStyle]="{'background-image': 'url(' + image_url +')'}">
							<div class="traspernt-div">
								<!-- <ion-icon name="ios-arrow-forward"></ion-icon> -->
								{{area.Fish_Count}}
							</div>
						</ion-col>
					</ion-row>
				</ion-item>
			</div>
			<ion-item class="itemList" *ngIf="FishCountLocList?.length == 0">
				<ion-row>
					<ion-col col-12>
						<p>No Rivers marked as favorite yet.</p>
					</ion-col>
				</ion-row>
			</ion-item>
		</ion-list>
		<ion-list class="DocList mat-elevation-z8">
			<ion-item style="background: #e0e0e0 !important;">
				<ion-row>
					<ion-col col-11>
						<h2>River Flows</h2>
					</ion-col>
				</ion-row>
			</ion-item>
			<div *ngIf="waterLocList?.length != 0">
				<ion-item class="itemList" *ngFor="let area of waterLocList | orderBy: 'Name'">
					<ion-row>
						<ion-col col-2 class="gps-icon">
							<ion-icon ios="ios-pin-outline" md="ios-pin-outline"></ion-icon>
						</ion-col>
						<ion-col col-10 (tap)="openWaterAreaDetail(area)">
							<p class="otherUsers" text-wrap>{{area.Name}} </p>
						</ion-col>
					</ion-row>
					<ion-row class="text-format" (tap)="openWaterAreaDetail(area)">
						<ion-col col-12>
							Most recent Data : {{area.date | moment:'MM/DD/YY'}}, {{area.time}}
						</ion-col>
						<ion-col col-6>
							Water Temp: {{area.water_temp}} °F
						</ion-col>
						<ion-col col-6>
							Gage Height: {{area.gage_height}} ft
						</ion-col>
						<ion-col col-6>
							Air Temp: {{area.air_temp}} °F
						</ion-col>
						<ion-col col-6>
							Flow Rate: {{area.discharge}} ft³/s
						</ion-col>
					</ion-row>
				</ion-item>
			</div>
			<ion-item class="itemList" *ngIf="waterLocList?.length == 0">
				<ion-row>
					<ion-col col-12>
						<p>No Rivers marked as favorite yet.</p>
					</ion-col>
				</ion-row>
			</ion-item>
		</ion-list>
	</div>
</ion-content>

<ion-footer *ngIf="authService.INTERNETCHECK">
	<ion-toolbar style="text-align: center">
		<div>
			<small class="label-Network" clear>Offline data not available.You are not connected to the Internet at the moment.
			</small>
		</div>
	</ion-toolbar>
</ion-footer>