.theme-dark {
  page-dashboard {


    .swiper-slide-today {
      background-repeat: no-repeat;
      background-size: cover !important;
      background-position: inherit !important;
  }



.bold{
  color: white !important;
}
.itemList ion-label{
  color: black;
}
#notification-button {            
  position: relative;
  width: 42px;
  top:1px;
  right: 1px;
  overflow: visible!important;
}
#notifications-badge {
    background-color: red;
    position: absolute;
    top: -3px;
    right: -3px;
    border-radius: 100%;
}

      ion-content{ 
        background: #ffffff !important;
    }
  
    .outer-triangle{
      padding-top: 120px;
    }
    .ion-slide{
      // width: 190px !important;
    }

    .inner-triangle{
      border-left: 20px solid transparent;
      /* border-right: 20px solid green; */
      /* border-bottom: 20px solid transparent; */
      height: 0;
      width: 0;
      position: absolute;
      right: 0px;
      z-index: 2;
      height: 60px;
      width: 71px;
      background: #18cbef;
      border-radius: 0px 6px 0px 60px;
      font-size: 16px;
      font-weight: bold;
      color: #FFFFFF !important;
      text-align: center;
      line-height: 1; 
      padding: 8px;
  }


.gps-icon{
  color: #18cbef;
    font-size: 30px;
    font-weight: 700;
}

  .arrow-icon{
    color: #ffffff;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0px 0px;
  }
  .traspernt-div{
    color: #ffffff;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 9px 0px;
  }

  
  .count-circle{
    border-radius: 27px;
    width: 44px;
    font-size: 14px;
    height: 40px;
    background: #18cbef;
    font-weight: bold;
    color: #FFFFFF !important;
    text-align: center;
    padding: 10px 0px;
  }
  .otherUsers{
      color: #18cbef !important;
      font-weight: 500;
      text-align: left;
  }
  
  ion-label{
  text-align: center;
  }
  
  
  .DocList{
    margin-top: 22px;
      margin:35px 8px;
  }
  .example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  
    .Slide-cont{
      // height: 170px;
      margin: 0px 10px;
      margin-top: 20px;
    }
    .center-child {
      color: #fff;
      font-size: 19px;
      margin: 0px;
      font-weight: 600;
  }
  
    .sky-scene {
      // height: 175px;
         position: relative;
         overflow: hidden;
         background: #0099ff;
         background: -webkit-gradient(linear, left top, left bottom, from(#0099ff), to(#00ccff));
         background: linear-gradient(top, #0099ff, #00ccff);
         box-shadow: 0px 0px 10px #545454;
         border-radius: 4px;
  }

  .label-news{
    font-size: 11px;
    font-weight: bold;
    color: #FFFFFF !important;
    text-align: center;
    line-height: 1;
    background: #ff2222;
    padding: 8px;
    width: 60px;
  }


  .label-date{
  font-size: 28px;
  font-weight: bold;
  color: #FFFFFF !important;
  text-align: center;
  line-height: 1;
  background: #18cbef;
  padding: 8px;
  }
  ion-list {
    background-color:transparent !important;
  }
  ion-label,.item-inner,.input-wrapper,ion-item,.item {
    background-color:transparent !important;
    background: transparent !important;
    color: white;
  }
  
  .center-child{
    color: #fff;
    font-size: 22px;
    margin: 0px;
    font-weight: 600;
  }
  
      .img-event{
        width: 191px;
        height: 150px;
      }
      .pricing{
        color: #18cbef !important;
      }
      .icon-accept{
        font-size: 22px;
            color:#18cbef;
            font-weight: 100;
            display: block;
        }
        .icon-reject{
          font-size: 22px;
              color:#ef1818;
              font-weight: 100;
              display: block;
          }
          .icon-accepted{
            font-size: 22px;
                color: #5cb85c;
                border-color: #4cae4c;
                font-weight: 100;
                display: block;
            }
         
  
      h1,
      h2,
      h3,
      div,
      p {
        color: color($colors, dark, base);
        font-size: 14px;
        margin: 0px;
      }
      ion-slides {
        .swiper-slide {
        background-repeat: no-repeat;
        background-size: contain;
        text-align: center; 
        background-position: center;
        }

        &.small-slides {
          height: 30vh;
          position: relative;
          box-shadow: 0px 0px 10px #000;
          .slide-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            padding: 8px;
            text-align: left;
            h2 {
              margin: 0px;
            }
            p {
              font-size: 14px;
              margin: 0px;
              color: #19cbef;
            }
            .date-added {
              font-size: 28px;
              font-weight: bold;
              color: #19cbef;
              text-align: right;
              line-height: 1;
              span {
                display: block;
                font-size: 12px;
                font-weight: 100;
                color: #fff;
              }
            }
            .item-inner,
            .input-wrapper,
            ion-label {
              background-color: transparent;
              border: 0px !important;
            }
            ion-label {
              h2 {
                font-size: 20px;
                font-weight: bold;
                color: #fff;
              }
              strong {
                font-weight: 500;
                color: #19cbef;
                font-size: 16px;
              }
            }
            ion-item {
                  padding: 0px;
            }
          }
          .swiper-pagination-bullet{
            width: 4px;
            height: 4px;
            margin: 0 3px;
            border: 1px solid #fff;
            background-color: transparent;
            opacity: 1;
          }
          .swiper-pagination-bullet-active{
            background-color: #fff;
          }
        }
      }
  
      .bottom-content {
        padding: 10px;
        h2 {
          margin: 0px;
          font-size: 16px;
              margin-bottom: 10px;
        }
      }
      .slide-content {
        text-align: left;
        margin-bottom: 20px;
        // height: 190px;
        // width: 190px;
        /* margin: 5px; */
        /* background-size: contain; */
        background-repeat: round;
        background-size: cover;
        .slide-thumb {
          width: 100%;
          height: 150px;
          background-size: cover !important;
          background-position: center !important;
        }
        h3,p {
          font-size: 15px;
          margin: 0px;
          color: #FFF;
          margin-top: 8px;
        }
        .trip-type {
              font-size: 11px;
      font-weight: bold;
      color: #737373;
      display: block;
      margin-top: 4px;
        }
       
      }
      .col-paddings {
        padding: 0px;
        h3 {
          font-size: 10px;
          margin: 0px;
          margin-top: 6px;
        }
        p {
          font-size: 10px;
          margin: 0px;
        }
        .thumb-overlayer {
          padding-top: 120px;
          padding-left: 10px;
          padding-bottom: 5px;
          background-color: rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 10px #000;
          border-radius: 5px;
        }
  
  
  
  
        .thumb-overlay {
          position: relative;
          padding-top: 120px;
          padding-left: 10px;
          padding-bottom: 5px;
          background-color: rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 10px #000;
          border-radius: 5px;
          img {
            margin-bottom: -3px;
          }
          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #000;
            opacity: 0.4;
          }
          ion-icon {
            position: absolute;
            top: 5px;
            right: 5px;
            color: #fff;
            &.liked{
              color: #d85a4b;
            }
          }
        }
        ion-row {
          margin: 0px -5px;
          ion-col{
            padding-top: 0px;
            padding-bottom: 10px;
          }
        }
  
      }
    }
  }