.theme-dark {
  page-guide-detail {
    ion-card ion-item{
      background: #ffffff !important;
      background-color: #ffffff !important;
    }
    .blank-bg {
      height: 150px;
      display: block;
      background-color: #19cbef;
    }
    ion-content{ 
      background: #ffffff !important;
  }
    h2,
    div,
    p {
      color: color($colors, dark, base);
    }
    h2 {
      font-size: 2.1rem;
      font-weight: 900;
      margin: 0px 0px 5px 0px;
    }
    .guide-info {
      padding: 0px 15px;
      ion-col {
        padding: 0px;
        margin: 30px 0px;
      }
      .thumb {
        width: 150px;
        height: 150px;
        overflow: hidden;
        border-radius: 50%;
        margin: auto;
        margin-top: -100px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
      }
      p {
        font-size: 13px;
        margin: 0px;
      }
      .verified-info {
        font-weight: 600;
        font-size: 14px;
        margin: 4px 0px;
        ion-icon {
          color: #437504;
          margin-left: 6px;
        }
      }
    }
    .guide-reviews {
      padding: 0px 15px;
      padding-bottom: 20px;
      .item-inner,
      .input-wrapper,
      ion-label {
        background-color: #fff;
        background: #fff;
      }
      ion-card {
        margin: 15px 0px;
        width: 100%;
        ion-avatar img {
          width: 44px;
          height: 44px;
        }
        .item-inner {
          padding: 0px;
          h2 {
            font-size: 1.6rem;
          }
          p {
            font-size: 11px;
            color: #797979;
          }
          .rating {
            margin: 0px;
            color: #f9c13a;
          }
        }
        .review-text {
          padding: 0px 10px;
          p {
            font-size: 12px;
            margin: 0px;
          }
        }
      }
      .leave-review-btn {
        background-color: #19cbef;
        width: calc(100% - 30px);
        margin: auto;
        border-radius: 3px;
        -webkit-box-shadow: 5px 5px 4px rgba(202, 202, 202, 0.5);
        box-shadow: 5px 5px 4px rgba(202, 202, 202, 0.5);
        font-weight: 500;
      }
    }
  }
}
