<!--
  Generated template for the GuideDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar>
		<ion-title>{{authService.userDetailsData.username}}</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<div class="blank-bg"></div>
	<ion-row class="guide-info">
		<ion-avatar class="thumb">
			<!-- <img src="assets/img/avatar/girl-avatar.png"> -->
			<img style="width: 100%;" *ngIf="authService.userDetailsData.image_url==null && authService.userDetailsData.image_url==undefined"
			 src="assets/img/icon/placeholder.png">
			<img style="width: 100%;" *ngIf="authService.userDetailsData.image_url!==null && authService.userDetailsData.image_url!==undefined"
			 src="{{authService.userDetailsData.image_url}}">

		</ion-avatar>
		<ion-col col-12>
			<h2>{{authService.userDetailsData.username}}</h2>
			<span>#100 Trips</span>
			<p class="verified-info">Verified Info
				<ion-icon name="checkmark-circle"></ion-icon>
			</p>
			<p>Phone-{{authService.userDetailsData.phone_no}},<br>
				<!-- Address-{{UserDetails.street_address1}},{{UserDetails.street_address2}},Zip-Co<br> -->
				Email Id-{{authService.userDetailsData.email}}<br>
			</p>
		</ion-col>
	</ion-row>
	<!-- <ion-row class="guide-reviews">
		<h2>{{userReviewDetails.length}} Reviews</h2>
		<ion-card *ngIf="this.authService.ReviewAll[0] != undefined">
			<ion-item>
				<ion-avatar item-start>
						<img *ngIf="this.authService.ReviewAll[0].reviewed_by.image_url==undefined && this.authService.ReviewAll[0].reviewed_by.image_url==null" src="assets/img/icon/placeholder.png">
					<img *ngIf="this.authService.ReviewAll[0].reviewed_by.image_url!==undefined && this.authService.ReviewAll[0].reviewed_by.image_url!==null" src="{{this.authService.ReviewAll[0].reviewed_by.image_url}}">
				</ion-avatar>
				<h2>{{this.authService.ReviewAll[0].reviewed_by.first_name}} {{this.authService.ReviewAll[0].reviewed_by.last_name}}</h2>
				<p>{{this.authService.ReviewAll[0].created_at | moment:'MMMM D YYYY, h:mm a'}}</p>
				<div class="rating" item-end>
					<rating class="rating" item-end [(ngModel)]="this.authService.ReviewAll[0].rating" readOnly="true"></rating>
				</div>
			</ion-item>
			<ion-row class="review-text">
				<ion-col col-12>
					<p>{{this.authService.ReviewAll[0].review}}</p>
				</ion-col>
				<ion-col col-12>
					<a ion-text color="primary" (click)="openReviewList(guideReviewList)">See all reviews</a>
				</ion-col>
			</ion-row>
		</ion-card>

		<button ion-button full class="leave-review-btn" (click)="openReviewForm()">Leave your review</button>
	</ion-row> -->
</ion-content>
<ion-footer *ngIf="authService.INTERNETCHECK">
	<ion-toolbar style="text-align: center">
		<div>
			<small class="label-Network" clear>Offline data not available.You are not connected to the Internet at the moment.
			</small>
		</div>
	</ion-toolbar>
</ion-footer>