<ion-header>
    <ion-navbar>
        <ion-title>{{pdfUrl.title}}</ion-title>
        <!-- <ion-buttons end>
            <button id="notification-button" ion-button icon-only (click)="Notification()">
                <ion-icon name="notifications">
                    <ion-badge *ngIf="authService.NotifyCount !=0" id="notifications-badge" color="danger">{{authService.NotifyCount}}</ion-badge>
                </ion-icon>
            </button>
        </ion-buttons> -->
    </ion-navbar>
</ion-header>
<ion-content class="mat-elevation-z8">
    <div *ngIf="pdfUrl.pdfURL!= null && pdfUrl.pdfURL !=undefined">
        <pdf-viewer [src]="this.pdfUrl.pdfURL" [zoom]="pdfZoom" [fit-to-page]="true" [show-all]="true">
        </pdf-viewer>
    </div>
    <div *ngIf="pdfUrl.pdfURL== null && pdfUrl.pdfURL ==undefined" style="text-align: center;margin-top: 150px">
        <img style="height: 12vh;" src="assets/img/FNF.png">
        <p>File is not Available</p>
    </div>
    <ion-fab bottom right>
        <button ion-fab mini (click)="zoomIn()">
            <img style="height: 4vh;" src="assets/icon/zoomIn.png">
        </button>
        <button ion-fab mini (click)="zoomOut()">
            <img style="height: 4vh;" src="assets/icon/zoomOut.png">
        </button>
        <button ion-fab mini (click)="resetZoom()">
            <ion-icon name="refresh"></ion-icon>
        </button>
    </ion-fab>
</ion-content>
<ion-footer *ngIf="authService.INTERNETCHECK">
    <ion-toolbar style="text-align: center">
        <div>
            <small class="label-Network" clear>Offline data not available.You are not connected to the Internet at the
                moment.
            </small>
        </div>
    </ion-toolbar>
</ion-footer>