.theme-dark {
page-LicenpdfView {
	ion-content,.footer .toolbar-background, .toggle-checked {
		background: #ffffff !important;
	}

  ion-fab {
		position:fixed;
  }
  ion-fab[bottom] {
    bottom: 35px;
}
p{
	color: black;
}
	pdf-viewer {
		display:inline-block;
		max-width:100% !important;
	}
	ion-content {
		background: color($colors, light, base);
		ion-item{
			background-color: #ffffff;
			background:#FFFFFF;
		}
	}
	ion-list,
	.input-wrapper,
	ion-label,
	.item-inner {
		background-color: #fff;
		color: color($colors, dark, base);
	}
}
}