<ion-header>
    <ion-navbar>
        <ion-title style="float: left;">Offered Trip</ion-title>
        <!-- <ion-icon class="icon-button-mdmark" ios="ios-checkmark" md="md-checkmark"  (click)="save()"></ion-icon> -->
    </ion-navbar>
</ion-header>
<ion-content padding="">
    <form [formGroup]="RequestTripForm" (ngSubmit)="save()">
        <div style="padding: 20px 10px 0px 15px;">
            <ion-list>
                <ion-row>
                    <ion-item class="input-border">
                        <mat-select formControlName="fishingtypes" placeholder="Type of Fishing/ Activity">
                            <mat-option *ngFor="let item of authService.fishingtypesList;" [value]="item._id">{{item.title}}</mat-option>
                        </mat-select>
                    </ion-item>
                    <small *ngIf="RequestTripForm.get('fishingtypes').hasError('required') && RequestTripForm.get('fishingtypes').touched" style="color: red;float: left;">
                        Select Fishing Type
                    </small>
                </ion-row>
                <ion-row>
                    <ion-item class="input-border">
                        <mat-select formControlName="Locationtypes" placeholder="Fishing Location">
                            <mat-option *ngFor="let item of authService.LocationtypesList;" [value]="item._id">{{item.title}}</mat-option>
                        </mat-select>
                    </ion-item>
                    <small *ngIf="RequestTripForm.get('Locationtypes').hasError('required') && RequestTripForm.get('Locationtypes').touched"
                        style="color: red;float: left;">
                        Select Fishing Location
                    </small>
                </ion-row>
                <ion-row>
                    <ion-item class="input-border">
                        <ion-label floating>Price Offered Per Angler ($)</ion-label>
                        <ion-input type="number" formControlName="WillingPrice"></ion-input>
                    </ion-item>
                    <small *ngIf="RequestTripForm.get('WillingPrice').hasError('required') && RequestTripForm.get('WillingPrice').touched" style="color: red;float: left;">
                        Enter Willing Price
                    </small>
                </ion-row>
                <ion-row>
                    <small *ngIf="ErrorMsg" style="color: red;float: left;">
                        {{ErrormsgText}}
                    </small>
                </ion-row>
                <ion-row>
                    <ion-item class="input-border">
                        <ion-label floating># Of Seat Available</ion-label>
                        <ion-input type="number" formControlName="Person"></ion-input>
                    </ion-item>
                    <small *ngIf="RequestTripForm.get('Person').hasError('required') && RequestTripForm.get('Person').touched" style="color: red;float: left;">
                        Enter # Of People
                    </small>
                </ion-row>
                <ion-row>
                    <ion-item class="input-border" style="margin-top: 10px">
                        <mat-select formControlName="Boatypes" placeholder="Boat Type">
                            <mat-option *ngFor="let item of authService.BoatypesList;" [value]="item._id">{{item.title}}</mat-option>
                        </mat-select>
                    </ion-item>
                    <small *ngIf="RequestTripForm.get('Boatypes').hasError('required') && RequestTripForm.get('Boatypes').touched" style="color: red;float: left;">
                        Select Boat Type
                    </small>
                </ion-row>
                <ion-row>
                    <ion-col col-6>
                        <ion-item class="input-border">
                            <ion-label floating>Date</ion-label>
                            <!-- <ion-input type="text"  formControlName="Date"></ion-input>mm-dd-YYYY) -->
                            <ion-datetime formControlName="Date" [min]="startDatetimeMin" [max]="2100-12-31" displayFormat="MM/DD/YYYY" pickerFormat="MM DD YYYY"
                                [(ngModel)]="myDate"></ion-datetime>
                        </ion-item>
                        <small *ngIf="RequestTripForm.get('Date').hasError('required') && RequestTripForm.get('Date').touched" style="color: red;float: left;">
                            Select Date
                        </small>
                    </ion-col>
                    <ion-col col-6>
                        <ion-item class="input-border" style="margin-top: 26px;">
                            <!-- <ion-label floating>Time</ion-label> -->
                            <mat-select formControlName="Time" placeholder="Trip Length">
                                <mat-option *ngFor="let item of TimeData;" [value]="item.title">{{item.title}}</mat-option>
                            </mat-select>
                            <!-- <ion-datetime formControlName="Time" displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="Time"></ion-datetime> -->
                            <!-- <ion-input type="text"  formControlName="Time"></ion-input> -->
                        </ion-item>
                        <small *ngIf="RequestTripForm.get('Time').hasError('required') && RequestTripForm.get('Time').touched" style="color: red;float: left;">
                            Select Trip Length
                        </small>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="authService.is_featured=='yes' && authService.userDetails.Details.length !== 0">
                    <ion-item>
                        <ion-checkbox id="Buinessinfo" name='Buinessinfo' formControlName="Buinessinfo" [checked]="false"></ion-checkbox>
                        <ion-label text-wrap> Make Business Info Visible With This Post?</ion-label>
                    </ion-item>
                </ion-row>
                <ion-row *ngIf="authService.is_featured=='yes' && authService.userDetails.Details.length !== 0">
                    <ion-item>
                        <mat-accordion>
                            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Business Information
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-panel-description>
                                    <div>
                                        <p>Business Name:{{Business_Name}}</p>
                                        <p>Contact:{{cont_Number}}</p>
                                        <p>Email Address:{{Email_Id}}</p>
                                        <p>URL #1:
                                            <span>{{FirstURL}}</span>
                                        </p>
                                        <p>URL #2:
                                            <span>{{SecondURL}}</span>
                                        </p>
                                        <p>URL #3:
                                            <span>{{ThirdURL}}</span>
                                        </p>
                                        <p>About The Business:</p>
                                        <p>{{Business_Desp}}</p>
                                    </div>
                                </mat-panel-description>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </ion-item>
                </ion-row>
                <ion-row>
                    <button ion-button block round color="light" class="login-button" [disabled]="!RequestTripForm.valid">Submit</button>
                </ion-row>
            </ion-list>

        </div>


    </form>
</ion-content>
<ion-footer *ngIf="authService.INTERNETCHECK">
    <ion-toolbar style="text-align: center">
        <div>
            <small class="label-Network" clear>Offline data not available.You are not connected to the Internet at the moment.
            </small>
        </div>
    </ion-toolbar>
</ion-footer>