<!--
  Generated template for the TidesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>River Flows</ion-title>
    <!-- <ion-buttons end>
      <button id="notification-button" ion-button icon-only (click)="Notification()">
        <ion-icon name="notifications">
          <ion-badge *ngIf="authService.NotifyCount !=0" id="notifications-badge" color="danger">{{authService.NotifyCount}}</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
  <ion-segment class="heading-cont" [(ngModel)]="tabType">
    <ion-segment-button class="segement" value="FavLocation" (ionSelect)="btnSegmentCall('FavLocation')">Favorite</ion-segment-button>
    <ion-segment-button class="segement" value="AllLocation" (ionSelect)="btnSegmentCall('AllLocation')">All Stations</ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content class="mat-elevation-z8">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list class="docListFirst docList" *ngIf="waterLocList.length !== 0">
    <ion-item class="itemList" *ngFor="let area of waterLocList | orderBy: 'Name'">
      <ion-row>
        <ion-col col-1 *ngIf="tabType=='AllLocation'">
          <div mat-button icon-left icon-only small *ngIf="!area.favouriteStatus" (tap)="addTofavouriteLocList(area)">
            <ion-icon style="color: black;font-size: 22px;padding: 4px;" ios="ios-heart-outline" md="md-heart-outline"></ion-icon>
          </div>
          <div mat-button icon-left icon-only small *ngIf="area.favouriteStatus" (tap)="addTofavouriteLocList(area)">
            <ion-icon style="color: rgb(255, 4, 4);font-size: 22px;padding: 4px;" ios="ios-heart" md="md-heart"></ion-icon>
          </div>
        </ion-col>
        <ion-col col-1 *ngIf="tabType!='AllLocation'">
          <div mat-button icon-left icon-only small *ngIf="!area.favouriteStatus" (tap)="addTofavouriteList(area)">
            <ion-icon style="color: black;font-size: 22px;padding: 4px;" ios="ios-heart-outline" md="md-heart-outline"></ion-icon>
          </div>
          <div mat-button icon-left icon-only small *ngIf="area.favouriteStatus" (tap)="addTofavouriteList(area)">
            <ion-icon style="color: rgb(255, 4, 4);font-size: 22px;padding: 4px;" ios="ios-heart" md="md-heart"></ion-icon>
          </div>
        </ion-col>
        <ion-col col-10 (tap)="openAreaDetail(area)">
          <p class="otherUsers" text-wrap>{{area.Name}} </p>
          <!-- <p><small *ngIf="area.date != 'empty'">
            </small></p> -->
        </ion-col>
      </ion-row>
      <ion-row class="text-format" (tap)="openAreaDetail(area)">
        <ion-col col-12>
          Most recent Data : {{area.date |
          moment:'MM/DD/YY'}}, {{area.time}}
        </ion-col>
        <ion-col col-6>
          Water Temp: {{area.water_temp}} °F
        </ion-col>
        <ion-col col-6>
          Gage Height: {{area.gage_height}} ft
        </ion-col>
        <ion-col col-6>
          Air Temp: {{area.air_temp}} °F
        </ion-col>
        <ion-col col-6>
          Flow Rate: {{area.discharge}} ft³/s
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
  <div class="No-notify" style="margin-top:20%;" *ngIf="waterLocList.length == 0 && tabType!='AllLocation'">
    <img style="height: 150px;margin: 0px 30%;" src="assets/img/Riverboat.png">
    <div style="text-align: center;color: black;">
      No Stations
      <br> Selected As Favorites Yet.
    </div>
  </div>

  <!-- && tabType=='AllLocation' -->
  <!-- <ion-infinite-scroll *ngIf="page < totalPage" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->

</ion-content>
<ion-footer *ngIf="authService.INTERNETCHECK">
  <ion-toolbar style="text-align: center">
    <!-- <ion-row style="text-align: center;color: black;">
      <ion-col col-6>
        WT: Water Temp °C <br>
        DC: Discharge ft³/s
      </ion-col>
      <ion-col col-6>
        AT: Air Temp °C <br>
        GH: Gage Height ft
      </ion-col>
    </ion-row> -->
    <div>
      <small class="label-Network" clear>Offline data not available.You are not connected to the Internet at the
        moment.
      </small>
    </div>
  </ion-toolbar>
</ion-footer>