.theme-dark {
  page-USGSFlowsPage {
    .mat-tab-header{
      background: #212733;
    }
  
    .text-format{
      text-align: center;
      font-size: 12px;
      font-weight: 600;  
    }
   
    .mat-tab-label {
      min-width: 72px;
      width: 50%;
      opacity: 100;
      div {
        color:  #ffffff;
    }
    
  }
  text.highcharts-credits {
    display: none;
  }
  .mat-tab-group {
    display: flex;
    flex-direction: column;
    color: #FFF;
  }
  .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #18cbef;
    width: 50% !important;
    left: 0px;
    height: 3px;
  }
  







    .No-notify{
      text-align: center;
      margin-top: 150px;
      color: #000;
      font-size: 16px;
      font-weight: 500;
    }
    .segment-md .segment-button.segment-activated {
      border-color: #ffffff;
      border-bottom: 2px #387ef5 solid;
      opacity: 1;
  }
    .button-small-md {
      height: 2.1em;
      font-size: 1.3rem;
      padding: 0 0em !important;
  }
  .item-md {
     padding-left: 0px !important; 
     padding-right: 0px !important; 
  }
  ion-segment {
    .segment-button {
      background-color: #212733;
      color: #fff;
      opacity: 1;
    //  border-right: 1px #FFF solid;
    }
    &.segment-ios{
      .segment-activated{
        color:  #212733;
      }
      .segment-button:hover{
            color: #212733;
            background-color: #78e1f6;
      }
    }
  }
  
    #notification-button {            
      position: relative;
      width: 42px;
      top:1px;
      right: 1px;
      overflow: visible!important;
  }
  small{
    color: #8d8d8d;
  }
  
  
  #notifications-badge {
      background-color: red;
      position: absolute;
      top: -3px;
      right: -3px;
      border-radius: 100%;
  }
  
    ion-list {
      background-color: #ffffff !important;
     }
      ion-content,
      .input-wrapper,
      .item-inner,
      .item,
      ion-footer,
      ion-item,
      ion-label,ion-footer .toolbar-background {
        transition: all 1.1s ease;
        background-color: #ffffff !important;
        background: #ffffff !important;
        color: rgb(2, 2, 2);   
      }
     
      p {
        color: #18cbef !important;
        font-weight: 500;
      }
  .arrow-icon{
    color: #ffffff;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0px 0px;
  }
  .traspernt-div{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 9px 0px;
  }
     
  }
  }