.theme-dark {
  UserType {
    .transparent-header .toolbar-content, .transparent-header .back-button {
      color: black;
  }

.text-style{
  color: black;
    text-align: center;
    font-weight: 158px;
    font-weight: 700;
    justify-content: center;
}


  .logo {
    width: 40%;
    height: 40%;
    max-width: 19em;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 8%;
  }

     ion-content {
      background: #ffffff !important;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-color: transparent;
  
      
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .mat-input-ripple {
    background-color: #18cbef;
  }
  .mat-form-field-invalid .mat-form-field-ripple {
    background-color: #f44336;
  }
  .mat-input-element {
    caret-color: #18cbef;
    color: #000000;;
  }
  .mat-focused .mat-form-field-label{
    color:#18cbef;
  }
      .mat-form-field {
        font-family: "Roboto","Helvetica Neue",sans-serif;
        font-size: medium;
        font-weight: 500;
        line-height: 3.125;
    }
    .mat-form-field-infix {
      display: block;
      position: relative;
      flex: auto;
      min-width: 0;
  //    width: 285px;
  }
      ::-webkit-input-placeholder {
        color:#333333 !important;
        font-size: 1px;
      }
  
    .text-input-md {
      margin: 13px 8px;
      padding: 0;
      width: calc(100% - 8px - 8px);
      color: black;
      }
      
  ion-icon {
    display: inline-block !important;
    font-size: 1.5em !important;
    color: #333333 !important;
  }
  
  .login-button {
    border-radius: 4px;
    width: 301px;
    height: 40px;
    background: #18cbef;
    box-shadow: 5px 5px 4px rgba(202,202,202,0.5);
    top: 28px;
    width: 100%;
    max-width: 100%;
    height: 50px;
    font-size: 1.2em;  
  }
  
  .forgot-Password {
    color: #000000;
   // font-size: 18px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    margin-top: 15px;
    width: 100%;
    height: 14px;
    text-align: center;
  }
    }
  
    .logo {
      width: 40%;
      height: 40%;
      max-width: 19em;
      margin: 0 auto;
      margin-top: 11%;
      margin-bottom: 8%;
    }
    ion-row {
      align-items: center;
      text-align: center;
    }
    ion-col {
      padding: 0 20px;
    }
    span,
    p,
    h3 {
      color:#333333;
    }
    
    .login-button {
      border-radius: 4px;
      width: 301px;
      height: 40px;
      background: #18cbef;
      box-shadow: 5px 5px 4px rgba(202,202,202,0.5);
      top: 28px;
      width: 100%;
      max-width: 40rem;
      height: 50px;
      font-size: 1.2em;
    }
    .forgot-button {
      font-weight: bold;
      float: right;
      ion-icon {
        padding-left: 10px;
        font-size: 2.2rem;
      }
    }
   
    .error p {
      color: rgb(230, 3, 3) !important;
      text-align: left;
      font-size: 12px;
  }
  
    ion-content,
    .input-wrapper,
    .item-inner,
    .item,
    ion-footer,
    ion-item,
    ion-label {
      //transition: all 1.1s ease;
      background-color: #ffffff !important;
      background: #ffffff !important;
      color: rgb(2, 2, 2); 
     // position: initial !important;
    }
  
    
  }
}