<div class="transparent-header" [ngStyle]="{'background-image': 'url(' + backgroundImage +')'}">
  <ion-header>
    <ion-navbar>
      <!-- Forgot Password -->
    </ion-navbar>
  </ion-header>
</div>
<ion-content padding="">
  <ion-row>
    <img class="logo" src="assets/img/logo/logo-pr.png" />
  </ion-row>
  <ion-row class="text-style">
    <h2 style="color: black;font-weight: 700;">ARE YOU</h2>
  </ion-row>
  <ion-row>
    <ion-col col-6>
      <button mat-raised-button  block round color="light" class="login-button" (tap)="UserSelection('guide')">Guide</button>
    </ion-col>
    <ion-col col-6>
      <button mat-raised-button  block round color="light" class="login-button" (tap)="UserSelection('angler')">Angler</button>
    </ion-col>
  </ion-row>


  <!-- <form [formGroup]="RegisterForm" (ngSubmit)="register()">

  </form> -->
</ion-content>
<!-- <ion-footer *ngIf="authService.INTERNETCHECK">
  <ion-toolbar style="text-align: center">
    <div>
      <small *ngIf="authService.INTERNETCHECK" class="error">
        <p>* Please check your network connection.</p>
      </small>
    </div>
  </ion-toolbar>
</ion-footer> -->