<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Tides</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="6">
    <agm-marker *ngFor="let marker of pinsDataList; let pos = index" [latitude]="marker.lat" [longitude]="marker.lon"
      [iconUrl]="marker.iconUrl" (markerClick)="clickedViewMarker(marker,infoWindow, pos)">
      <agm-info-window style="color:#000;margin-top:5px;" #infoWindow>
        <strong>{{marker.geoGroupName}}</strong>
        <br>
        <div style="text-align: center;color: #000">
          <strong>{{today | moment:'MMMM D YYYY'}}</strong>
        </div>
        <table>
          <tr *ngFor="let markers of currentDateData; let pos = index">
            <td>{{markers.time}}</td>
            <td>{{markers.highlow}}</td>
            <td>{{markers.pred_in_ft}} ft</td>
          </tr>
        </table>
        <br>
        <button ion-button no-margin small full (click)="MarkerViewDetails()">
          View more
        </button>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</ion-content>
<ion-footer *ngIf="authService.INTERNETCHECK">
  <ion-toolbar style="text-align: center">
    <div>
      <small class="label-Network" clear>
        Pins that are yellow have data that is available offline.<br> The rest of the markers need a working internet
        connection
        to show the information to you.
      </small>
    </div>
  </ion-toolbar>
</ion-footer>