page-Tides {
    ion-content,
    .input-wrapper,
    .item-inner,
    .item,
    ion-footer,
    ion-item,
    ion-label {
      background-color: #ffffff !important;
      background: #ffffff !important;
      color: rgb(2, 2, 2);   
    }
   
    p {
      color:#333333 !important;
    }

    .table_Data{
        width: 205px;
        text-align: left;
    }
ion-icon {
  display: inline-block;
  font-size: 1.7em;
}
ion-content h2,table,div {
  color: black !important;
}
agm-map {
  height: 100%;
  width: 100%;

}

ion-content span{
  //color: #0434d1 !important;
  float: left;
}
.toolbar-title {
  color: rgb(255, 255, 255) !important;
}
table{
  font-weight: 400;
  width: 170px;
      text-align: center;
  }
  td, th{
    padding: 3px;
  }
}
