
page-commercial-fishing-info {
  .item {
    // vertical-align: top;
     display: inline-block;
     text-align: center;
     width: 100%;
 }
  .caption {
        display: block;
        color: #000 ;
        font-size: 3vw;
    }
    agm-map {
        height: 100%;
        width: 100%;
      
      }
      .agm-info-window-content{
        text-align: center;
        color: #000 ;
      }
      .heading-data{
        position: relative;
        overflow: hidden;
        color: #000000 ;
        background: #ffffff;
       
        p {
          color:#000000;
        }
        }
      
      
        ion-footer .toolbar-background{
      background: #ffffff;
      background-color: #ffffff !important;
        }
      
        .layout-data{
            position: relative;
            overflow: hidden;
            color: #000 !important;
            background: #0099ff;
            background: -webkit-gradient(linear, left top, left bottom, from(#0099ff), to(#00ccff));
            background: linear-gradient(top, #0099ff, #00ccff);
            -webkit-box-shadow: 0px 0px 10px #545454;
            box-shadow: 0px 0px 10px #545454;
            border-radius: 4px;
            padding: 4px;
            table tr td{
              color: #ffffff !important;
            }
          }
          ion-content,
          .input-wrapper,
          .item-inner,
          .item,
          ion-footer,
          ion-item,
          ion-label {
            background-color: #ffffff !important;
            background: #ffffff !important;
            color: rgb(2, 2, 2);   
          }
         
          p {
            color:#333333;
          }
      
          .table_Data{
            width: 100%;
              text-align: left;
          }
      ion-icon {
        display: inline-block;
        font-size: 1.7em;
      }
      ion-content h2,table,div {
        color: black !important;
      }
     
      
      ion-content span{
        //color: #0434d1 !important;
        float: left;
      }
      .toolbar-title {
        color: rgb(255, 255, 255) !important;
      }
      table{
        font-weight: 400;
        width: 170px;
            text-align: center;
        }
        td, th{
          padding: 3px;
        }
}

