<!--
  Generated template for the CommercialFishingInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Commercial Fishing Info</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="9">
    <agm-polygon [strokeWeight]="1" [zIndex]="1" [strokeOpacity]="0.9" [fillColor]="poly.color" [strokeColor]="'#000000'" [fillOpacity]="'0.8'"
      *ngFor="let poly of ploypath; let i = index" (polyClick)="onClick(poly)" [paths]="poly.point"></agm-polygon>
    <agm-marker *ngFor="let marker of ploypins; let pos = index" [latitude]="marker.lat" [longitude]="marker.lng" [label]="marker.name"
      [iconUrl]="marker.iconUrl">
      <agm-info-window *ngIf="marker.iseo" #infoWindow style="color:#000;margin-top:5px;text-align: center;">
        <div style="text-align: center;color: #000">
          <div class="heading-data" *ngFor="let task of marker.eodescription; let poss = index">
            <strong style="color: #000">{{poss+1}}. {{task.title}}</strong>

            <div style="color: #000" [innerHTML]="task.order_description"></div>
            <br>
          </div>

        </div>

      </agm-info-window>
    </agm-marker>
  </agm-map>
</ion-content>
<ion-footer style="background-color: #fff">

  <ion-row>
    <ion-col col-4>
      <ion-row class="item">
          <ion-icon ios="ios-square" md="md-square" style="color: #f44336"></ion-icon>
        <!-- <ion-icon name="{{options.dashboardIcon}}"></ion-icon> -->
        <ion-label class="caption">Actively Fishing</ion-label>
      </ion-row>
    </ion-col>
    <ion-col col-4>
      <ion-row class="item">
          <ion-icon ios="ios-square" md="md-square" style="color: #ff9800"></ion-icon>

        <!-- <ion-icon name="{{options.dashboardIcon}}"></ion-icon> -->
        <ion-label class="caption">Active in 48 hours</ion-label>
      </ion-row>
    </ion-col>
    <ion-col col-4>
      <ion-row class="item">
          <ion-icon ios="ios-square" md="md-square" style="color: #e1f5fe"></ion-icon>

        <!-- <ion-icon name="{{options.dashboardIcon}}"></ion-icon> -->
        <ion-label class="caption">Not Active</ion-label>
      </ion-row>
    </ion-col>
  </ion-row>

</ion-footer>