<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Marine Weather</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="4" (zoomChange)="zoomChange($event)">

    <agm-polygon [strokeWeight]="1" [zIndex]="1" [strokeOpacity]="0.9" [strokeColor]="'black'" [fillOpacity]="'0.1'" *ngFor="let poly of ploypath; let i = index"
      [paths]="poly.point" (polyClick)="polyClicked(i, poly)"></agm-polygon>
    <!-- [label]="marker.marine_weather_location" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)"  -->
    <agm-marker *ngFor="let marker of authService.pinsDataList; let pos = index" [latitude]="marker.lat" [longitude]="marker.lon"
      [label]="marker.Label" [iconUrl]="marker.iconUrl" (markerClick)="MarkerDetails(marker,infoWindow, pos)">
      <agm-info-window *ngIf="marker.marine_weather_location != undefined && marker.marine_weather_location != null" style="color:#000;margin-top:5px;text-align: center;"
        #infoWindow>
        <div class="heading-data">
          <strong>{{marker.marine_weather_location}}</strong>
          <br>
        </div>
        <br>
        <strong *ngIf="marker.id == '5ba3b95ea47a21332b120250'">Contact:
          <ion-icon ios="ios-call" md="ios-call" style="font-size:14px"></ion-icon>
          <a href="tel:9075673526">
            &nbsp;&nbsp;907-567-3526
          </a>
          <br> Deep Creek Beach - 37.3 Sterling Highway.</strong>
        <strong *ngIf="marker.id != '5ba3b95ea47a21332b120250'">Contact:
          <ion-icon ios="ios-call" md="ios-call" style="font-size:14px"></ion-icon>
          <a href="tel:9073992686">
            &nbsp;&nbsp;907-399-2686
          </a>
          <br> Email:
          <ion-icon ios="ios-mail" md="md-mail" style="font-size:14px"></ion-icon>
          <a href="mailto:tractorlaunch@gmail.com">
            &nbsp;&nbsp;tractorlaunch@gmail.com
          </a>
          <br> Website:
          <ion-icon ios="logo-chrome" md="logo-chrome" style="font-size:14px"></ion-icon>
          <a href="http://tractorlaunch.com/">
            &nbsp;&nbsp;tractorlaunch.com
          </a>
          <br> Facebook:
          <ion-icon ios="logo-facebook" md="logo-facebook" style="font-size:14px"></ion-icon>
          <a href="https://www.facebook.com/AnchorRiverEnterprises/">
            &nbsp;&nbsp;www.facebook.com/AnchorRiverEnterprises/
          </a>
          <br> 74294 Anchor Point Rd, Anchor Point AK 99556.</strong>
        <br>
        <div style="text-align: center;color: #000">
          <br>
          <div>
            <strong>Hours</strong>
          </div>
        </div>
        <div *ngIf="marker.hours_description!=undefined || marker.hours_description" [innerHTML]="marker.hours_description"></div>
        <div style="text-align: center;color: #000">
          <br>
          <div *ngIf="marker.services_operating!=undefined || marker.services_operating">
            <strong *ngIf="marker.services_operating ==true">Tractor Launch Services Suspended Due To Conditions</strong>
            <strong *ngIf="marker.services_operating !=true">Tractor Services Are Running</strong>

          </div>
        </div>
        <!-- <table *ngIf="marker.id != '5ba3b95ea47a21332b120250'" class="table_Data">
            <tr style="text-align: center;">
                Current Hours:  6:00AM - 6:00PM
            </tr>
            <tr style="text-align: center;">
                Preliminary
            </tr>
          <tr style="text-align: center;">
            <td> 05/27 - 06/30  5:00 AM - 8:00PM</td>
          </tr>
          <tr style="text-align: center;">
            <td> 07/01 - 07/31  5:00 AM - 8:00PM</td>
          </tr>
          <tr style="text-align: center;">
            <td> 08/01 - 08/13 6:00 AM - 8:00PM</td>
          </tr>
          <tr style="text-align: center;">
            <td> 08/14 - 09/04 7:00 AM - 7:00PM</td>
          </tr>
          
        </table> -->
        <!-- <table *ngIf="marker.id == '5ba3b95ea47a21332b120250'" class="table_Data"> -->
        <!-- <div *ngIf="marker.id == '5ba3b95ea47a21332b120250'" class="table_Data" [innerHTML]="marker.hours_description"></div> -->
        <!-- <tr style="text-align: center;">
            <td> 05/01 - 05/18 6:00AM - 7:00PM</td>
          </tr>
          <tr style="text-align: center;">
            <td> 05/19 - 06/30 5:00AM - 8:00PM</td>
          </tr>
          <tr style="text-align: center;">
            <td> 07/01 - 08/03 5:00AM - 9:00PM</td>
          </tr>
          <tr style="text-align: center;">
            <td> 08/04 - 08/16 6:00AM - 8:00PM</td>
          </tr>
          <tr style="text-align: center;">
            <td> 08/17 - 09/02 7:00AM - 7:00PM</td>
          </tr> -->

        <!-- </table> -->
        <br>
        <div class="heading-data" style="text-align: center;padding: 4px;">
          <strong>Last Updated: {{marker.updated_at | moment:'MMM D YYYY, h:mm A'}} AST</strong>
        </div>
        <br>
        <div *ngIf="marker.id == '5ba3b95ea47a21332b120250'" class="layout-data">
          <table class="table_Data" style="font-weight: 600;">
            <tr>
              <td>Wind Speed : {{marker.wind_speed_in_knots}} </td>
            </tr>
            <tr>
              <td>Wave Height : {{marker.wave_height_in_feet}} </td>
            </tr>
            <tr>
              <td>Minimum Boat Length : {{marker.minimum_boat_length_in_feet}} </td>
            </tr>
          </table>
        </div>
        <div *ngIf="marker.id != '5ba3b95ea47a21332b120250'" class="layout-data">
          <table class="table_Data" style="font-weight: 600;">
            <tr>
              <td>Wind Speed : {{marker.wind_speed_in_knots}} {{getKnots(marker.wind_speed_in_knots)}}</td>

            </tr>

            <tr>
              <td>Wave Height : {{marker.wave_height_in_feet}} </td>
            </tr>

          </table>
        </div>
        <br>
        <div *ngIf="marker.id == '5ba3b95ea47a21332b120250'">
          <span style="font-weight: bold">Cost: </span>
          <span style="color: #18cbef;font-weight: 500;">
            &nbsp;&nbsp; $75.00 Per Launch. </span>
        </div>
        <div *ngIf="marker.id != '5ba3b95ea47a21332b120250'">
          <span style="font-weight: bold">Cost: </span>
          <span style="color: #18cbef;font-weight: 500;">
            &nbsp;&nbsp; $70 cash / $75 Credit Per Launch. </span>
        </div>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</ion-content>
<ion-footer *ngIf="authService.INTERNETCHECK">
  <ion-toolbar style="text-align: center">
    <div>
      <small class="label-Network" clear>
        Pins that are yellow have data that is available offline.
        <br> The rest of the markers need a working internet connection to show the information to you.
      </small>
    </div>
  </ion-toolbar>
</ion-footer>