<!--
  Generated template for the EventDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{eventItem.title}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="mat-elevation-z8">
  <!-- <ion-label style="margin-left:3vw;font-size: 4vw ">{{eventDetails?.entertainer_id?.name}}</ion-label> -->
  <div>
    <img style="margin-top: 1vh" class="center" *ngIf="eventDetails?.entertainer_id?.image_url_1" [src]="eventDetails?.entertainer_id?.image_url_1">
    <img style="margin-top: 1vh" class="center" *ngIf="eventDetails?.entertainer_id?.image_url_2" [src]="eventDetails?.entertainer_id?.image_url_2">
    <img style="margin-top: 1vh" class="center" *ngIf="eventDetails?.entertainer_id?.image_url_3" [src]="eventDetails?.entertainer_id?.image_url_3">
  </div>
  <ion-item class="event-info">
    <div item-start class="event-date">
      <span class="day">{{eventDay}}</span>{{eventDetails?.event_date_time | moment:'MMM YYYY'}}
      <!-- <span class="time">{{eventItem.event_date_time | moment:'h:mm a'}}</span> -->
    </div>
    <div class="event-inform">
      <h1 text-wrap>{{eventItem.title}}</h1>
      <p>

        <li *ngIf="eventDetails.venue_id?.location">
          <ion-icon name="pin"></ion-icon>
          {{eventDetails.venue_id?.location}}
        </li>
        <li *ngIf="!eventDetails.venue_id?.location">
          <ion-icon name="pin"></ion-icon>
          {{eventDetails?.location}}
        </li>


        <!-- <ion-icon name="pin"></ion-icon>{{eventItem.location}} -->
      </p>
      <p>
        <ion-icon ios="ios-alarm" md="md-alarm"></ion-icon>
        <strong> {{('2018-11-10 '+eventItem.start_time+':00') | moment:'h:mm a'}} - {{('2018-11-10 '+eventItem.end_time+':00') | moment:'h:mm a'}}

        </strong>
      </p>
      <p>
        <ion-icon ios="ios-cash" md="md-cash"></ion-icon>
        <strong>
          {{eventDetails?.amount}}
          <span>(Per Person)</span>
        </strong>
      </p>
      <!-- <p class="event-day">
        <ion-icon name="sunny"></ion-icon> c
      </p> -->
    </div>
  </ion-item>
  <div style="margin-left:3vw;margin-top: 3vh">
    <div style="margin-top: 1vh" *ngIf="eventDetails?.entertainer_id?.url_1">
      <a href="#" *ngIf="eventDetails?.entertainer_id?.url_1" (click)="openUrl(eventDetails?.entertainer_id?.url_1)" style="font-size: 16px;color: black">{{eventDetails?.entertainer_id?.url_1}}</a>
    </div>
    <div style="margin-top: 1vh" *ngIf="eventDetails?.entertainer_id?.url_2">
      <a href="#" *ngIf="eventDetails?.entertainer_id?.url_2" (click)="openUrl(eventDetails?.entertainer_id?.url_2)" style="font-size: 16px;color: black">{{eventDetails?.entertainer_id?.url_2}}</a>
    </div>
    <div style="margin-top: 1vh" *ngIf="eventDetails?.entertainer_id?.url_3">
      <a href="#" *ngIf="eventDetails?.entertainer_id?.url_3" (click)="openUrl(eventDetails?.entertainer_id?.url_3)" style="font-size: 16px;color: black">{{eventDetails?.entertainer_id?.url_3}}</a>
    </div>

  </div>
  <p style="margin-left:5vw;" [innerHTML]="eventDetails?.description"></p>
  <p style="margin-left:5vw;" [innerHTML]="eventDetails?.entertainer_id?.description"></p>

  <div>
    <img style="margin-top: 1vh" class="center" *ngIf="eventDetails?.venue_id?.image_url_1" [src]="eventDetails?.venue_id?.image_url_1">
    <img style="margin-top: 1vh" class="center" *ngIf="eventDetails?.venue_id?.image_url_2" [src]="eventDetails?.venue_id?.image_url_2">
    <img style="margin-top: 1vh" class="center" *ngIf="eventDetails?.venue_id?.image_url_3" [src]="eventDetails?.venue_id?.image_url_3">
  </div>
  <div style="margin-left:3vw;margin-top: 3vh">
    <div style="margin-top: 1vh" style="background-color: white" *ngIf="eventDetails?.venue_id?.url_1">
      <a href="#" *ngIf="eventDetails?.venue_id?.url_1" (click)="openUrl(eventDetails?.venue_id?.url_1)" style="font-size:16px;color: black">{{eventDetails?.venue_id?.url_1}}</a>
    </div>
    <div style="margin-top: 1vh" *ngIf="eventDetails?.venue_id?.url_2">
      <a href="#" *ngIf="eventDetails?.venue_id?.url_2" (click)="openUrl(eventDetails?.venue_id?.url_2)" style="font-size: 16px;color: black">{{eventDetails?.venue_id?.url_2}}</a>
    </div>
    <div style="margin-top: 1vh" *ngIf="eventDetails?.venue_id?.url_3">
      <a href="#" *ngIf="eventDetails?.venue_id?.url_3" (click)="openUrl(eventDetails?.venue_id?.url_3)" style="font-size: 16px;color: black">{{eventDetails?.venue_id?.url_3}}</a>
    </div>

  </div>
  <p style="margin-left:5vw;" [innerHTML]="eventDetails?.venue_id?.description"></p>

</ion-content>