<ion-content class="content-guest" padding>
  <ion-row>
    <ion-col col-12>
      <img width="200px" height="200px" src="assets/img/GIF.gif" />
    </ion-col>
  </ion-row>
  <div>
    <span> Allow Alaska FishTopia to turn <br> on your phone GPS for accurate location. </span>
  </div>
  <div class="button-text" (click)="gpsOn()">TURN ON GPS</div>
</ion-content>
<ion-footer>
  <ion-toolbar *ngIf="authService.INTERNETCHECK" style="text-align: center">
    <div>
      <small class="label-Network" clear>Offline data not available.You are not connected to the
        Internet at the moment.
      </small>
    </div>
  </ion-toolbar>
</ion-footer>