<!--
  Generated template for the TidesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Fish Counts Location</ion-title>
    <ion-buttons end>
      <button id="notification-button" ion-button icon-only (click)="Notification()">
        <ion-icon name="notifications">
          <ion-badge *ngIf="authService.NotifyCount !=0" id="notifications-badge" color="danger">{{authService.NotifyCount}}</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-segment class="heading-cont" [(ngModel)]="tabType">
    <ion-segment-button class="segement" value="FavLocation" (ionSelect)="btnSegmentCall('FavLocation')">Favorite</ion-segment-button>
    <ion-segment-button class="segement" value="AllLocation" (ionSelect)="btnSegmentCall('AllLocation')">All Rivers</ion-segment-button>
  </ion-segment>
</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list class="docListFirst docList" *ngIf="FishCountLocList.length != 0">
    <ion-item class="itemList" *ngFor="let area of FishCountLocList | orderBy: 'title'">
      <ion-row>
        <ion-col col-1 *ngIf="tabType=='AllLocation'">
          <div mat-button icon-left icon-only small *ngIf="!area.favouriteStatus" (tap)="addTofavouriteLocList(area)">
            <ion-icon style="color: black;font-size: 22px;padding: 4px;" ios="ios-heart-outline" md="md-heart-outline"></ion-icon>
          </div>
          <div mat-button icon-left icon-only small *ngIf="area.favouriteStatus" (tap)="addTofavouriteLocList(area)">
            <ion-icon style="color: rgb(255, 4, 4);font-size: 22px;padding: 4px;" ios="ios-heart" md="md-heart"></ion-icon>
          </div>
        </ion-col>
        <ion-col col-1 *ngIf="tabType!='AllLocation'">
          <div mat-button icon-left icon-only small *ngIf="!area.favouriteStatus" (tap)="addTofavouriteList(area)">
            <ion-icon style="color: black;font-size: 22px;padding: 4px;" ios="ios-heart-outline" md="md-heart-outline"></ion-icon>
          </div>
          <div mat-button icon-left icon-only small *ngIf="area.favouriteStatus" (tap)="addTofavouriteList(area)">
            <ion-icon style="color: rgb(255, 4, 4);font-size: 22px;padding: 4px;" ios="ios-heart" md="md-heart"></ion-icon>
          </div>
        </ion-col>
        <ion-col col-8>
          <p class="otherUsers" (click)="openAreaDetail(area)" text-wrap>{{area.titleSplit}}</p>
          <p class="otherUsers" (click)="openAreaDetail(area)" text-wrap>{{area.fromDate}}</p>
          <small *ngIf="area.Fish_Count != 'empty'" (click)="openAreaDetail(area)">{{area.Count_Date | moment:'MMMM DD,
            YYYY'}}
          </small>
          <!-- <small *ngIf="area.Fish_Count != 'empty'" (click)="openAreaDetail(area)">Last Count: {{area.Fish_Count}}</small> -->
        </ion-col>
        <ion-col col-3 class="arrow-icon" [ngStyle]="{'background-image': 'url(' + image_url +')'}">
          <div class="traspernt-div">
            <!-- <ion-icon name="ios-arrow-forward"></ion-icon> -->
            {{area.Fish_Count}}
          </div>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

  <div class="No-notify" style="margin-top:20%;" *ngIf="FishCountLocList.length == 0 && tabType!='AllLocation'">
    <img style="height: 150px;margin: 0px 30%;" src="assets/img/Riverboat.png">
    <div style="text-align: center;color: black;">
      No Rivers
      <br> Selected As Favorites Yet.
    </div>
  </div>
  <ion-infinite-scroll *ngIf="page < totalPage" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
<ion-footer *ngIf="authService.INTERNETCHECK">
  <ion-toolbar style="text-align: center; color: #18cbef;">
    <div>
      <small class="label-Network" clear>Offline data not available.You are not connected to the Internet at the
        moment.
      </small>
    </div>
  </ion-toolbar>
</ion-footer>