.theme-dark {
  page-Invite_referral {
    .logo {
      width: 45%;
      height: 45%;
      max-width: 19em;
      margin: 0 auto;
      margin-top: 2%;
      margin-bottom: 45px;
      // margin-bottom: 8%;
    }

    .text-discount{
      text-align: center;
      color: orange;
      font-size: 18px;
      font-weight: 600;
    }
    
    .thumbnail{
      border: 1px dotted #000;
      border-radius: 0px;
      margin: 0px 10%;
    }

    .mat-logBtn {
      width: 100%;
      background: #18cbef;
      height: 50px;
      font-size: 16px;
      font-weight: 600;
      color: white;
  }















    ion-content{ 
      background: #ffffff !important;
      // li{
      //   list-style: none;
      // }
  }
  .login-button {
    border-radius: 4px;
    width: 301px;
    height: 40px;
    background: #18cbef;
    box-shadow: 5px 5px 4px rgba(202,202,202,0.5);
    top: 28px;
    //box-shadow: 5px 5px 4px rgba:(202,202,0.5);
    width: 100%;
    max-width: 40rem;
    height: 50px;
    font-size: 1.2em;
 
    // border: 1px solid #fff;
  }


  ion-footer{
    background-color:transparent;
    background: transparent;
    color: white;
    bottom: 29px;
   span {
      font-size: 14px !important;
      color: #000000 !important;
      font-weight: 700 !important;
   }
  }

  ion-list,
  .input-wrapper,
  ion-label,ion-item,.item,
  .item-inner {
    background-color: #fff;
    color: color($colors, dark, base);
  }
  .avatar-info{
    padding-left: 40%;
  }
  .img-div{    
    padding-top: 20px;
    // background: #18cbef;
    height: 180px;
    text-align: center;
    h1{
      font-size: 3.0em;
      font-weight: 600;
    }
  }
  .thumb{
    background-color: #FFF;
    height: 65px;
    width: 65px;
    padding: 5px;
  }

  .news-img{
   // width: 100%;
    height: 35%;
  }

    .forum-like-img{
    height: 2.2vh !important;
    }
    h1,h3,h4,
    div,
    p {
      color: color($colors, dark, base);
    }

    h1 {
      margin: 0px;
      font-size: 18px;
    }

    ion-card-content {
      span {
        color: #9c9c9c;
        font-size: 11px;
        span {
          padding-left: 10px;
        }
      }
      p {
        margin-top: 5px;
        margin-bottom: 40px;
      }
    }

    .save-favorite-Like{
      position: absolute;
      top: 6px;
        color: #363636;
    }
    .save-favorite-dislike{
      position: absolute;
      top: 6px;
      color: #d85a4b;
    }
    ion-footer {
      .toolbar-background {
        background: #212733 !important;
        color: color($colors, dark, base) !important;
        border: 0px;
      }
      &:before {
        content: "";
        width: 100%;
        height: 60px;
        display: block;
        position: absolute;
        background: -webkit-linear-gradient(bottom, white, white 50%, rgba(255, 255, 255, 0));
      }
      span {
        font-size: 14px;
        color: #525252;
      }
    }

    ion-list,
    .input-wrapper,
    ion-label,
    .item-inner {
      background-color: #fff;
      color: color($colors, dark, base);
    }
    ion-list {
      margin: 0px;
      ion-item {
        padding: 0px;
        ion-thumbnail {
          margin: 0px !important;
          min-width: 125px;
          min-height: 140px;
          img {
            min-width: 125px;
            min-height: 140px;
          }
        }
        .item-inner {
          padding: 0px 10px;
          border-bottom: 1px solid #e4e4e4 !important;
        }
        h2{
          text-overflow: ellipsis;
          font-size: 14px;
          font-weight: 600;
          margin-right: 20px;
          overflow: hidden;
        }
        ion-label{
          margin: 0px;
          .pricing{
            float: right;
            font-weight: 600;
            color: color($colors, primary, base);
            text-align: right;
            font-size: 14px;
            span{
              font-size: 10px;
              color: #000;
              font-weight:100;
              display: block;
            }
          }
        }
        .save-favorite{
          position: absolute;
          top: 6px;
          right: 6px;
          &.liked{
            color: #d85a4b;
          }
        }
      }
      ion-list-header.item {
        margin: 0px !important;
        border-bottom: 1px solid #ccc;
        ion-label{
          text-transform: uppercase;
          ion-icon{
            margin-right: 5px;
          }
        }
      }
      span,
      p,
      h3,h2 {
        color:#333333;
      }
      .event-info {
        margin: 0px;
        font-size: 12px;
        font-weight: 500;
        li {
          padding: 4px 0px;
          ion-icon{
            width: 14px;
          }
        }
      }
    }
  }
}
