<!--
  Generated template for the GuideDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar>
		<ion-title>Refer & Earn</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<!-- <ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull To Refresh..." refreshingSpinner="circles"
		 refreshingText="Refreshing...">
		</ion-refresher-content>
	</ion-refresher> -->
	<ion-grid>
		<ion-row padding-horizontal align-self-center>
			<ion-col align-self-center col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
				<ion-item no-lines no-padding align-self-center style="text-align: center;">
					<img class="logo" src="assets/img/logo/logo-pr.png" />
				</ion-item>
			</ion-col>
			<ion-col align-self-center col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
				<h3 style="text-align: center;"> Refer now & earn points.</h3>
			</ion-col>
			<ion-col align-self-center col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
				<h5 style="text-align: center;color: #a5a5a5;"> Send a referral link to your friends via SMS / Email / Social
					Networks.</h5>
			</ion-col>
			<!-- <ion-col align-self-center col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 style="text-align: center;">
				<strong style="color: #18cbef;text-align: center;font-size: 18px;" clear>How does it work?</strong>.
			</ion-col> -->
			<ion-col align-self-center col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 style="text-align: center;">
				<p>REFERRAL CODE</p>
				<ion-thumbnail item-start class="thumbnail">
					<div padding>
						<div class="text-discount"> {{referral_code}} </div>
					</div>
				</ion-thumbnail>
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-row padding-horizontal align-self-center>
		<ion-col bottom align-self-center col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 style="text-align: center;"
		 padding>
			<button mat-raised-button class="mat-logBtn" block round color="light" (tap)="referralShare()" tappable>REFER NOW</button>
		</ion-col>
	</ion-row>
</ion-content>