<ion-header>
  <ion-navbar>
    <ion-title>{{area.title}}</ion-title>
    <!-- <ion-buttons end>
      <button id="notification-button" ion-button icon-only (click)="Notification()">
        <ion-icon name="notifications">
          <ion-badge *ngIf="authService.NotifyCount !=0" id="notifications-badge" color="danger">{{authService.NotifyCount}}</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col col-2 class="arrow-icon">
      <mat-slide-toggle class="mat-toggle-btn" [checked]="showCum" (change)="toggleButton($event)"></mat-slide-toggle>
      <!-- <ion-icon name="ios-arrow-forward"></ion-icon> -->
    </ion-col>
    <ion-col col-10>
      <h3 item-title>Daily / Cumulative Graph</h3>
    </ion-col>
  </ion-row>
  <!-- <div class="page-mask" *ngIf="showCheckBox"></div> -->
  <div id="container" style="display: block;"></div>
  <div>
    <ion-list>
      <ion-item style="width:50%; float: left;" [ngStyle]="{'width': i === 0 ? '100%' : '50%' }" *ngFor="let item of year;let i = index">
        <ion-label [style.color]="item.color">{{item.label}}</ion-label>
        <ion-checkbox value="item.label" [(ngModel)]="item.checked" (ionChange)="prepareWsCharData()" [disabled]="item.checked && activeCheckboxes == 1? true:false"></ion-checkbox>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer *ngIf="authService.INTERNETCHECK">
  <ion-toolbar style="text-align: center">
    <div>
      <small class="label-Network" clear>Offline data not available.You are not connected to the Internet at the moment.
      </small>
    </div>
  </ion-toolbar>
</ion-footer>