<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Events/Entertainment
    </ion-title>
    <ion-buttons end>
      <button id="notification-button" ion-button icon-only (click)="Notification()">
        <ion-icon name="notifications">
          <ion-badge *ngIf="authService.NotifyCount !=0" id="notifications-badge" color="danger">{{authService.NotifyCount}}</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <div *ngIf="authService.UserType !='guest'" class="mat-elevation-z8">
    <div *ngIf="!issearch">
      <ion-segment class="heading-cont" [(ngModel)]="search">
        <ion-segment-button class="segement segment-button" value="search" (click)="change()">
          <img class="icon-img" src="assets/img/icon/Search.png"> search
        </ion-segment-button>
        <ion-segment-button (click)="showCheckbox()" class="segement" value="Sort" style="border-left: 1px solid #cccccc;text-transform: capitalize !important;color: #000000 !important;">
          <img class="icon-img" src="assets/img/icon/filter.png"> Sort By
        </ion-segment-button>
        <ion-segment-button class="segement" value="filter" (ionSelect)="searchByLocation()">
          <ion-icon style="font-size: 1.8rem;margin: 0px 8px;" ios="ios-funnel" md="ios-funnel-outline"></ion-icon>By Location
        </ion-segment-button>
      </ion-segment>
    </div>
    <div *ngIf="issearch">
      <ion-searchbar #myInput [(ngModel)]="inputName" [showCancelButton]=true (ionInput)="FilterByName(myInput.value)" (ionClear)="cancelSearch($event)">
      </ion-searchbar>
    </div>
  </div>
</ion-header>
<ion-content class="chats mat-elevation-z8" *ngIf="authService.UserType !='guest'">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull To Refresh..." refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list *ngFor="let item1 of dateList" class="mat-elevation-z8">
  
    <ion-list-header class="label-md-head mat-elevation-z8" *ngIf="item1==SelectDate">
      <ion-icon name="calendar" style="margin-left: 14px;"></ion-icon> Today
    </ion-list-header>
    <ion-list-header class="label-md-head mat-elevation-z8" *ngIf="item1!=SelectDate">
      <ion-icon name="calendar" style="margin-left: 14px;"></ion-icon> {{item1 | moment:'D MMM YYYY'}}
    </ion-list-header>
    <ion-list class="ion-list-style" *ngFor="let item of mainEventFillterList">
      <ion-item class="mat-elevation-z8 box-shadow" *ngIf="item1==item.event_date">
        <ion-thumbnail item-start (click)="openEventDetail(item)">
          <!-- new API -->
          <!-- <img src="{{item.image_url_thumb}}"> -->
          <img *ngIf="item.venue_id?.logo" [src]="item.venue_id?.logo">
          <img *ngIf="!item.venue_id?.logo" [src]="item.image_url">


        </ion-thumbnail>
        <div (click)="openEventDetail(item)">
          <h2 text-wrap>{{item.title}}</h2>
          <ul class="event-info">
            <li>
              <ion-icon name="calendar"></ion-icon>
              {{item.event_date | moment:'MMMM D YYYY'}}

              <!-- {{item.time | moment:'h:mm a'}} -->
            </li>
            <li>
              <ion-icon ios="ios-alarm" md="md-alarm"></ion-icon>
              {{('2018-11-10 '+item.start_time+':00') | moment:'h:mm a'}} - {{('2018-11-10 '+item.end_time+':00') | moment:'h:mm a'}}

              <!-- {{item.time | moment:'h:mm a'}} -->
            </li>
            <!-- <li>
              <ion-icon name="pin"></ion-icon>
              {{item.location}}
            </li> -->
            <!-- newAPI -->
            <li *ngIf="item.venue_id?.location">
              <ion-icon name="pin"></ion-icon>
              {{item.venue_id?.location}}
            </li>
            <li *ngIf="!item.venue_id?.location">
              <ion-icon name="pin"></ion-icon>
              {{item.location}}
            </li>
          </ul>
        </div>
        <div class="pricing">$ {{item.amount}}
          <span>(Per Person)</span>
        </div>
        <!-- <span>( {{item.event_booking_type}} )</span> -->
      </ion-item>
    </ion-list>
  
  </ion-list>
  <ion-infinite-scroll *ngIf="isinfiniteScroll" loadingSpinner="bubbles" loadingText="Loading more data..."  (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-content class="content-guest" padding *ngIf="authService.UserType =='guest'">
  <ion-row>
    <ion-col col-12>
      <img width="180px" height="180px" src="assets/img/GIF.gif" />
    </ion-col>
  </ion-row>
  <div>
    <span class="next-text">We need to login with context this page.</span>
  </div>
  <span class="button-text">Log In or Sign Up</span>
</ion-content>

<ion-footer>
  <ion-toolbar *ngIf="authService.INTERNETCHECK" style="text-align: center">
    <div>
      <small class="label-Network" clear>Offline data not available.You are not connected to the Internet at the moment.
      </small>
    </div>
  </ion-toolbar>
</ion-footer>