<!--
  Generated template for the EventDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{eventItem.title}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="img-div">
    <img class="news-img" src="{{eventItem.image_url}}">
  </div>
  <!-- <div class="event-thumb" [ngStyle]="{'background' : 'url(' + eventItem.image_url + ')'}">
    <button ion-button icon-left clear small style="float: right;">
      <img *ngIf="!eventItem.favouriteStatus" src="assets/img/icon/forum_heart_img.png" class="forum-like-img">
      <img *ngIf="eventItem.favouriteStatus" src="assets/img/icon/forum_like_img.png" class="forum-like-img">
    </button>
  </div> -->

  <!-- <ion-icon name="heart" class="save-favorite" [class.liked]="eventItem.isFavorite"></ion-icon> -->
  <ion-item class="event-info">
    <div item-start class="event-date">
      <span class="day">{{eventDay}}</span>{{eventItem.coupon_expiry_date | moment:'MMM YYYY'}}
      <!-- <span class="time">{{eventItem.coupon_expiry_date_time | moment:'h:mm a'}}</span> -->
    </div>
    <div class="event-inform">
      <h1 text-wrap>{{eventItem.title}}</h1>
      <!-- <p><ion-icon ios="ios-alarm" md="md-alarm"></ion-icon> {{eventItem.coupon_time | moment:'h:mm a'}}</p> -->
      <!-- <p>{{eventItem.coupon_time}}</p> -->
      <!-- <p>
        <ion-icon name="pin"></ion-icon>{{eventItem.location}}</p>
      <strong class="pricing"> $ {{eventItem.amount}}
        <span>(Per Person)</span>
      </strong>
      <p class="event-day">
        <ion-icon name="sunny"></ion-icon> c
      </p> -->
    </div>
  </ion-item>
  <ion-row>
    <ion-col col-12 class="event-description">
      <p [innerHTML]="eventItem.description"></p>
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer *ngIf="authService.INTERNETCHECK">
  <ion-toolbar style="text-align: center">
    <div>
      <small class="label-Network" clear>Offline data not available.You are not connected to the Internet at the moment.
      </small>
    </div>
  </ion-toolbar>
</ion-footer>