.theme-dark {
  page-fishing-exchang-detail-angler {
    ion-content{ 
      background: #ffffff !important;
  }
  .news-img{
   // width: 100%;
    height: 200px;
   }
    ion-card ion-item{
      background: #ffffff !important;
      background-color: #ffffff !important;
    }
    ion-card p,.label-md{
      font-size: 12px;
      margin: 0px;
    }

    .trip-info ion-label,item-inner{   
      background: #ffffff !important;
      background-color: #ffffff !important;
    }


  .content-align{
    display: -webkit-flex;
    -webkit-align-items: center;
  }
    h1,
    h2,
    h3,
    div,
    h4,
    p {
      color: color($colors, dark, base);
    }
    .angler-list{
    width: 100%;
  }

   ion-item.item-md {
     padding-left: 0px; 
     padding-right: 0px; 
    min-height: 50px;
      }
    h1 {
      margin: 0px;
      font-size: 18px;
    }
    .trip-thumb {
      width: 100%;
      height: 200px;
      display: block;
      background-size: cover !important;
      background-position: center !important;
      position: relative;
      text-align: center;
    background-color: #ffffff;
      .save-favorite {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 2em;
        &.liked {
          color: #f9c13a;
        }
      }
      .trip-type {
        position: absolute;
        bottom: 20px;
        right: 20px;
        background-color: #19cbef;
        color: #fff;
        padding: 6px 12px;
        font-weight: normal;
        font-size: 12px;
      }
    }

    ion-card-content {
      span {
        color: #9c9c9c;
        font-size: 11px;
        span {
          padding-left: 10px;
        }
      }
      p {
        margin-top: 5px;
        margin-bottom: 40px;
      }
    }
    .trip-info {
      .label-md {
        padding: 13px 8px 13px 10px;
        margin: 0px;
      }
      .input-wrapper,.item-inner{
        padding: 0px;
        margin: 0px;
        background: #ffffff !important;
      background-color: #ffffff !important;
        width: 75%;
      }
      padding: 0px;
      .trip-date {
        width: 100px;
        background-color: #19cbef;
        color: #000;
        margin: 0px;
        text-align: center;
        padding: 66px 5px;
        display: block;
        font-size: 12px;
        // width: 80px;
        // background-color: #19cbef;
        // color: #000;
        // margin: 0px;
        // text-align: center;
        // padding: 26px 6px;
        // display: block;
        // // margin-right: 10px;
        // font-size: 12px;
        .day {
          font-size: 30px;
          display: block;
          font-weight: 600;
        }
        .time {
          font-size: 12px;
          display: block;
          background-color: transparent;
        }
      }
      .item-inner,
      .input-wrapper,
      ion-label {
        background-color: transparent;
        color: #000;
        border: 0px;
        h1 {
          font-weight: bold;
          font-size: 16px;
        }
      }
      .trip-day {
        display: block;
      }
      .pricing,
      p {
        padding: 4px 0px;
        display: block;
        font-size: 12px;
        margin: 0px;
      }
      .pricing {
        color: #19cbef;
        span {
          font-weight: normal;
          color: #000;
        }
      }
      ion-icon {
        margin-right: 5px;
      }
    }
    .trip-description {
      padding: 0px 15px;
      p {
        font-size: 14px;
        line-height: 1.4;
      }
    }
    .guide-reviews {
      padding-bottom: 20px;
      .item-inner,
      .input-wrapper,
      ion-label {
        background-color: #fff;
        background: #fff;
      }
      ion-card {
        // margin: 15px 15px 0px 15px;
        width: 100%;
        ion-avatar img {
          width: 50px;
          height: 40px;
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5)
        }
        p {
          color: #000000;
        }
        h1,
        h2,
        h3,
        div,
        h4,
        p,b {
          color:#000;
        }
      }
      .leave-review-btn {
        background-color: #19cbef;
        width: calc(100% - 30px);
        margin: auto;
        border-radius: 3px;
        -webkit-box-shadow: 5px 5px 4px rgba(202, 202, 202, 0.5);
        box-shadow: 5px 5px 4px rgba(202, 202, 202, 0.5);
        font-weight: 500;
      }
    }
    ion-footer {
      background-color: #fff !important;
      ion-toolbar,
      .toolbar-background {
        background-color: #fff !important;
        border: 0px;
        padding: 10px;
      }
      .leave-review-btn {
        background-color: #19cbef;
        width: calc(100% - 30px);
        margin: auto;
        border-radius: 3px;
        -webkit-box-shadow: 5px 5px 4px rgba(202, 202, 202, 0.5);
        box-shadow: 5px 5px 4px rgba(202, 202, 202, 0.5);
        font-weight: 500;
      }
    }
  }
}
