<!--
  Generated template for the FishingExchangDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Trip Details</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="trip-thumb">
    <img *ngIf="imgUrl !=undefined" class="news-img" [src]="imgUrl">
    <img *ngIf="imgUrl ==undefined" class="news-img" src="{{img}}">
  </div>
  <!-- <div class="trip-thumb" [ngStyle]="{'background' : 'url(' + img + ')'}">
    <ion-icon name="star" class="save-favorite" [class.liked]="tripItem.isFavorite"></ion-icon>
    <span class="trip-type">Fishing</span>
  </div> -->
  <!-- <div *ngIf="tripItem.img==null && tripItem.img==undefined" class="trip-thumb" [ngStyle]="{'background' : 'url(' + tripItem.img + ')'}">
      <ion-icon name="star" class="save-favorite" [class.liked]="tripItem.isFavorite"></ion-icon>
      <span class="trip-type">{{tripItem.type}}</span>
    </div> -->
  <ion-item class="trip-info">
    <div item-start class="trip-date">
      <span class="day">{{tripDay}}</span>{{tripItem.date_time | moment:'MMM YYYY'}}
      <!-- <span class="time">{{tripItem.date_time | moment:'hh:mm a'}}</span> -->
    </div>
    <!-- <h1>{{tripItem.title}}</h1>
    <p><ion-icon name="pin"></ion-icon>{{tripItem.fishing_location_id.title}}</p>
    <strong class="pricing">$ {{tripItem.trip_amount}} <span>(Per Person)</span></strong>
    <p class="trip-day">
      <ion-icon name="sunny"></ion-icon> {{tripItem.trip_status}}</p> -->
    <h1>Trip Details</h1>
    <p>
      <ion-icon name="calendar"></ion-icon>
      {{tripItem.time}}
    </p>
    <p *ngIf="tripItem.boat_type_id!=null">
      <ion-icon ios="ios-boat" md="md-boat"></ion-icon>
      {{tripItem.boat_type_id.title}}
    </p>
    <p *ngIf="tripItem.fishing_type_id!=null">
      <img src="assets/img/icon/blackfish16.png" class="forum-like-img"> {{tripItem.fishing_type_id.title}}
    </p>
    <p>
      <ion-icon name="pin"></ion-icon>{{tripItem.fishing_location_id.title}}
    </p>
    <strong class="pricing">$ {{tripItem.trip_amount}}
      <span>(Per Person)</span>
    </strong>
    <p class="trip-day">
      <ion-icon name="sunny"></ion-icon> {{tripItem.trip_status}}
    </p>
  </ion-item>
  <ion-row>
    <h4 style="margin-left: 15px;">Angler List</h4>
  </ion-row>
  <ion-row class="guide-reviews">
    <ion-row class="angler-list">
      <ion-card>
        <div *ngIf="TripPay.length !=0">
          <div *ngFor="let item of TripPay">
            <ion-item>
              <ion-row>
                <!-- <div *ngFor="let reqitem of TripData.request"> -->
                <ion-col col-2 class="content-align">
                  <button *ngIf="item.status=='pay'" class="pricing" style="float: right;color:#5cb85c;" ion-button clear small>
                    <ion-icon class="icon-accepted" ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon>
                  </button>
                  <button *ngIf="item.status=='deny'" class="pricing" style="float: right;" ion-button clear small>
                    <ion-icon class="icon-reject" ios="ios-close-circle" md="md-close-circle"></ion-icon>
                  </button>
                </ion-col>

                <ion-col col-2 class="content-align">
                  <ion-avatar item-start>
                    <img *ngIf="item.user_id.image_url==null && item.user_id.image_url==undefined" src="assets/img/icon/placeholder.png">
                    <img *ngIf="item.user_id.image_url!==null && item.user_id.image_url!==undefined" src="{{item.user_id.image_url}}">

                  </ion-avatar>
                </ion-col>
                <ion-col col-5>
                  <h3>{{item.user_id.first_name}} {{item.user_id.last_name}}</h3>
                  <p>Phone-{{item.user_id.phone_no}}
                    <br>
                    <!-- Address-{{UserDetails.street_address1}},{{UserDetails.street_address2}},Zip-Co<br> -->
                    {{item.user_id.email}}
                    <br>
                  </p>
                  <p>{{item.date | moment:'MMMM D YYYY'}}</p>
                  <!-- <p>{{tripAmt}}</p> -->
                </ion-col>
                <!-- </div> -->
                <ion-col col-3 class="content-align">
                  <p *ngIf="angler_pay.length!=0">
                    <ion-icon ios="ios-people" md="md-people"></ion-icon> {{item.member}} Person
                  </p>
                  <p *ngIf="angler_pay.length==0">
                    <ion-icon ios="ios-people" md="md-people"></ion-icon> {{member}} Person
                  </p>
                </ion-col>
              </ion-row>
            </ion-item>
          </div>
        </div>

        <div *ngIf="TripPay.length==0">
          <ion-item>
            <ion-row>
              <ion-col col-12 class="content-align">
                <b>Angler List is not available.</b>
              </ion-col>
            </ion-row>
          </ion-item>
        </div>

      </ion-card>
    </ion-row>
  </ion-row>
  <!-- <ion-item >
        <ion-card (click)="openGuideDetail()">
          <ion-item>
            <ion-avatar item-start>
              <img src="assets/img/avatar/girl-avatar.png">
            </ion-avatar>
            <h3>Your Guide</h3>
            <h2>Ryan</h2>
            <p>Reviews About Guide</p>
          </ion-item>
        </ion-card>
      </ion-item>
  </ion-list> -->

  <!-- <ion-col col-12 class="trip-description">
      <p>{{tripItem.description}}</p>
    </ion-col> -->


  <!-- 
  <ion-list > 
    <ion-item  style="width: 50%;float: left;" class="list-year" *ngFor="let item of year;let i = index" full>  
       <input   type="checkbox"   value="item"  (change)="updateCbValue(item, $event)"> {{item}}
    </ion-item>
</ion-list> -->

</ion-content>
<ion-footer *ngIf="authService.INTERNETCHECK">
  <ion-toolbar style="text-align: center">
    <div>
      <small class="label-Network" clear>Offline data not available.You are not connected to the Internet at the moment.
      </small>
    </div>
  </ion-toolbar>
</ion-footer>
<!-- 
<ion-footer>
  <ion-toolbar>
    <button ion-button full class="leave-review-btn">Book Now</button>
  </ion-toolbar>
</ion-footer> -->