<ion-header>
    <ion-navbar>
        <ion-title>{{title}}</ion-title>
    </ion-navbar>
    <ion-segment class="heading-cont" [(ngModel)]="TideOption">
        <ion-segment-button class="segement" value="Calendar" (ionSelect)="onLinkClick('Calendar')">
            <ion-icon ios="ios-calendar" md="md-calendar" style="margin: 10px;"></ion-icon>
            Tide Table
        </ion-segment-button>
        <ion-segment-button class="segement" value="Graph" (ionSelect)="onLinkClick('Graph')">
            <ion-icon ios="ios-pulse" md="md-pulse" style="margin: 10px;"></ion-icon>
            Tide Graphs
        </ion-segment-button>
    </ion-segment>
    <div class="calendar-outer-div">
        <ion-row>
            <ion-col col-6 text-center>
                <mat-select [(ngModel)]="selectedMonth" (ngModelChange)="monthselect()">
                    <mat-option *ngFor="let month of monthArray; let ind=index" [selected]="selectedMonth==month"
                        [value]="ind">{{month}}</mat-option>
                </mat-select>
            </ion-col>
            <ion-col col-6 text-center>
                <mat-select [(ngModel)]="YearMonth" (ngModelChange)="getYear(YearMonth)">
                    <mat-option *ngFor="let year of yearArray; let ind=index" [selected]="YearMonth==year"
                        [value]="year">{{year}}</mat-option>
                </mat-select>
            </ion-col>
        </ion-row>

        <ion-scroll *ngIf="!GraphOn || !graphEnabled " #leftCats id="leftCats" overflow-scroll="auto" scrollX
            style="height:30px;">
            <div [ngClass]="day.day==selectedDay?'scroll-item Cal-border-white':'scroll-item Cal-border'"
                *ngFor="let day of authService.dateArray;let i of index" (click)="onDateClick(day.day,i)">
                {{" "+day.day+" "}}
                <!-- {{day.name+" "+day.day}}   -->
            </div>
        </ion-scroll>

    </div>
</ion-header>
<ion-content class="mat-elevation-z8">
    <div *ngIf="!graphEnabled">
        <!-- <div class="calendar-outer-div">
            <ion-row>
                <ion-col text-center>
                    <p style="margin: 3px;text-align: -webkit-center;">
                        <mat-select [(ngModel)]="selectedMonth" (ngModelChange)="allDates()">
                            <mat-option *ngFor="let month of monthArray; let ind=index" [selected]="selectedMonth==month"
                                [value]="ind">{{month}}</mat-option>
                        </mat-select>
                    </p>
                </ion-col>
            </ion-row>
          
        </div> -->
        <div *ngIf="eventList && eventList.length && !graphEnabled">
            <ion-item>
                <mat-grid-list cols="2" rowHeight="2:1">
                    <mat-grid-tile>
                        <table>
                            <tr align="center">
                                <th colspan="2">
                                    <p>Low Tides</p>
                                </th>
                            </tr>
                            <tr *ngFor="let item of eventList">
                                <td *ngIf="item.highlow=='L'">
                                    <p>{{item.pred_in_ft}} ft</p>
                                </td>
                                <td *ngIf="item.highlow=='L'">
                                    <p> @ {{item.time}} </p>
                                </td>
                            </tr>
                        </table>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <table>
                            <tr>
                                <th colspan="2">
                                    <p>High Tides</p>
                                </th>
                            </tr>
                            <tr *ngFor="let item of eventList">
                                <td *ngIf="item.highlow=='H'">
                                    <p>{{item.pred_in_ft}} ft</p>
                                </td>
                                <td *ngIf="item.highlow=='H'">
                                    <p> @ {{item.time}} </p>
                                </td>
                            </tr>
                        </table>
                    </mat-grid-tile>
                </mat-grid-list>
            </ion-item>
        </div>
        <div style="margin-top: 20px;" *ngIf="eventList.length !=0">
            <mat-grid-list cols="3" rowHeight="2:1">
                <mat-grid-tile>
                    <button id="btnBack" mat-button block round color="light" class="login-button" tappable>
                        <ion-icon ios="ios-skip-backward" md="md-skip-backward"></ion-icon>
                        Back &nbsp;&nbsp;&nbsp;
                    </button>
                </mat-grid-tile>
                <mat-grid-tile>
                    <strong style="color: #000;font-size: 16px;">Water
                        Level</strong>
                </mat-grid-tile>
                <mat-grid-tile>
                    <button id="btnFwd" mat-button block round color="light" class="login-button" tappable>
                        Forward
                        <ion-icon ios="ios-skip-forward" md="md-skip-forward"></ion-icon>
                    </button>
                </mat-grid-tile>
            </mat-grid-list>


            <div id="container" style="display: block;"></div>
        </div>
        <!-- <div *ngFor="let item of eventList">
                <button ion-item detail-none text-wrap>
                    <img src="assets/img/moon/SRise.png" item-left style="max-width: 12%">
                    <div class="small" style="margin-left: 10px;">{{item.time}}</div>
                    <div class="small" style="margin-left: 10px;">
                        <p *ngIf="item.highlow=='H'">high</p>
                        <p *ngIf="item.highlow=='L'">low</p>
                    </div>
                    <div ion-text color="text1" item-right style="width: 70px;text-align: center;">
                        <p>{{item.pred_in_cm}} cm</p>
                    </div>
                    <div ion-text color="text1" item-right style="width: 70px;text-align: center;">
                        <p>{{item.pred_in_ft}} ft</p>
                    </div>
                </button>
            </div> -->
    </div>
    <div *ngIf="eventList && eventList.length && graphEnabled">
        <ion-row class="mat-elevation-z8">
            <ion-col col-2 class="arrow-icon" style="padding: 20px;">
                <mat-slide-toggle style="color: #FFF" class="mat-toggle-btn" [checked]="GraphOn"
                    (change)="toggleButton($event.value)"></mat-slide-toggle>
            </ion-col>
            <ion-col col-10>
                <h3 style="color: #FFF" item-title *ngIf="!GraphOn">Graph</h3>
                <h3 style="color: #FFF" item-title *ngIf="GraphOn"> Monthly Table</h3>
            </ion-col>
        </ion-row>
        <div *ngIf="GraphOn">
            <ion-item *ngFor="let i of dataft">
                <ion-row class="center-text">
                    <p>{{i.date | moment: 'MMMM Do YYYY'}}</p>
                </ion-row>
                <mat-grid-list cols="2" rowHeight="2:1">
                    <mat-grid-tile>
                        <table>
                            <tr align="center">
                                <th colspan="2">
                                    <p>Low Tides</p>
                                </th>
                            </tr>
                            <tr *ngFor="let item of i.DataDay">
                                <td *ngIf="item.highlow=='L'">
                                    <p>{{item.pred_in_ft}} ft</p>
                                </td>
                                <td *ngIf="item.highlow=='L'">
                                    <p> @ {{item.time}} </p>
                                </td>
                            </tr>
                        </table>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <table>
                            <tr>
                                <th colspan="2">
                                    <p>High Tides</p>
                                </th>
                            </tr>
                            <tr *ngFor="let item of i.DataDay">
                                <td *ngIf="item.highlow=='H'">
                                    <p>{{item.pred_in_ft}} ft</p>
                                </td>
                                <td *ngIf="item.highlow=='H'">
                                    <p> @ {{item.time}} </p>
                                </td>
                            </tr>
                        </table>
                    </mat-grid-tile>
                </mat-grid-list>
            </ion-item>
        </div>
        <div style="margin-top: 20px;" *ngIf="!GraphOn">
            <mat-grid-list cols="3" rowHeight="2:1">
                <mat-grid-tile>
                    <button id="btnBack" mat-button block round color="light" class="login-button" tappable>
                        <ion-icon ios="ios-skip-backward" md="md-skip-backward"></ion-icon>
                        Back &nbsp;&nbsp;&nbsp;
                    </button>
                </mat-grid-tile>
                <mat-grid-tile>
                    <strong style="color: #000;font-size: 16px;">Water
                        Level</strong>
                </mat-grid-tile>
                <mat-grid-tile>
                    <button id="btnFwd" mat-button block round color="light" class="login-button" tappable>
                        Forward
                        <ion-icon ios="ios-skip-forward" md="md-skip-forward"></ion-icon>
                    </button>
                </mat-grid-tile>
            </mat-grid-list>
            <div id="container" style="display: block;"></div>
        </div>
    </div>
    <div class="item" *ngIf="eventList.length==0">
        <h1 class="no-appointment">
            <img style="height: 70px;" src="assets/img/error.png"><br> No data Available.</h1>
    </div>
</ion-content>
<ion-footer *ngIf="authService.INTERNETCHECK">
    <ion-toolbar style="text-align: center">
        <div>
            <small class="label-Network" clear>Offline data not available.You are not connected to the Internet at the
                moment.
            </small>
        </div>
    </ion-toolbar>
</ion-footer>