<div class="transparent-header" [ngStyle]="{'background-image': 'url(' + backgroundImage +')'}">
  <ion-header>
    <ion-navbar>
      Sign Up
    </ion-navbar>
  </ion-header>
</div>

<ion-content>
  <div style="margin-top: 55px;">
    <ion-row>
      <ion-col align-self-start col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 padding>
        <ion-row>
          <ion-col col-6 align-self-start style="          padding: 15px;      ">
            <ion-icon mat-raised-button class="fb-ion-icon paper-raise" mat-button ios="logo-facebook" md="logo-facebook" (tap)="fb_login()"
              tappable></ion-icon>
          </ion-col>
          <ion-col col-6 align-self-start style="          padding: 15px;      ">
            <div style="float: left;" mat-raised-button (tap)="googlePlus_login()" tappable>
              <img class="paper-raise" style="margin-top: 10px;width: 38px;height: 38px;" src="assets/img/google.png" />
            </div>
          </ion-col>
          <ion-col col-12 align-self-center>
            <p class="heading-title"> Use your Facebook / Google accounts to register. </p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col align-self-start col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 padding>
        <p no-margin style="color: #a7a7a7;font-size: 18px;">----------OR----------</p>
      </ion-col>
    </ion-row>
  </div>
  <form [formGroup]="RegisterForm" (ngSubmit)="register()">
    <!-- <div>
      <ion-segment class="heading-cont" [(ngModel)]="User" [formControl]="userType">
        <ion-segment-button class="segement" value="angler">
          Angler
        </ion-segment-button>
        <ion-segment-button class="segement" value="guide">
          Guide
        </ion-segment-button>
      </ion-segment>
    </div> -->

    <div style="margin-top: 10px;padding: 0% 6%;">
      <ion-row>
        <ion-col col-6>
          <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="First Name" [formControl]="FirstName">
          </mat-form-field>
        </ion-col>
        <ion-col col-6>
          <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Last Name" [formControl]="LastName">
          </mat-form-field>
        </ion-col>
      </ion-row>
      <ion-row>
        <!-- <ion-col col-6> -->
        <div *ngIf="FirstName.hasError('required') && FirstName.touched" class="error">
          <p>* Please enter your first name.</p>
        </div>
        <div *ngIf="FirstName.hasError('minlength') && FirstName.touched" class="error">
          <p>* Minimum first name length is 3 characters.</p>
        </div>
        <div *ngIf="FirstName.hasError('maxlength') && FirstName.touched" class="error">
          <p>* Maximum first name length is 25 characters.</p>
        </div>
        <div *ngIf="FirstName.hasError('pattern') && FirstName.touched" class="error">
          <p>* First name cannot start with numbering.</p>
        </div>
        <!-- </ion-col>
        <ion-col col-6> -->
        <div *ngIf="LastName.hasError('required') && LastName.touched" class="error">
          <p>* Please enter your last name.</p>
        </div>
        <div *ngIf="LastName.hasError('minlength') && LastName.touched" class="error">
          <p>* Minimum last name length is 3 characters.</p>
        </div>
        <div *ngIf="LastName.hasError('maxlength') && LastName.touched" class="error">
          <p>* Maximum last name length is 25 characters.</p>
        </div>
        <div *ngIf="LastName.hasError('pattern') && LastName.touched" class="error">
          <p>* Last name cannot start with numbering.</p>
        </div>
        <!-- </ion-col> -->
      </ion-row>
      <ion-row>
        <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="Email Address" [formControl]="Email">
        </mat-form-field>
      </ion-row>
      <ion-row>
        <ion-col col-11>
          <div *ngIf="Email.hasError('required') && Email.touched" class="error">
            <p>* Please enter your Email Id.</p>
          </div>
          <div *ngIf="Email.hasError('pattern') && Email.touched" class="error">
            <p>* Invalid Email Id.</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="Confirm Email Address" [formControl]="ConfirmEmail">
        </mat-form-field>
      </ion-row>
      <ion-row>
        <div *ngIf="ConfirmEmail.hasError('required') && ConfirmEmail.touched" class="error">
          <p>*Please enter confirm Email.</p>
        </div>
        <!-- <div *ngIf="ConfirmEmail.hasError('mismatchedPasswords') && ConfirmEmail.touched" class="error">
                <p>*Email do not match.</p>
              </div> -->
        <div *ngIf="mismatchEmail" class="error">
          <p>*Email do not match.</p>
        </div>
        <div *ngIf="submitAttempt" class="error">
          <p>* Email you entered is already registered.</p>
        </div>
      </ion-row>

      <ion-row>
        <mat-form-field class="example-full-width">
          <input matInput required type="{{type}}" clear [formControl]="Password" placeholder="Password">
          <mat-icon matSuffix>
            <span mat-button icon-only *ngIf="!eyesicon" style="float: right;color: black;font-size: 14px;" (tap)="toggleShow()">
              <ion-icon ios="ios-eye-outline" md="md-eye"></ion-icon>
            </span>
            <span mat-button icon-only *ngIf="eyesicon" style="float: right;color: black;font-size: 14px" (tap)="toggleShow()">
              <ion-icon ios="ios-eye-off" md="md-eye-off"></ion-icon>
            </span>
          </mat-icon>
        </mat-form-field>
      </ion-row>
      <ion-row>
        <div *ngIf="Password.hasError('required') && Password.touched" class="error">
          <p>*Please enter password.</p>
        </div>
        <div *ngIf="Password.hasError('minlength') && Password.touched" class="error">
          <p>*Minimum password length is 8 characters.</p>
        </div>
        <div *ngIf="Password.hasError('maxlength') && Password.touched" class="error">
          <p>*Maximum password length is 20 characters.</p>
        </div>
      </ion-row>
      <!-- <ion-row style="margin-top: 25px;">
            <h5 style="color: black;">Mailing Address</h5>
          </ion-row> -->
      <!-- <ion-row >          
              <ion-item class="input-border">            
                  <ion-label floating>Street Address 1</ion-label>
                  <ion-input type="text" [formControl]="StrtAddr1" ></ion-input>
              </ion-item>  
            </ion-row> -->
      <!-- <ion-row >      
            <div *ngIf="StrtAddr1.hasError('required') && StrtAddr1.touched" class="error">
                <p>*Please enter street address.</p>
              </div>
              </ion-row> -->
      <!-- <ion-row >          
                <ion-item class="input-border">            
                    <ion-label floating>Street Address 2</ion-label>
                    <ion-input type="text" [formControl]="StrtAddr2"></ion-input>
                </ion-item>  
              </ion-row> -->
      <!-- <ion-row >      
                <div *ngIf="StrtAddr2.hasError('required') && StrtAddr2.touched" class="error">
                    <p>*Please enter street address.</p>
                  </div>
                  </ion-row> -->
      <!-- <ion-row >
                  <ion-col  col-6>
                      <ion-item class="input-border">            
                          <ion-label floating>City</ion-label>
                          <ion-input type="text" [formControl]="City"></ion-input>
                      </ion-item>
                    </ion-col>
                  <ion-col col-6>
                      <ion-item class="input-border">            
                          <ion-label floating>State</ion-label>
                          <ion-input type="text" [formControl]="State"></ion-input>
                      </ion-item>
                  </ion-col>              
          </ion-row> -->
      <!-- <ion-row>
          <div *ngIf="State.hasError('required') && State.touched" class="error">
            <p>* Please enter your state.</p>
          </div>
          <div *ngIf="State.hasError('minlength') && State.touched" class="error">
            <p>* Minimum first name length is 3 characters.</p>
          </div>
          <div *ngIf="State.hasError('maxlength') && State.touched" class="error">
            <p>* Maximum first name length is 25 characters.</p>
          </div>
          <div *ngIf="State.hasError('pattern') && State.touched" class="error">
            <p>* First name cannot start with numbering.</p>
          </div>
          <div *ngIf="City.hasError('required') && City.touched" class="error">
            <p>* Please enter your city.</p>
          </div>
          <div *ngIf="City.hasError('minlength') && City.touched" class="error">
            <p>* Minimum city length is 3 characters.</p>
          </div>
          <div *ngIf="City.hasError('maxlength') && City.touched" class="error">
            <p>* Maximum city length is 25 characters.</p>
          </div>
          <div *ngIf="City.hasError('pattern') && City.touched" class="error">
            <p>* City cannot start with numbering.</p>
          </div>
        </ion-row> -->
      <ion-row>
        <ion-col col-12>
          <ion-item style="margin-top: 25px;" class="input-border">
            <mat-select [formControl]="Countryoption" name="Country1" (change)="onLocationChange()" [(ngModel)]="UserPhonecode" placeholder="Country">
              <mat-option *ngFor="let item of countries;" [value]="item">{{item.name}}</mat-option>
            </mat-select>
            <!-- <ion-select [formControl]="Countryoption" name="Country" (ionChange)="onLocationChange()" [(ngModel)]="UserPhonecode"  placeholder="Country">
                            <ion-option *ngFor="let item of countries;" [value]="item">{{item.name}}</ion-option>
                   </ion-select> -->
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <!-- <ion-item class="input-border">            
          <ion-label floating>Zip Code</ion-label>
          <ion-input type="text" [formControl]="ZipCode"></ion-input>
      </ion-item> -->
        </ion-col>
      </ion-row>
      <!-- <ion-row>
           <div *ngIf="Countryoption.hasError('required') && Countryoption.touched" class="error">
            <p>* Please select Country.</p>
          </div>
          <div *ngIf="ZipCode.hasError('required') && ZipCode.touched" class="error">
                <p>* Please enter your zip code.</p>
              </div>
              <div *ngIf="ZipCode.hasError('minlength') && ZipCode.touched" class="error">
                <p>* Minimum zip code length is 5 number.</p>
              </div>
              <div *ngIf="ZipCode.hasError('maxlength') && ZipCode.touched" class="error">
                <p>* Maximum zip code length is 5 number.</p>
              </div>
              <div *ngIf="ZipCode.hasError('pattern') && ZipCode.touched" class="error">
                <p>* Invalid zip code.</p>
              </div>
    </ion-row> -->
      <ion-row>
        <ion-col col-3 style="margin-bottom: 12px;">
          <ion-label>{{Countrycode}}</ion-label>
        </ion-col>
        <ion-col col-9>
          <mat-form-field class="example-full-width">
            <input matInput type="tel" placeholder="Phone Number" [formControl]="PhoneNumber" maxlength="10">
          </mat-form-field>
        </ion-col>
      </ion-row>
      <ion-row>
        <small *ngIf="PhoneNumber.hasError('required') && PhoneNumber.touched" class="error">
          <p>* Please enter your phone number.</p>
        </small>
        <small *ngIf="PhoneNumber.hasError('minlength') && PhoneNumber.touched" class="error">
          <p>* Minimum phone number length is 10 number.</p>
        </small>
        <small *ngIf="PhoneNumber.hasError('maxlength') && PhoneNumber.touched" class="error">
          <p>* Maximum phone number length is 10 number.</p>
        </small>
        <small *ngIf="PhoneNumber.hasError('pattern') && PhoneNumber.touched" class="error">
          <p>* Please enter NUMBER only.</p>
        </small>
      </ion-row>
      <ion-row>
        <ion-col align-self-start col-8>
          <mat-form-field class="example-full-width">
            <input clear matInput type="text" placeholder="Referral Code" [(ngModel)]="Referralcode" [formControl]="Refercode">
          </mat-form-field>
        </ion-col>
        <ion-col align-self-start col-4>
          <span mat-raised-button (click)="ReferralcodeApply()" class="mat-logBtn mat-raised-button mat-light" style="color: white !important;">
            {{Referralcodetxt}}
          </span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col align-self-center col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
          <button mat-raised-button class="mat-logBtn" block round color="light" [disabled]="!RegisterForm.valid" tappable>SIGN UP</button>
          <!-- <button mat-button block round color="light" [disabled]="!RegisterForm.valid" class="login-button">SIGN UP
        </button> -->
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: 60px;">
        <div class="sign-in-link">
          <span>Already have an account?
            <strong style="color: #18cbef;" clear (click)="goToSignup()">Sign In</strong>.</span>
        </div>
      </ion-row>
    </div>
  </form>
</ion-content>
<ion-footer *ngIf="authService.INTERNETCHECK">
  <ion-toolbar style="text-align: center">
    <div>
      <small *ngIf="authService.INTERNETCHECK" class="error">
        <p>* Please check your network connection.</p>
      </small>
    </div>
  </ion-toolbar>
</ion-footer>