sign-up {

  $base-color: rgb(24, 72, 90);
  // Fullscreen centered image background
  .heading-title{
    color: #18cbef !important;
    font-size: 16px;
    font-weight: 600;
  }
  .fb-ion-icon {
    display: inline-block;
    font-size: 4em;
    color: #3b5998;
    float: right;
   // box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
   // border-color: #dedede;
  }
  .google-ion-icon {
    display: inline-block;
    font-size: 4em;
    color: #3b5998;
    float: left;
   // box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
   // border-color: #dedede;
  }
  

.fb-btn{
  margin: 10px !important;
  width: 90% !important;
    background: #4267b2 !important;
}
.gplus-btn{
  margin: 10px !important;
  width: 90% !important;
    background: #db4437 !important;
}

  button{
    span  ion-icon  {
    color: #ffffff;
    padding: 5px;
}
span{
  color: #ffffff;
}
}
  .transparent-header .toolbar-content, .transparent-header .back-button {
      color: black;
      ion-icon{
        color: black;
      }
  }
  .toolbar-background{
    background: #ffffff !important;
  }
  .sign-in-link{
    margin-top: 15px;
    margin-bottom: 50px;
    text-align: center;
    width: 100%;
  }

  .error p {
    color:#f44336 !important;
    text-align: left;
}
.mat-focused
.mat-form-field-label {
  caret-color: #18cbef !important;
}
form div {
  color: black !important;
}
.text-discount{
  text-align: center;
}
ion-content{
ion-icon{
color: #7a7a7a;
}
}
.thumbnail{
  border: 1px dotted #000;
  border-radius: 22px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.mat-logBtn{
  width: 90%;
    background: #18cbef;
}
.example-full-width {
  width: 100%;
}
.labal-Country{
margin: 13px 0px 13px 0;
}

ion-fab {
  position: fixed;
  z-index: 999; 
}
.fab-md-danger ,.fab-ios-danger {
  color: #fff;
  background-color: #18cbef;
}
.item-inner {
   padding-right: 0px !important; 
}
ion-col {
  position: initial !important;
}
.SignUp-container {
position: absolute;
//top: 0;
//padding: 10vw;
text-align: center;
width: 100%;
z-index: 2;
}

.goback-btn{
  float: left;
    /* width: 18px; */
    font-size: 25px;
    margin: 0px 10px;
}
.mat-select-value-text{
  color: #000 !important;
}

/* Style for ion-icons*/
ion-icon {
  display: inline-block;
  font-size: 2.2em;
  color: #fff;
}
.select-md .select-icon .select-icon-inner {
   left: 0px; 
  top: 50%;
  margin-top: -3px;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 5px solid;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  color: #999;
  pointer-events: none;
}


.notification-icon {
  margin-right: 13px;
}

.notification-icon ion-icon {
  display: inline-block;
  font-size: 1.80em;
  color: #fff;
}

ion-select {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /* overflow: hidden; */
  max-width: 100%;
  width: 100%;
}


ion-select {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  width: 100%;
  color: #000;
}

.select-md .select-placeholder {
  color: #050505;
}

.select-md {
   padding: 0px; 
}


.input-border{
  border-bottom: 1px solid #cccccc;
}


ion-item.item-md.item.item-block{
  border-bottom: 1px solid #ccc !important;
}


.segement{
  background-color: #212733;
  border-right: 1px solid #cccccc;
  text-transform: capitalize !important;
  color: #ffffff !important;
  font-weight: 600 !important;
}
.segment-button.segment-activated {
  border-color: #ffffff !important;
  opacity: 1;
  border-bottom: 4px solid #18CBEF !important;
}
.heading-cont{
  margin-bottom: 4px;
  height: 70px;
  border-radius: 0px;
  height: 43px;
  text-transform: capitalize !important;
  color: #ffffff !important;
 background: #212733;
 //box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
}

ion-list {
  margin: 0;
  padding: 0;
  display: block;
  list-style-type: none;
  background-color: #ffffff !important;
}
.p-label{
color:#898989 !important;
font-family:  'Roboto', sans-serif;
font-size: 14.0px;
font-style: normal;
font-stretch: normal;
// font-weight: 700;
text-align: right;
}
.ion-list-style{
width: 100%;
box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
margin-bottom: 21px;
}
.ion-cont{
border-radius: 0px;
  /* width: 375px; */
  height: 120px;
  /* background: #ffffff !important; */
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5)
}



.icon-badgebell{
width: 19.95px;
  height: 22.25px;
}
.icon-img{
height: 14px;
margin-right: 5px;
}
ion-avatar{

margin: 0px 0px 0px 0px !important;
}

.item-md {
padding-left: 0px !important;
}
.home-img{
height: 19vh !important;
width: 19vh !important;
border-radius: 0% !important;
padding-left: 0px;
}

  .text-input-md {
    margin: 13px 8px;
    padding: 0;
    width: calc(100% - 8px - 8px);
    color: black;
}
  ion-content {
    background: #ffffff !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-color: transparent;
  }
  // Slider
  .content-slider {
    ion-slides,
    .swiper-container {
      height: 100%;
      width: auto;
    }
  }
  .text-slider {
    ion-slides,
    .swiper-container {
      height: 20vh;
      width: auto;
    }
  }
  .zoom .slide-zoom {
    height: 100%;
  }
  // Content
  .scroll-content {
    display: flex;
    flex-direction: column;
    // overflow: hidden;
    padding: 0px !important;
  }
  .logo {
    width: 130px;
    height: 130.73px;
    max-width: 19em;
    margin: 0 auto;
  }
  ion-row {
    align-items: center;
    text-align: center;
  }
  ion-col {
    padding: 0 20px;
  }
  span,
  p,
  h3 ,.mat-select-arrow{
    color:#333333 !important;
  }
  // Input items
  ion-label,
  .input-has-focus {
    color:#333333 !important;
  }
  ion-item {
    border-radius: 3px !important;
    padding-right: 16px !important;
    margin-bottom: 5px !important;
    color:#333333 !important;
    background-color: transparent !important;
    font-size: 0.9em;
  }
  .margin-bottom {
    margin-bottom: 15px !important;
  }
   ::-webkit-input-placeholder {
    color:#333333 !important;
  }
  .item-inner {
    border-bottom: 2px solid white !important;
    box-shadow: none !important;
  }
  //
  .login-button {
    border-radius: 4px;
    width: 301px;
    height: 40px;
    background: #18cbef;
    box-shadow: 5px 5px 4px rgba(202,202,202,0.5);
    top: 28px;
    //box-shadow: 5px 5px 4px rgba:(202,202,0.5);

    width: 100%;
    max-width: 40rem;
    height: 50px;
    font-size: 1.2em;
    span {
      color: $base-color;
    }
    // border: 1px solid #fff;
  }
  .forgot-button {
    font-weight: bold;
    float: right;
    ion-icon {
      padding-left: 10px;
      font-size: 2.2rem;
    }
  }
  .goback-button {
    font-weight: bold;
    float: left;
    ion-icon {
      padding-right: 10px;
      font-size: 2.2rem;
    }
  }
  .slide-button {
    margin-top: 4rem;
    font-weight: bold;
    ion-icon {
      padding-left: 10px;
      font-size: 2.2rem;
    }
  }
  .position-bottom {
    position: absolute;
    left: 0;
    bottom: 25px;
    right: 0;
    margin: 0 auto;
    width: 100%;
  }
  //.input-wrapper{
    //border-bottom: 1px solid #cccccc;
 // }

  .forgot-Password {
    margin-top: 85px;
    width: 100%;
    height: 14px;
    color: #18cbef;
    font-family:  'Roboto', sans-serif;
    font-size: 17.0px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    text-align: center;
  }


  ion-content,
  .input-wrapper,
  .item-inner,
  .item,
  ion-footer,
  ion-item,
  ion-label {
    transition: all 1.1s ease;
    background-color: #ffffff !important;
    background: #ffffff !important;
    color: rgb(2, 2, 2);   
  }
}
