<!--
  Generated template for the FishingNewsDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>{{news.title}}</ion-title>
	</ion-navbar>

</ion-header>


<ion-content>
	<div class="img-div">
		<img class="news-img" src="{{news.image_url}}">
	</div>
	<ion-card-content>
		<h1 [innerHTML]="news.title"></h1>
		<span>{{news.news_date_time | moment:'Do MMMM YYYY'}}
			<span>{{news.time}}</span>
		</span>
		<p [innerHTML]="news.description"></p>
	</ion-card-content>


</ion-content>

<ion-footer>
	<ion-toolbar>
		<!-- <ion-row>
				<div class="popup-menu">
						<div class="popup-menu-overlay" [ngClass]="{'in': openMenu}" (click)="togglePopupMenu()"></div>
					
						<div class="popup-menu-panel" [ngClass]="{'in': openMenu}">
								<form  (submit)="send(chatBox)" style="width: 443px;" novalidate>
										<ion-item>
										  <ion-input  placeholder="Send  a message..."></ion-input>
										  <button ion-button clear  item-end><ion-icon class="footer-btn" name="send"></ion-icon></button>
										</ion-item>
									  </form>
							
						</div>
					</div>
		</ion-row> -->
		<ion-row text-center>
			<ion-col>
				<button ion-button icon-left clear small>
					<img *ngIf="!news.LikeStatus" src="assets/img/icon/like.png" class="forum-like-img" (click)="addToLike(news)">
					<img *ngIf="news.LikeStatus" src="assets/img/icon/dislike.png" class="forum-like-img" (click)="addToLike(news)">
				</button>
				<!-- <button ion-button icon-left clear small (click)="openGuideDetail()">
						  <ion-icon ios="ios-thumbs-up" md="md-thumbs-up" (click)="addTofavourit(news)"></ion-icon>
						
						</button>  -->
				<!-- <button ion-button icon-left clear small (click)="openGuideDetail()">
					<ion-icon name="contact"></ion-icon>
				</button> -->
			</ion-col>
			<ion-col>
				<button ion-button icon-left clear small>
					<img *ngIf="!news.favouriteStatus" src="assets/img/icon/forum_heart_img.png" class="forum-like-img" (click)="addTofavourit(news)">
					<img *ngIf="news.favouriteStatus" src="assets/img/icon/forum_like_img.png" class="forum-like-img" (click)="addTofavourit(news)">
				</button>
				<!-- <button ion-button icon-left clear small>
					<ion-icon name="heart" (click)="addTofavourit(news)"></ion-icon>
					<div>{{news.like}}</div>
				</button> -->
			</ion-col>
			<ion-col>
				<button ion-button icon-left clear small (click)="sendCmmt(news)">
					<ion-icon name="text"></ion-icon>
					<div>{{news.comment}}</div>
				</button>
			</ion-col>
			<ion-col>
				<button ion-button icon-left clear small (click)="newsShare(news)">
					<ion-icon name="share"></ion-icon>
				</button>
			</ion-col>
		</ion-row>
	</ion-toolbar>
	<!-- <div [hidden]="!isenabledCmtBox">
			<form [formGroup]="messageForm" (submit)="send(chatBox)" novalidate>
			  <ion-item>
				<ion-input formControlName="message" [(ngModel)]="chatBox" placeholder="Send  a message..."></ion-input>
				<button ion-button clear (click)="send(chatBox)" item-end><ion-icon class="footer-btn" name="send"></ion-icon></button>
			  </ion-item>
			</form>
		</div>
		   -->
</ion-footer>
<ion-footer *ngIf="authService.INTERNETCHECK">
	<ion-toolbar style="text-align: center">
			<div>
					<small class="label-Network" clear>Offline data not available.You are not connected to the Internet at the moment.
					</small>
			</div>
	</ion-toolbar>
</ion-footer>