<ion-header>
  <ion-navbar>
    <ion-title style="float: left;margin-top: 12px;">License Settings</ion-title>
    <!-- <ion-buttons end>
      <button id="notification-button" ion-button icon-only (click)="Notification()">
        <ion-icon name="notifications">
          <ion-badge *ngIf="authService.NotifyCount !=0" id="notifications-badge" color="danger">{{authService.NotifyCount}}</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list class="ion-list-style ">
    <div class="card card-1" *ngIf="!DataNA">
      <!-- <ion-item>
              <ion-avatar item-start>       
                <div *ngIf="card.user_id.image_url==null">
                  <img src="assets/img/icon/placeholder.png">
                </div>
                <img src="{{card.user_id.image_url}}" *ngIf="card.user_id.image_url!=null">
              </ion-avatar>
              <h2 class="heading-content">{{card.user_id.first_name}} {{card.user_id.last_name}}</h2>       
            </ion-item> -->
      <ion-item (tap)="PhotoView()">
        <ion-thumbnail item-start>
          <img src="{{image_url}}">
        </ion-thumbnail>
        <div *ngIf="LicenName!==''">
          <!-- <h2 class="heading-content" text-wrap>{{card.user_id.first_name}} {{card.user_id.last_name}}</h2> -->
          <p class="event-info" text-wrap (click)="ShoutOutDetails('card')"> {{LicenName}}
          </p>
        </div>
      </ion-item>
    </div>
    <div *ngIf="DataNA" style="width: 100%;color: black;background: #f4f4f4;">
      <h1 class="no-appointment">
        <img style="height: 70px;" src="assets/img/error.png">
        <br> No License Stored.
      </h1>
    </div>
  </ion-list>
  <ion-fab right bottom class="pop-in">
    <button (tap)="AddLience()" ion-fab mini>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
<ion-footer *ngIf="authService.INTERNETCHECK">
  <ion-toolbar style="text-align: center">
    <div>
      <small class="label-Network" clear>Offline data not available.You are not connected to the Internet at the moment.
      </small>
    </div>
  </ion-toolbar>
</ion-footer>