page-businessform {
  $base-color: rgb(24, 72, 90);
  // Fullscreen centered image background
  .error p {
    color: rgb(230, 3, 3) !important;
    text-align: left;
}
.error{
  color: red;float: left;
}
.mat-focused
.mat-form-field-label {
  caret-color: #18cbef !important;
}
form div {
  color: black !important;
}
.text-discount{
  text-align: center;
}

.thumbnail{
  border: 1px dotted #000;
  border-radius: 22px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

ion-content p {
  color:#000 !important;
  
}
.toolbar-title-md {
  padding: 0 12px;
  color: #ffffff;
}
.toolbar-title-ios {
  padding: 0 12px;
  color: #ffffff;
}
.toolbar{
  span{
    color: white;
  }
}
.toolbar-background, .toggle-checked {
  background-color: #212733 !important;
  color: #fff;
}
.close-button{
  float: right;
font-size: 14px;
color: #FFF;
}
.pricing {
  color: #19cbef;
  float:right;
  top:10px;
  span {
    font-weight: normal;
    color: #000;
  }
}

.goback-btn{
  float: left;
    /* width: 18px; */
    font-size: 25px;
    margin: 0px 10px;
}
.select-text{
  color: #000 !important;
}

/* Style for ion-icons*/
ion-icon {
  display: inline-block;
  font-size: 2.2em;
  //color: #000;
}
.select-md .select-icon .select-icon-inner {
   left: 0px; 
  top: 50%;
  margin-top: -3px;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 5px solid;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  color: #999;
  pointer-events: none;
}

ion-select {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /* overflow: hidden; */
  max-width: 100%;
  width: 100%;
}


ion-select {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  width: 100%;
  color: #000;
}

.select-md .select-placeholder {
  color: #050505;
}

.select-md {
   padding: 0px; 
}


.input-border{
  border-bottom: 1px solid #cccccc;
}



.segement{
  background-color: #212733;
  border-right: 1px solid #cccccc;
  text-transform: capitalize !important;
  color: #ffffff !important;
  font-weight: 600 !important;
}
.segment-button.segment-activated {
  border-color: #ffffff !important;
  opacity: 1;
  border-bottom: 4px solid #18CBEF !important;
}
.heading-cont{
  margin-bottom: 4px;
  height: 70px;
  border-radius: 0px;
  height: 43px;
  text-transform: capitalize !important;
  color: #ffffff !important;
 background: #212733;
 //box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
}

ion-list {
  margin: 0;
  padding: 0;
  display: block;
  list-style-type: none;
  background-color: #ffffff !important;
}
.p-label{
color:#898989 !important;
font-family:  'Roboto', sans-serif;
font-size: 14.0px;
font-style: normal;
font-stretch: normal;
// font-weight: 700;
text-align: right;
}
.ion-list-style{
width: 100%;
box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
margin-bottom: 21px;
}
.ion-cont{
border-radius: 0px;
  /* width: 375px; */
  height: 120px;
  /* background: #ffffff !important; */
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5)
}

ion-thumbnail img {
  width: 100% !important;
  height: 100% !important;
  border-radius: 25px;
}

.icon-badgebell{
width: 19.95px;
  height: 22.25px;
}
.icon-img{
height: 14px;
margin-right: 5px;
}
ion-avatar{

margin: 0px 0px 0px 0px !important;
}

.item-md {
padding-left: 0px !important;
}
.home-img{
height: 19vh !important;
width: 19vh !important;
border-radius: 0% !important;
padding-left: 0px;
}

  .text-input-md {
    margin: 13px 8px;
    padding: 0;
    width: calc(100% - 8px - 8px);
    color: black;
}
  ion-content {
    background: #ffffff !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-color: transparent;
  }
  // Slider
  .content-slider {
    ion-slides,
    .swiper-container {
      height: 100%;
      width: auto;
    }
  }
  .text-slider {
    ion-slides,
    .swiper-container {
      height: 20vh;
      width: auto;
    }
  }
  .zoom .slide-zoom {
    height: 100%;
  }
  // Content
  .scroll-content {
    display: flex;
    flex-direction: column;
    // overflow: hidden;
    padding: 0px !important;
  }
  .logo {
    width: 130px;
    height: 130.73px;
    max-width: 19em;
    margin: 0 auto;
  }
  ion-row {
    align-items: center;
    text-align: center;
  }
  ion-col {
    padding: 0 20px;
  }
  
  p,
  h3 {
    color:#333333;
  }
  // Input items
  ion-label,
  .input-has-focus {
    color:#333333 !important;
  }
  // ion-item {
  //   border-radius: 3px !important;
  //   padding-right: 16px !important;
  //   margin-bottom: 5px !important;
  //   color:#333333 !important;
  //   background-color: transparent !important;
  //   font-size: 0.9em;
  // }
  .margin-bottom {
    margin-bottom: 15px !important;
  }
   ::-webkit-input-placeholder {
    color:#333333 !important;
  }
  .item-inner {
    border-bottom: 2px solid white !important;
    box-shadow: none !important;
  }
  //
  .login-button {
    border-radius: 4px;
    width: 301px;
    height: 40px;
    background: #18cbef;
    box-shadow: 5px 5px 4px rgba(202,202,202,0.5);
    top: 28px;
    //box-shadow: 5px 5px 4px rgba:(202,202,0.5);

    width: 100%;
    max-width: 40rem;
    height: 50px;
    font-size: 1.2em;
    span {
      color: $base-color !important;
    }
    // border: 1px solid #fff;
  }
  .forgot-button {
    font-weight: bold;
    float: right;
    ion-icon {
      padding-left: 10px;
      font-size: 2.2rem;
    }
  }
  .goback-button {
    font-weight: bold;
    float: left;
    ion-icon {
      padding-right: 10px;
      font-size: 2.2rem;
    }
  }
  .slide-button {
    margin-top: 4rem;
    font-weight: bold;
    ion-icon {
      padding-left: 10px;
      font-size: 2.2rem;
    }
  }
  .position-bottom {
    position: absolute;
    left: 0;
    bottom: 25px;
    right: 0;
    margin: 0 auto;
    width: 100%;
  }
  //.input-wrapper{
    //border-bottom: 1px solid #cccccc;
 // }

  .forgot-Password {
    margin-top: 85px;
    width: 100%;
    height: 14px;
    color: #18cbef;
    font-family:  'Roboto', sans-serif;
    font-size: 17.0px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    text-align: center;
  }


  ion-content,
  .input-wrapper,
  .item-inner,
  .item,
  ion-footer,
  ion-item,
  ion-label {
   // transition: all 1.1s ease;
    background-color: #ffffff !important;
    background: #ffffff !important;
    color: rgb(2, 2, 2);   
  }



  [contenteditable=true] {
    -webkit-user-select: auto !important;
   // padding: 2px;
   // margin: 2px;
    border: 1px solid #bbb;
    overflow-x: scroll;
    overflow-y: auto;
    word-wrap: normal;
    height: 40vh;
    img {
        padding-left: 2px;
        max-width: 95%;
    }
    background-color: #fff;
    &:empty:before {
        content: attr(data-placeholder-text);
        display: block;
        color: lightgrey;
        font-weight: bold;
    }
    h1,h2,h3,h4,h5,li,b,l,ul,ol,span{
      color: #000 !important;
    }
}
div.decorator {
    background: #444;
    margin: 5px 1px 5px 1px;
    text-align: center;
    button {
        background: #444;
        color: #fff;
        font-size: 1.1em;
        height: 35px;
        min-width: 30px;
        padding-left: 1px;
        padding-right: 1px;
    }
}
}
