<ion-header>
        <ion-navbar>
                <ion-title>
                        Post Business Details
                </ion-title>
                <ion-buttons end>
                        <button ion-button icon-only (click)="Notification()">
                                <ion-icon name="close"></ion-icon>
                        </button>
                </ion-buttons>
        </ion-navbar>
</ion-header>
<ion-content padding>
        <form [formGroup]="BusinessForm">
                <div style="padding: 20px 10px 0px 15px;">
                        <ion-list>
                                <ion-row>
                                        <ion-item style="padding-left: 30% !important;">
                                                <ion-thumbnail item-start class="thumbnail" (click)="Uploadimg()" *ngIf="imgPreview==null && imgPreview==undefined">
                                                        <div padding>
                                                                <div class="text-discount">Upload logo</div>
                                                                <div class="text-discount">
                                                                        <ion-icon ios="ios-cloud-upload-outline" md="ios-cloud-upload-outline"></ion-icon>
                                                                </div>
                                                        </div>
                                                </ion-thumbnail>
                                                <ion-thumbnail item-start class="thumbnail" style="width: 100px;height: 100px;"
                                                        (click)="Uploadimg()" *ngIf="imgPreview!=null && imgPreview!=undefined">
                                                        <img [src]="imgPreview">
                                                </ion-thumbnail>
                                        </ion-item>
                                </ion-row>
                                <ion-row>
                                        <ion-item>
                                                <mat-form-field class="example-full-width">
                                                        <input matInput [(ngModel)]="Business_Name" type="text"
                                                                formControlName="BusinessName" placeholder="Business Name">
                                                </mat-form-field>
                                                <small *ngIf="BusinessForm.get('BusinessName').hasError('required') && BusinessForm.get('BusinessName').touched"
                                                        style="color: red;float: left;">
                                                        * Please Enter Your Business Name.
                                                </small>
                                                <small *ngIf="BusinessForm.get('BusinessName').hasError('minlength') && BusinessForm.get('BusinessName').touched"
                                                        class="error">
                                                        <p>* Minimum business name length is 3 characters.</p>
                                                </small>
                                                <small *ngIf="BusinessForm.get('BusinessName').hasError('maxlength') && BusinessForm.get('BusinessName').touched"
                                                        class="error">
                                                        <p>* Maximum business name length is 25 characters.</p>
                                                </small>
                                        </ion-item>
                                </ion-row>
                                <ion-row>
                                        <ion-item>
                                                <mat-form-field class="example-full-width">
                                                        <input matInput type="tel" [(ngModel)]="cont_Number" maxlength="14"
                                                                formControlName="contNumber" placeholder="Phone Number">
                                                </mat-form-field>
                                                <small *ngIf=" BusinessForm.get('contNumber').hasError('required') &&  BusinessForm.get('contNumber').touched"
                                                        style="color: red;float: left;">
                                                        * Please Enter Your Phone Number.
                                                </small>
                                        </ion-item>
                                </ion-row>
                                <ion-row>
                                        <ion-item>
                                                <mat-form-field class="example-full-width">
                                                        <input matInput type="text" [(ngModel)]="Email_Id"
                                                                formControlName="EmailId" placeholder="Email Address">
                                                </mat-form-field>
                                                <small *ngIf="BusinessForm.get('EmailId').hasError('required') &&  BusinessForm.get('EmailId').touched"
                                                        style="color: red;float: left;">
                                                        * Please Enter Your Email Address.
                                                </small>
                                                <small *ngIf="BusinessForm.get('EmailId').hasError('pattern') && BusinessForm.get('EmailId').touched"
                                                        style="color: red;float: left;">
                                                        * Invalid Email Address.
                                                </small>
                                        </ion-item>
                                </ion-row>
                                <ion-row>
                                        <ion-item>
                                                <mat-form-field class="example-full-width">
                                                        <input matInput type="text" [(ngModel)]="FURL" formControlName="FirstURL"
                                                                placeholder="URL #1">
                                                </mat-form-field>
                                                <!-- <small *ngIf="BusinessForm.get('FirstURL').hasError('required') &&  BusinessForm.get('FirstURL').touched" style="color: red;float: left;">
                                                        * Please enter a First URL.
                                                </small> -->
                                                <small class="error" *ngIf="BusinessForm.get('FirstURL').hasError('pattern') && BusinessForm.get('FirstURL').touched">
                                                        Please enter a valid URL (Format: http://www.website.com).
                                                </small>

                                        </ion-item>
                                </ion-row>
                                <ion-row>
                                        <ion-item>
                                                <mat-form-field class="example-full-width">
                                                        <input matInput type="text" [(ngModel)]="SURL" formControlName="SecondURL"
                                                                placeholder="URL #2">
                                                </mat-form-field>
                                                <!-- <small *ngIf="BusinessForm.get('SecondURL').hasError('required') &&  BusinessForm.get('SecondURL').touched" style="color: red;float: left;">
                                                        * Please enter a Second URL.
                                                </small> -->
                                                <small class="error" *ngIf="BusinessForm.get('SecondURL').hasError('pattern') && BusinessForm.get('SecondURL').touched">
                                                        Please enter a valid URL (Format: http://www.website.com).
                                                </small>
                                        </ion-item>
                                </ion-row>
                                <ion-row>
                                        <ion-item>
                                                <mat-form-field class="example-full-width">
                                                        <input matInput type="text" [(ngModel)]="TURL" formControlName="ThirdURL"
                                                                placeholder="URL #3">
                                                </mat-form-field>
                                                <!-- <small *ngIf="BusinessForm.get('ThirdURL').hasError('required') &&  BusinessForm.get('ThirdURL').touched" style="color: red;float: left;">
                                                        * Please enter a Third URL.
                                                </small> -->
                                                <small class="error" *ngIf="BusinessForm.get('ThirdURL').hasError('pattern') && BusinessForm.get('ThirdURL').touched">
                                                        Please enter a valid URL (Format: http://www.website.com).
                                                </small>
                                        </ion-item>
                                </ion-row>
                                <ion-row>
                                        <ion-item>
                                                <div #editor contenteditable="true" class="maineditor" tappable
                                                        [attr.data-placeholder-text]="getPlaceholderText()">
                                                </div>

                                                <!-- https://developer.mozilla.org/en-US/docs/Web/API/Document/execCommand -->
                                                <div #decorate class="decorator">
                                                        <button data-command="bold"><strong>B</strong></button>
                                                        <button data-command="italic"><i>I</i></button>
                                                        <button data-command="underline"><u>U</u></button> &nbsp;
                                                        <button data-command="fontSize|6"><span style="font-size: 1.5em;">A</span></button>
                                                        <button data-command="removeFormat"><span style="font-size: 1.0em;">A</span></button>
                                                        <button data-command="fontSize|1"><span style="font-size: 0.6em;">A</span></button>
                                                        &nbsp; <br>
                                                        <button data-command="insertHorizontalRule">HR</button>
                                                        <button data-command="insertOrderedList">OL</button>
                                                        <button data-command="insertUnorderedList">UL</button>
                                                        <button data-command="formatBlock|<h1>">H1</button>
                                                        <button data-command="formatBlock|<h2>">H2</button>
                                                        <br>
                                                        <button data-command="formatBlock|<p>">Normal</button> &nbsp;
                                                        <button data-command="justifyLeft">Left</button>
                                                        <button data-command="justifyCenter">Center</button>
                                                        <button data-command="justifyRight">Right</button>
                                                        <button data-command="justifyFull">Full</button> &nbsp;
                                                </div>
                                                <small style="color: red;float: left;">
                                                        {{ErrorMsg}}
                                                </small>
                                        </ion-item>
                                </ion-row>
                                <ion-row>
                                        <button ion-button block round color="light" [disabled]="!BusinessForm.valid"
                                                (tap)="saveBusinessinfo()" class="login-button">Submit</button>
                                </ion-row>
                        </ion-list>
                </div>
        </form>
</ion-content>
<ion-footer *ngIf="authService.INTERNETCHECK">
        <ion-toolbar style="text-align: center">
                <div>
                        <small class="label-Network" clear>Offline data not available.You are not connected to the
                                Internet at the moment.
                        </small>
                </div>
        </ion-toolbar>
</ion-footer>