.theme-dark {

  
.content-guest{
  margin-top: 42px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;

.hit-the-floor {
  color: #000;
  font-size: 1.5em;
  font-weight: bold;
  font-family:  'Roboto', sans-serif;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
   0 5px 0 #909090, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(255, 255, 255, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 
    0 10px 10px rgba(255, 255, 255, 0.2), 0 20px 20px rgba(255, 255, 255, 0.15);
}

  
  .hit-the-floor {
    text-align: center;
  }
  

  //variables

$light-grey: #434343;
$dark-grey: #212121;
$blue:#18cbef;
$margin-bottom: 25px;

// body styling

.button-text {
  display:flex;
  justify-content:center;
  background:$blue;
  color:white;
  border:none;
  margin-bottom:$margin-bottom;
  padding:15px;
  font-weight:700;
  font-size:14px;
  border-radius:5px;
  transition:all 0.4s linear;
  cursor: pointer;
  margin-top: 40px;
  // &:hover{
  //   background:darken($blue, 20%);
  // }
}

//animations

$easeOutCust:cubic-bezier(.03,.16,.39,0.99);
$easeInQuad: cubic-bezier(0.550, 0.085, 0.680, 0.530);
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);

$globalDelay: .8; //just so we can see what's going on even when codepen refreshes funny


@keyframes slideIn {
  from {transform:translateY(400px);}
  to {transform:translateY(0);}
}

@keyframes fadeIn {
  from {opacity:0;}
  to{ opaticy: 1;}
}

@keyframes slideDown {
from {transform: translateY(-120px);}
to {transform: translateY(0);}
}

@keyframes slideInShort {
  from {transform:translateY(80px);}
  to {transform:translateY(0);}
}

@keyframes blink {
    0% { box-shadow: 0 0 25px $blue; }
    50% { box-shadow: none; }
}


.button-text {
animation: slideIn 0.7s $globalDelay+.35s $easeOutCust both,
  fadeIn .2s $globalDelay+.3s $easeInQuad both, blink 2.0s linear infinite;
}
  
.first-text{
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}

.first-text:first-of-type {    
  animation: showup 7s infinite;
}

.first-text:last-of-type {
  width:0px;
  animation: reveal 7s infinite;
}

 .next-text {
  margin-left:-355px;
  animation: slidein 7s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}
}

  .refresher-refreshing{
    color: #222 !important;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  .toolbar-title,
  .bar-button-default,
  body,
  div {     
    color: white;
  }
  .onboard {
    border-color: #212733 !important;
  }
  .toolbar-background,
  .toggle-checked {     
    background-color: #212733;
  }

  ion-content,
  .input-wrapper,
  .item-inner,
  .item,
  ion-footer,
  ion-item,
  ion-label {     
    background-color: #212733;
    background: #212733;
    color: white;
  }
  ion-list {
    background-color: #212733;
  }
  .time {
    background-color: white;
  }
  .item {
     
    background-color: #212733;
    color: white;
  }
  
}

