page-About-Us {
  animation: fade-in .8s ease-in-out;
  @keyframes fade-in {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  ul{
    padding: 0px 20px;
  }

  .scroll-content {
    background: white;
  //background-image: url('../assets/img/wishlist-2.jpg');
    background-repeat: round;
  }
  p{
    color: black !important;
    font-size: 14px;
    line-height: 1.4;
    padding: 0px 10px;
    font-weight: 400;
    font-variant-caps: titling-caps;
    text-align: justify;
  }

  h2{
    color: black !important;
  }
  ion-icon, div{
      color:white;
      font-weight: bold;
  }
}
