<div class="{{global.state['theme']}}" id="main-cont">
  <ion-header>
  </ion-header>
  <!--Material Design Menu-->
  <ion-menu persistent="true" [content]="content" (ionClose)="collapseMenuOptions()">
    <ion-content>
      <div class="menu-header-Outset" id="menu-material">
        <div class="menu-header" *ngIf="authService.UserType !='guest'">
          <!--material-design-background-->
          <ion-row>
            <ion-col col-5>
              <ion-avatar class="thumb">
                <img class="user-avatar round" src="{{authService.Profileimg}}">
                <div *ngIf="authService.is_featured=='yes'">
                  <img style="height: 4vh;" id="edit-profile" src="assets/img/ActiveAward.png">
                </div>
              </ion-avatar>
            </ion-col>
            <ion-col col-7 class="user-text">
              <p class="name" style="color: #18cbef;" *ngIf="authService.MdleName!=='' && authService.MdleName!==undefined">{{authService.MdleName}}</p>
              <p class="name" style="color: #18cbef;font-size: 12px;" menuClose="left" (click)="invitReferral()"
                text-wrap>
                <ion-icon style="color: #18cbef;" name="share"></ion-icon> &nbsp; Refer A Friend
              </p>
              <!-- <ion-label style="color: #18cbef;font-size: 2vh" >Total Points:{{authService.points}}</ion-label> -->
              <ion-row (click)="getLatestPoint()">
                <ion-label style="color: #18cbef;font-size: 2vh">Total Points:{{authService.points}}</ion-label>
                <ion-icon style="color: #18cbef;zoom:1.5;" name="refresh"></ion-icon>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6>
              <div menuClose="left" (click)="LogOut()">
                <img class="btn-LogOut" src="assets/img/icon/LogOut.png" /> &nbsp; Logout
              </div>
            </ion-col>
            <ion-col col-6>
              <div menuClose="left" (click)="Settings()">
                <img class="btn-LogOut" src="assets/img/icon/Settings.png" /> &nbsp; Settings
              </div>
            </ion-col>
          </ion-row>
        </div>
        <div class="menu-header" *ngIf="authService.UserType =='guest'">
          <!--material-design-background-->
          <ion-row>
            <ion-col col-4>
              <p class="guest-avatar round" style="color: #18cbef;">GU</p>
            </ion-col>
            <ion-col col-8 class="user-text">
              <div menuClose="left" (click)="guestLogout()">
                <p class="name" style="color: #18cbef;">Log In or Sign Up</p>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </div>
      <side-menu-content [settings]="sideMenuSettings" [options]="options" (change)="onOptionSelected($event)"></side-menu-content>
    </ion-content>
    <ion-footer *ngIf="authService.UserType !='guest'">
      <ion-toolbar style="text-align: center" menuClose="left" (click)="Subcribe()">
        <div>
          <button ion-button block outline>{{authService.MembershipText}}</button>
        </div>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
</div>