// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import '../theme/dark.theme';
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
.align-center {
  text-align: center;
}
.menu-inner{
  width: 75%;
}

#edit-profile {
  height: 4vh;
  position: absolute;
  top: 60%;
  left: 60%;
  z-index: 2;
  }

.button-outline-md {
  border-width: 1px;
  border-style: solid;
  border-color: #18cbef;
  color: #18cbef;
  background-color: transparent;
  text-transform: inherit;
}
.button-outline-ios {
border-width: 1px;
border-style: solid;
border-color: #18cbef;
color: #18cbef;
background-color: transparent;
text-transform: inherit;
}
ion-badge {
  padding: 5px 6px;
}
.mat-input-ripple {
  background-color: #18cbef;
}
.mat-form-field-invalid .mat-form-field-ripple {
  background-color: #f44336;
}
.mat-input-element {
  caret-color: #000000;
  color: #000000;;
}
.mat-focused .mat-form-field-label{
  color:#18cbef;
}

.btnPrime{
  font-size: 18px;
  text-transform: capitalize;
  color: #18cbef;
}

.label-Network{
  font-size: 14px;
  color: #18cbef;
}


.btn-LogOut{
  width:20px;
  height:20px;
  vertical-align:sub;
}

.loading-md .loading-wrapper {
  border-radius: 2px;
  max-width: 280px;
  max-height: 90%;
  color:#ffffff;
  background: transparent;
  -webkit-box-shadow: 0 0px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.4);
  padding: 24px;
}
.toast-md .toast-wrapper {
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  z-index: 10;
  display: block;
  width: 100%;
  max-width: 700px;
  background: #212733;
}
.error p {
  color:  #f44336;
  text-align: left;
  font-size: 12px;
}
.loading-ios .loading-wrapper {
  max-width: 270px;
  max-height: 90%;
  color: #FFF;
  border-radius: 8px;
  background: transparent;
  padding: 24px 34px;
}
.toolbar-ios {
  padding: 12px 2px 0px 0px;
  min-height: 56px;
  padding-top: 20px;
}
.toolbar-title-ios {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
  pointer-events: auto;
}
.text-input-ios {
  margin: 11px 8px 11px 0;
  padding: 0;
  width: calc(100% - 8px);
  color: #000;
}
.text-input-md {
  margin: 13px 8px;
  padding: 0;
  width: calc(100% - 8px - 8px);
  color: black;
}

.toolbar-title-md {
  padding: 0 12px;
  font-size: 1.6rem;
  font-weight: 400; 

}

.icon-button-mdmark{
  float: right;
  margin-right: 12px;
  color: #18cbef;
  font-size: 1.8em;
}

ion-content{ 
    background: #202735 !important;
}

sign-up span, sign-up p, sign-up h3 {
  color: #ffffff !important; 
}

.highlight {
  background-color: #f4f4f4;
}



.theme-dark .item {
  background-color: #ffffff00;
  color: white;
}


.center {
  display: block;
  margin: 0 auto;
}

.vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.top-radius {
  border-radius: 10% 10% 0 0;
}

.bottom-radius {
  border-radius: 0 0 10% 10%;
}

.round {
  border-radius: 50%;
}

.transparent-header {
  // This is just to make the header transparent and button/icon with white color
  .toolbar-content,
  .back-button {
    color: white;
  }
  .toolbar-background,
  ion-navbar,
  ion-header {
    background: transparent !important;
    background-color: transparent !important;
  }
  .header-md::after,
  .toolbar-background-ios {
    background-image: none;
    border-bottom: 0;
  }
  .header-ios .toolbar-background-ios,
  .footer-ios .toolbar-background-ios {
    border: 0;
  }
  // ---
}

// right side menu
#menu-right {
  button {
    padding-left: 16px;
  }
  ion-content {
    background: rgba(0, 0, 0, 0.82);
  }
  .menu-inner {
    width: 10vh;
  }
  @media screen and (orientation: landscape) {
    .menu-inner {
      width: 15vh;
    }
  }
  .active-menu-item {
    position: absolute;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #ffffff;
  }
  .label {
    display: flex;
    align-items: center;
  }
  .list-md[no-lines] .item-block,
  .list-md[no-lines] ion-item-options,
  .list-md[no-lines] .item .item-inner,
  .list-ios[no-lines] .item-block,
  .list-ios[no-lines] ion-item-options,
  .list-ios[no-lines] .item .item-inner {
    padding: .3rem 0;
    background: transparent;
    color: white;
  }
  ion-icon {
    line-height: 1;
  }
}

.icon-badge {
  top: 0px;
  right: 0px;
  background: #FF5D5D;
  color: white;
  font-size: 12px;
  position: absolute;
  padding: 5px 8px;
  border-radius: 15px;
}

// Sidemenu with avatar
#menu-avatar {
  .user-avatar {
    padding: .5em;
  }
  h3,
  .label {
    color: white;
    font-weight: bold;
  }
  .item {
    background: transparent;
  }
  ion-content {
    background: linear-gradient(48deg, rgba(157, 72, 173, 0.8) 0%, rgba(157, 72, 173, 0.86) 28%, rgba(0, 168, 168, 0.98) 93%, rgba(0, 168, 168, 1) 100%);
  }
  .menu-inner {
    background: rgba(255, 255, 255, .3);
  }
}


side-menu-content {
   $active-color: map-get($colors, primary);

  // In this example, we have used the following name
  // for the selected option in the settings object:
  // selectedOptionClass: 'active-side-menu-option'

  // Single option
  // ------------------

  side-menu-content ion-item.item.item-block.option.active-side-menu-option {
    border-left: 6px solid #18cbef;
    color: #fff !important;
    font-weight: 700 !important;
}


  ion-item.item.item-block.option {
     
      color: #fff;

      &.active-side-menu-option {
        border-left: 6px solid #18cbef;
          color: #fff !important;
          font-weight: 700 !important; 
      }
  }

  // Header
  // ------------------
  ion-item.item.item-block.header {
     
      color: rgb(255, 255, 255);

      &.active-side-menu-option {
        border-left: 6px solid #18cbef;
          color: #fff !important;
          font-weight: 700 !important;
      }
  }

  // Sub option
  // ------------------
  ion-item.item.item-block.sub-option {
    //  background-color: #fff;
      color: rgb(255, 255, 255);

      &.active-side-menu-option {
        border-left: 6px solid #18cbef;
          color: #fff !important;
          font-weight: 700 !important;
      }
  }
}



// Material Design Sidemenu
#menu-material {  

  .menu-header-Outset{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 13px;
    }
  .menu-header {
    border-radius: 0px;
    width: 100%;
   // height: 164px;
    background: #212733;
    /* border-bottom: 1px solid; */
    /* box-shadow: 0px 0px 0px 0px; */    
    box-shadow: inset 0 0 20px 3px rgba(0, 0, 0, 0.5);
    //margin-bottom: 70px;
    padding: 12px 10px;
  //  background-image: url('../assets/img/misc/material-design-background.jpg');
    background-size: cover;
    color: white;
    .name {
      font-weight: 500;
      margin-bottom: 3px;
    }
    .e-mail {
      margin-top: 0;
      margin-bottom: 5px;
    }
  }
  .user-avatar {
    padding: .5em;
    height: 14vh;
  }
  .guest-avatar {
  padding: 1.2em;
    height: 60px;
    width: 60px;
    font-size: 15px;
    text-align: center;
    background: #FFF;
    color: #18cbef;
    font-weight: bolder;
    margin: 20px 8px;
  }
  .a-link{
    border-radius: NaNpx;
  width: 58px;
  height: 14px;
  color: #ffffff;
  font-family:  'Roboto', sans-serif;
  font-size: 17.0px;
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  }


  .user-text{
    top: 25px;
  color: #18cbef;
  font-family:  'Roboto', sans-serif;
  font-size: 17.0px;
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
  text-align: center;
  text-align: -webkit-left;
  vertical-align: middle;
  height: 145px;
  }

  h3,
  .label,
  {
    color: #999;
    font-weight: 400;
  }
  ion-icon {
    color: #777;
  }

}
