<ion-header>

	<ion-navbar>
		<ion-title>{{ this.MarineWeatherDetails.id}}
			<!-- <div class="close-button" icon-only end (click)="dismiss()">
						<ion-icon name="close" ></ion-icon>  
			   </div> 	 -->
		</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<p style="text-align: center;">Last Update: {{LastUpdate}}</p>
	<p class="p-text" [innerHTML]="htmlDesp"></p>
	<div class="item" *ngIf="DataNA">
		<h1 class="no-appointment">
			<img style="height: 70px;" src="assets/img/error.png">
			<br> No Data Available.</h1>
	</div>
</ion-content>
<ion-footer *ngIf="authService.INTERNETCHECK">
	<ion-toolbar style="text-align: center">
		<div>
			<small class="label-Network" clear>Offline data not available.You are not connected to the Internet at the moment.
			</small>
		</div>
	</ion-toolbar>
</ion-footer>