.theme-dark {
  page-MarineWeatherinfo {   
    
    h1,
  h2,
  h3,
  div,
  p {
    color: color($colors, dark, base);
  }
    ion-content{ 
      background: #ffffff !important;
  }
  b{
    margin-right: 5px;
  }
  .no-appointment{
    width: 100%;
    margin-top: 8rem;
    font-size: 1.6rem;
    text-align: center;
   }
    .toolbar-background-md {
      background-color: #212733 !important;
    }
    .p-text{
      padding: 0px 24px;
      font-size: 18px;
    }
      .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: #ffffff;
    }
    .close-button{
      float: right;
    font-size: 14px;
    }
    ion-content.review-form {
      ul {
        padding: 0px;
       
        &.rating li {
          padding: 5px 10px !important;
          background: none;
          color: #ffb400;
       
          ion-icon {
            font-size: 40px !important
          }
        }
    }
  
      background: #ffffff;
      h3,
      div,
      p {
        color: color($colors, dark, base);
      }
      h3 {
        font-size: 1.8rem;
        font-weight: 900;
        margin: 20px 0px;
      }
      textarea {
        margin: 0px;
        border: 1px solid #ccc;
        width: 100%;
        min-height: 80px;
      }
      button {
        background-color: #19cbef;
        width: calc(100% - 30px);
        margin: auto;
        border-radius: 3px;
        -webkit-box-shadow: 5px 5px 4px rgba(202, 202, 202, 0.5);
        box-shadow: 5px 5px 4px rgba(202, 202, 202, 0.5);
        font-weight: 500;
        margin-top: 20px;
      }
    }
  }
}