<!--
  Generated template for the TidesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title>Notification Settings</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col col-12>
      <!-- Header List Big Image -->
      <ion-list>
        <ul collapsible no-margin no-padding>
          <li>
            <div collapsible-header>
              <ion-item>
                <ion-row>
                  <ion-col col-9>
                    <h2 item-title>Fishtopia Notifications</h2>
                  </ion-col>
                  <ion-col col-2 class="arrow-icon">
                    <mat-slide-toggle [disabled]="fishtopianotify" [(ngModel)]="fishtopianotify"></mat-slide-toggle>
                    <!-- <ion-icon name="ios-arrow-forward"></ion-icon> -->
                  </ion-col>
                  <!-- <ion-col col-1 class="arrow-icon">
                        <ion-icon name="ios-arrow-forward" [hidden]="isGroupShown(group)"></ion-icon>
                        <ion-icon ios="ios-arrow-down" md="ios-arrow-down" [hidden]="!isGroupShown(group)"></ion-icon>
                      </ion-col> -->
                </ion-row>
              </ion-item>
            </div>
          </li>
          <li *ngFor="let group of data | orderBy: 'title'">
            <!-- List big image Header -->
            <div collapsible-header>
              <ion-item>
                <ion-row>
                  <ion-col col-9 (click)="toggleGroup(group)">
                    <h2 item-title>{{group.title}}</h2>
                  </ion-col>
                  <ion-col col-2 class="arrow-icon">
                    <mat-slide-toggle [checked]="group.show" (click)="toggleNotifications(group,$event)"></mat-slide-toggle>
                    <!-- <ion-icon name="ios-arrow-forward"></ion-icon> -->
                  </ion-col>
                  <ion-col col-1 class="arrow-icon">
                    <ion-icon name="ios-arrow-forward" [hidden]="isGroupShown(group)"></ion-icon>
                    <ion-icon ios="ios-arrow-down" md="ios-arrow-down" [hidden]="!isGroupShown(group)"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-item>
            </div>
            <!-- End List big image Header -->
            <!-- List big image Body -->
            <div item-accordion [ngClass]="{'active': isGroupShown(group) }" [hidden]="!isGroupShown(group)">
              <ion-item *ngFor="let item of group.sub_notifications | orderBy: 'title'" (click)="onEvent('onItemClick', item, $event)">
                <ion-row>
                  <ion-col col-1></ion-col>
                  <ion-col col-9>
                    <p class="otherUsers">{{item.title}}</p>
                    <p style="color: #8d8d8d;" *ngIf="item.cities != '' && item.cities != undefined">
                      Included: <span *ngFor="let city of item.cities, let i=index" text-wrap>
                        {{city.name}}{{i === item.cities.length - 1 ? '' : ', '}}
                      </span>
                    </p>
                  </ion-col>
                  <ion-col col-2 class="arrow-icon">
                    <mat-slide-toggle [(ngModel)]="item.show" (click)="toggleNotifications(group,item)"></mat-slide-toggle>
                    <!-- <ion-icon name="ios-arrow-forward"></ion-icon> -->
                  </ion-col>
                </ion-row>
              </ion-item>
            </div>
            <!-- End List big image Body -->
          </li>
        </ul>
      </ion-list>
    </ion-col>
  </ion-row>

  <!-- <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list class="docListFirst docList" *ngFor="let area of FishCountLocList | orderBy: 'title'">
    <ion-item class="itemList" (click)="openAreaDetail(area)">
      <ion-row>
        <ion-col col-10>
          <p class="otherUsers">{{area.title}}</p>
        </ion-col>
        <ion-col col-2 class="arrow-icon">
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll *ngIf="page < totalPage" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->

</ion-content>
<ion-footer *ngIf="authService.INTERNETCHECK">
  <ion-toolbar style="text-align: center">
    <div>
      <small class="label-Network" clear>Offline data not available.You are not connected to the Internet at the moment.
      </small>
    </div>
  </ion-toolbar>
</ion-footer>