.theme-dark {
page-notification-settings {

  .item-accordion {
    height: 0;
    display: block !important;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    overflow: hidden;

    &.active {
      height: 230px !important;
    }
  }
  h2,ion-item{
    color: #000;
  }


  ion-list {
    background-color: #ffffff !important;
    .mat-disabled .mat-slide-toggle-thumb {
      background-color: #18cbef;
  }
  .mat-disabled .mat-slide-toggle-bar {
    background-color: rgba(7, 232, 255, 0.5);
}
    .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
      background-color: #18cbef;
  }
  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: rgba(7, 232, 255, 0.5);
}
    ion-item{
      border-bottom: 1px solid #dedede !important;
    }
    .item-md {
      padding-left: 10px;
      padding-right: 0;
   }
   .item-ios {
    padding-left: 10px;
    padding-right: 0;
   }
  }
    ion-content,
    .input-wrapper,
    .item-inner,
    .item,
    ion-footer,
    ion-item,
    ion-label {
      transition: all 1.1s ease;
      background-color: #ffffff !important;
      background: #ffffff !important;
      color: rgb(2, 2, 2);   
    }
   
    p {
      color:#333333;
    }
.arrow-icon{
    color: #18cbef;
    text-align: right;
    font-size: 14px;
}
   
}
}