<!--
  Generated template for the NotificationsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar>
		<ion-title>Notifications</ion-title>
		<ion-buttons end>
			<button id="notification-button" ion-button icon-only>
				<ion-icon name="notifications">
					<!-- <ion-badge id="notifications-badge" color="danger">{{Auth.NotifyCount}}</ion-badge> -->
				</ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content padding>
	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull To Refresh..." refreshingSpinner="circles" refreshingText="Refreshing...">
		</ion-refresher-content>
	</ion-refresher>
	<ion-list *ngIf="notificationList.length != 0">
		<ion-item-sliding *ngFor="let item of notificationList">
			<ion-item (click)="notificationDetails(item)">
				<ion-thumbnail item-end>
					<img src="assets/img/event-Thumb.png">
					<!-- <img src="{{item.notification_to.image_url}}"> -->
				</ion-thumbnail>
				<div>
					<!-- <b *ngIf="item.notification_from.first_name=='admin'">The Alaska Fishtopia Team</b> -->
					<b>{{item.title}}</b>
					<p>{{item.body}}</p>
					<br>
					<p>{{item.created_at | moment:'MMMM DD, YYYY h:mm A'}}</p>
				</div>
			</ion-item>
			<ion-item-options side="right">
				<button ion-button color="primary" (click)="DeleteNotification(item)">
					<ion-icon name="trash"></ion-icon>
					Delete
				</button>
			</ion-item-options>
		</ion-item-sliding>
	</ion-list>
	<div class="No-notify" *ngIf="notificationList.length == 0">
		<h1 class="no-appointment">
			<img style="height: 150px;" src="assets/img/bell.png">
			<br> No notification yet.</h1>
	</div>
	<ion-infinite-scroll *ngIf="page < totalPage" (ionInfinite)="doInfinite($event)">
		<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
		</ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>
<ion-footer *ngIf="Auth.INTERNETCHECK">
	<ion-toolbar style="text-align: center">
		<div>
			<small class="label-Network" clear>Offline data not available.You are not connected to the Internet at the moment.
			</small>
		</div>
	</ion-toolbar>
</ion-footer>