page-resetPasswordSuccess {
  $base-color: rgb(24, 72, 90);
  // Fullscreen centered image background
  .text-input-md {
    margin: 0px 8px;
    padding: 0;
    width: calc(100% - 8px - 8px);
    color: black;
}


ion-icon {
  display: inline-block;
  font-size: 4.2em;
  color: #18cbef;
}


.error p {
  color: rgb(230, 3, 3) !important;
  text-align: left;
}

.forgot-Password {
  margin-top: 85px;
  width: 100%;
  height: 14px;
  color: #18cbef;
  font-family:  'Roboto', sans-serif;
  font-size: 17.0px;
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
  text-align: center;
}


span, page-resetPassword p, page-resetPassword h3 {
  color: #ffffff !important;
}

.p-text{
//width: 143px;
height: 10px;
color: #666666 !important;
font-family:  'Roboto', sans-serif;
font-size: 12.0px;
font-style: normal;
font-stretch: normal;
font-weight: 400;
text-align: center;
}

.otp {
  color: darkgray;
  border-style: none;
  width: 24px;
  height: 24px;
  font-size: 15px;
}

td {
  border: 2px solid darkgray
}

table {
  border-collapse: collapse;
}




.item-list{
   width: 240px;
    margin-left: 50px;

}
.list-md {
  margin-bottom:0px;
  margin-left: 50px;
}

.item-md1 {
  padding-left: 22px !important;
 
}
.ion-label{
  width: 130px !important;
  margin-left: 10px;
}

ion-list {
  background-color: #ffffff !important;
  display: inherit;
}
 .radio-icon {
  top: 16px !important;
  position: fixed !important;
 }

  ion-content {
    background: #ffffff !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-color: transparent;
  }
  // Slider
  .content-slider {
    ion-slides,
    .swiper-container {
      height: 100%;
      width: auto;
    }
  }
  .text-slider {
    ion-slides,
    .swiper-container {
      height: 20vh;
      width: auto;
    }
  }
  .zoom .slide-zoom {
    height: 100%;
  }
  // Content
  .scroll-content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .logo {
    width: 130px;
    height: 130.73px;
    max-width: 19em;
    margin: 0 auto;
  }
  ion-row {
    align-items: center;
    text-align: center;
  }
  ion-col {
    padding: 0 20px;
  }
  span,
  p,
  h3 {
    color:#333333;
  }
  // Input items
  ion-label,
  .input-has-focus {
    color:#333333 !important;
  }
  ion-item {
    border-radius: 3px !important;
    padding-right: 16px !important;
    margin-bottom: 5px !important;
    color:#333333 !important;
    background-color: transparent !important;
    font-size: 0.9em;
  }
  .margin-bottom {
    margin-bottom: 15px !important;
  }
   ::-webkit-input-placeholder {
    color:#333333 !important;
  }
  .item-inner {
    border-bottom: 2px solid white !important;
    box-shadow: none !important;
  }
  //
  .login-button {
    border-radius: 4px;
    width: 301px;
    height: 40px;
    background: #18cbef;
    box-shadow: 5px 5px 4px rgba(202,202,202,0.5);
    top: 28px;
    //box-shadow: 5px 5px 4px rgba:(202,202,0.5);

    width: 100%;
    max-width: 40rem;
    height: 50px;
    font-size: 1.2em;
    span {
      color: $base-color !important;
    }
    // border: 1px solid #fff;
  }
  .forgot-button {
    font-weight: bold;
    float: right;
    ion-icon {
      padding-left: 10px;
      font-size: 2.2rem;
    }
  }
  .goback-button {
    font-weight: bold;
    float: left;
    ion-icon {
      padding-right: 10px;
      font-size: 2.2rem;
    }
  }
  .slide-button {
    margin-top: 4rem;
    font-weight: bold;
    ion-icon {
      padding-left: 10px;
      font-size: 2.2rem;
    }
  }
  .position-bottom {
    position: fixed;
    left: 0;
    bottom: 25px;
    right: 0;
    margin: 0 auto;
    width: 100%;
  }
  //.input-wrapper{
    //border-bottom: 1px solid #cccccc;
 // }

  .text-format {
    color: #333333;
    font-family:  'Roboto', sans-serif;
    font-size: 14.0px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    margin-top: 15px;
    width: 100%;
    height: 14px;
    text-align: center;
  }

  .back-to-login {   
    width: 100%;
    height: 14px;
    color: #18cbef;
    font-family:  'Roboto', sans-serif;
    font-size: 17.0px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    text-align: center;
  }


  ion-content,
  .input-wrapper,
  .item-inner,
  .item,
  ion-footer,
  ion-item,
  ion-label {
    transition: all 1.1s ease;
    background-color: #ffffff !important;
    background: #ffffff !important;
    color: rgb(2, 2, 2);   
  }
}
