<ion-content class="transparent-header" [ngStyle]="{'background-image': 'url(' + backgroundImage +')'}">
    <ion-header>
        <ion-navbar>
            Reset Password
        </ion-navbar>
    </ion-header>
</ion-content>
<ion-content class="chats">
    <div style="padding: 20% 32px 32px 32px">
        <ion-row>
            <p class="text-format">
                <ion-icon name="checkmark-circle-outline"></ion-icon>
            </p>
        </ion-row>
        <ion-row style="margin-top: 30px">

            <p class="text-format"> Password has been changed successfully. </p>
            <p class="back-to-login" clear (click)="goToSignup()">Back to Login</p>
        </ion-row>
    </div>

    <!--</ion-slide> (click)="login()"  -->

    <!--  </ion-slides>-->

</ion-content>
<ion-footer *ngIf="authService.INTERNETCHECK">
    <ion-toolbar style="text-align: center">
        <div>
            <small class="label-Network" clear>Offline data not available.You are not connected to the Internet at the moment.
            </small>
        </div>
    </ion-toolbar>
</ion-footer>