<ion-header>
    <ion-navbar>
        <ion-title style="float: left;">Request Trip</ion-title>
        <!-- <ion-icon class="icon-button-mdmark" ios="ios-checkmark" md="md-checkmark"  (click)="save()"></ion-icon> -->
    </ion-navbar>
</ion-header>
<ion-content padding="">
    <form [formGroup]="RequestTripForm" (ngSubmit)="save()">
        <div style="padding: 20px 10px 0px 15px;">
            <ion-list>
                <ion-card style="padding: 2%">
                    <h4 text-wrap style="color: black;font-weight: 500;">
                        Post wanted trips and be seen by guides all over the state.
                    </h4>
                </ion-card>
                <ion-row>
                    <ion-item class="input-border">
                        <mat-select formControlName="fishingtypes" placeholder="Type of Fishing/ Activity">
                            <mat-option *ngFor="let item of authService.fishingtypesList;" [value]="item._id">{{item.title}}</mat-option>
                        </mat-select>
                    </ion-item>
                    <small *ngIf="RequestTripForm.get('fishingtypes').hasError('required') && RequestTripForm.get('fishingtypes').touched" style="color: red;float: left;">
                        Select Fishing Type
                    </small>
                </ion-row>
                <ion-row>
                    <ion-item class="input-border">
                        <mat-select formControlName="Locationtypes" placeholder="Fishing Location">
                            <mat-option *ngFor="let item of authService.LocationtypesList;" [value]="item._id">{{item.title}}</mat-option>
                        </mat-select>
                    </ion-item>
                    <small *ngIf="RequestTripForm.get('Locationtypes').hasError('required') && RequestTripForm.get('Locationtypes').touched"
                        style="color: red;float: left;">
                        Select Fishing Location
                    </small>
                </ion-row>
                <ion-row>
                    <ion-col col-6>
                        <ion-item class="input-border">
                            <ion-label floating>Willing Price</ion-label>
                            <ion-input type="number" formControlName="WillingPrice"></ion-input>
                        </ion-item>
                        <small *ngIf="RequestTripForm.get('WillingPrice').hasError('required') && RequestTripForm.get('WillingPrice').touched" style="color: red;float: left;">
                            Enter Willing Price
                        </small>

                    </ion-col>
                    <ion-col col-6>
                        <ion-item class="input-border">
                            <ion-label floating># Of People</ion-label>
                            <ion-input type="number" formControlName="Person" maxlength="2"></ion-input>
                        </ion-item>
                        <small *ngIf="RequestTripForm.get('Person').hasError('required') && RequestTripForm.get('Person').touched" style="color: red;float: left;">
                            Enter # Of People
                        </small>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <small *ngIf="ErrorMsg" style="color: red;float: left;">
                        {{ErrormsgText}}
                    </small>
                </ion-row>
                <ion-row>
                    <ion-item class="input-border">
                        <mat-select formControlName="Boatypes" placeholder="Boat Type">
                            <mat-option *ngFor="let item of authService.BoatypesList;" [value]="item._id">{{item.title}}</mat-option>

                        </mat-select>
                    </ion-item>
                    <small *ngIf="RequestTripForm.get('Boatypes').hasError('required') && RequestTripForm.get('Boatypes').touched" style="color: red;float: left;">
                        Select Boat Type
                    </small>
                </ion-row>
                <ion-row>
                    
                    <ion-col col-6>
                        <ion-item class="input-border">
                            <ion-label floating>Date</ion-label>
                            <ion-datetime formControlName="Date" [min]="startDatetimeMin" [max]="2100-12-31" displayFormat="MM/DD/YYYY" pickerFormat="MM DD YYYY"
                                [(ngModel)]="myDate"></ion-datetime>
                        </ion-item>
                        <small *ngIf="RequestTripForm.get('Date').hasError('required') && RequestTripForm.get('Date').touched" style="color: red;float: left;">
                            Select Date
                        </small>
                    </ion-col>
                    <ion-col col-6>
                        <ion-item class="input-border" style="margin-top: 26px;">
                            <!-- <ion-label floating>Time</ion-label> -->
                            <mat-select formControlName="Time" placeholder="Trip Length">
                                <mat-option *ngFor="let item of TimeData;" [value]="item.title">{{item.title}}</mat-option>
                            </mat-select>
                            <!-- <ion-datetime formControlName="Time" displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="Time"></ion-datetime> -->
                            <!-- <ion-input type="text"  formControlName="Time"></ion-input> -->
                        </ion-item>
                        <small *ngIf="RequestTripForm.get('Time').hasError('required') && RequestTripForm.get('Time').touched" style="color: red;float: left;">
                            Select Trip Length
                        </small>


                    </ion-col>
                </ion-row>

                <ion-row>
                    <button ion-button block round color="light" class="login-button" [disabled]="!RequestTripForm.valid">Submit</button>
                </ion-row>
            </ion-list>
        </div>
    </form>
</ion-content>
<ion-footer *ngIf="authService.INTERNETCHECK">
    <ion-toolbar style="text-align: center">
        <div>
            <small class="label-Network" clear>Offline data not available.You are not connected to the Internet at the moment.
            </small>
        </div>
    </ion-toolbar>
</ion-footer>