<ion-header>
  <ion-navbar>
    <ion-title style="float: left;">User Confirmation</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="mat-elevation-z8" padding="">
  <div *ngIf="!progressBarEnabled">
    <form [formGroup]="ConfirmForm" (ngSubmit)="confirm()">
      <ion-list padding>
        <ion-row>
          <ion-col col-6>
            <mat-form-field class="example-full-width">
              <input matInput type="text" [(ngModel)]="firstName" placeholder="First Name" formControlName="FirstName"
                required>
            </mat-form-field>
          </ion-col>
          <ion-col col-6>
            <mat-form-field class="example-full-width">
              <input matInput type="text" [(ngModel)]="MdleName" placeholder="Middle Initial" formControlName="MiddleName">
            </mat-form-field>
          </ion-col>
        </ion-row>
        <small *ngIf="FirstName.hasError('required') && FirstName.touched" class="error">
          <p>* Please enter your first name.</p>
        </small>
        <small *ngIf="FirstName.hasError('minlength') && FirstName.touched" class="error">
          <p>* Minimum first name length is 3 characters.</p>
        </small>
        <small *ngIf="FirstName.hasError('maxlength') && FirstName.touched" class="error">
          <p>* Maximum first name length is 25 characters.</p>
        </small>
        <small *ngIf="FirstName.hasError('pattern') && FirstName.touched" class="error">
          <p>* First name cannot start with numbering.</p>
        </small>
        <small *ngIf="MiddleName.hasError('maxlength') && MiddleName.touched" class="error">
          <p>* Maximum middle initial length is 1 characters.</p>
        </small>

        <!-- <small *ngIf="MiddleName.hasError('required') && MiddleName.touched" class="error">
        <p>* Please enter your middle name.</p>
      </small>
      <small *ngIf="MiddleName.hasError('minlength') && MiddleName.touched" class="error">
        <p>* Minimum middle name length is 1 characters.</p>
      </small>
      <small *ngIf="MiddleName.hasError('maxlength') && MiddleName.touched" class="error">
        <p>* Maximum middle name length is 1 characters.</p>
      </small>
      <small *ngIf="MiddleName.hasError('pattern') && MiddleName.touched" class="error">
        <p>* Middle name cannot start with numbering.</p>
      </small> -->
        <ion-row>
          <ion-col col-6>
            <mat-form-field class="example-full-width">
              <input matInput type="text" [(ngModel)]="lastName" formControlName="LastName" placeholder="Last Name">
            </mat-form-field>
          </ion-col>
          <ion-col col-6>
            <mat-select class="input-border" formControlName="Gender" placeholder="Gender" [(ngModel)]="Genderbind">
              <mat-option value="Female">Female</mat-option>
              <mat-option value="Male">Male</mat-option>
              <mat-option value="Unspecified">Unspecified</mat-option>
            </mat-select>
          </ion-col>
          <small *ngIf="LastName.hasError('required') && LastName.touched" class="error">
            <p>* Please enter your last name.</p>
          </small>
          <small *ngIf="LastName.hasError('minlength') && LastName.touched" class="error">
            <p>* Minimum last name length is 3 characters.</p>
          </small>
          <small *ngIf="LastName.hasError('maxlength') && LastName.touched" class="error">
            <p>* Maximum last name length is 25 characters.</p>
          </small>
          <small *ngIf="LastName.hasError('pattern') && LastName.touched" class="error">
            <p>* Last name cannot start with numbering.</p>
          </small>
        </ion-row>
        <ion-row>
          <h5 style="color: black;">Mailing Address</h5>
        </ion-row>
        <ion-row>
          <mat-form-field class="example-full-width">
            <input matInput type="text" [(ngModel)]="StreetAddr1" formControlName="StrtAddr1" placeholder="Street Address 1"
              required>
          </mat-form-field>
        </ion-row>
        <ion-row>
          <mat-form-field class="example-full-width">
            <input matInput type="text" [(ngModel)]="StreetAddr2" formControlName="StrtAddr2" placeholder="Street Address 2">
          </mat-form-field>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <mat-form-field class="example-full-width">
              <input matInput type="text" [(ngModel)]="City_" formControlName="City" placeholder="City" required>
            </mat-form-field>
          </ion-col>
          <ion-col col-6>
            <mat-select style="margin: 0px 0px 20px 0px;" formControlName="State" name="State" placeholder="State/Province *">
              <mat-option *ngFor="let item of Statelist;" [value]="item">{{item}}</mat-option>
            </mat-select>
            <!-- <mat-form-field class="example-full-width">
              <input matInput type="text" [(ngModel)]="State_" formControlName="State" placeholder="State" required>
            </mat-form-field> -->
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <mat-select style="margin: 0px 0px 20px 0px;" formControlName="Countryoption" name="Country1" (change)="onLocationChange()"
              [(ngModel)]="UserPhonecode" placeholder="Country" required>
              <mat-option *ngFor="let item of countries;" [value]="item">{{item.name}}</mat-option>
            </mat-select>
          </ion-col>
          <ion-col col-6>
            <mat-form-field class="example-full-width">
              <input matInput type="text" [(ngModel)]="Zip_Code" maxlength="5" formControlName="ZipCode" placeholder="Zip/Postal Code"
                required>
            </mat-form-field>
          </ion-col>
        </ion-row>
        <ion-row>
          <small *ngIf="StateError" class="error">
            <p>* Please select state</p>
          </small>
          <small *ngIf="CityError" class="error">
            <p>* Please select Country</p>
          </small>
        </ion-row>
        <ion-row>
          <small *ngIf="Countryoption.hasError('required') && Countryoption.touched" class="error">
            <p>* Please select Country.</p>
          </small>
        </ion-row>
        <ion-row>
          <small *ngIf="ZipCode.hasError('required') && ZipCode.touched" class="error">
            <p>* Please enter your zip code.</p>
          </small>
          <small *ngIf="ZipCode.hasError('minlength') && ZipCode.touched" class="error">
            <p>* Minimum zip code length is 5 number.</p>
          </small>
          <small *ngIf="ZipCode.hasError('maxlength') && ZipCode.touched" class="error">
            <p>* Maximum zip code length is 5 number.</p>
          </small>
          <small *ngIf="ZipCode.hasError('pattern') && ZipCode.touched" class="error">
            <p>* Invalid zip code.</p>
          </small>
        </ion-row>
        <ion-row>
          <h5 style="color: black;">Contact Info</h5>
        </ion-row>
        <ion-row>
          <mat-form-field class="example-full-width">
            <input matInput type="text" [(ngModel)]="email" formControlName="Email" placeholder="Email">
          </mat-form-field>
        </ion-row>
        <ion-row>
          <ion-col col-11>
            <small *ngIf="Email.hasError('required') && Email.touched" class="error">
              <p>* Please enter your Email Id.</p>
            </small>
            <small *ngIf="Email.hasError('pattern') && Email.touched" class="error">
              <p>* Invalid Email Id.</p>
            </small>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3 style="margin-bottom: 24px;">
            <ion-item class="input-border" style="text-align: right;">
              <ion-label class="labal-Country">{{Countrycode}}</ion-label>
            </ion-item>
          </ion-col>
          <ion-col col-9>
            <mat-form-field class="example-full-width">
              <input matInput type="tel" [(ngModel)]="phoneNo" formControlName="PhoneNumber" maxlength="10" placeholder="Phone Number"
                required>
            </mat-form-field>
          </ion-col>
        </ion-row>
        <ion-row>
          <small *ngIf="PhoneNumber.hasError('required') && PhoneNumber.touched" class="error">
            <p>* Please enter your phone number.</p>
          </small>
          <small *ngIf="PhoneNumber.hasError('minlength') && PhoneNumber.touched" class="error">
            <p>* Minimum phone number length is 10 number.</p>
          </small>
          <small *ngIf="PhoneNumber.hasError('maxlength') && PhoneNumber.touched" class="error">
            <p>* Maximum phone number length is 10 number.</p>
          </small>
          <small *ngIf="PhoneNumber.hasError('pattern') && PhoneNumber.touched" class="error">
            <p>* Please enter NUMBER only.</p>
          </small>
        </ion-row>
        <ion-row>
          <h5 style="color: black;">Driver's License</h5>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-item class="input-border">
              <mat-select placeholder="Driver's License State" formControlName="LicenState" [(ngModel)]="Licen_State">
                <mat-option *ngFor="let item of statelist;" [value]="item.title">{{item.title}}</mat-option>
              </mat-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <mat-form-field class="example-full-width">
              <input matInput type="text" placeholder="Driver's License Number" formControlName="LicenseNo" [(ngModel)]="License_No">
            </mat-form-field>
          </ion-col>
        </ion-row>
        <ion-row>
          <h5 style="color: black;">Alaska Residency</h5>
        </ion-row>
        <ion-row *ngIf="ResidencyMnthEnabled">
          <ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 padding>
            <strong style="color: black;text-align: left;"> What year & month did Alaska residency begin?</strong>
          </ion-col>
          <ion-col col-6>
            <ion-item class="input-border" style=" margin-top: 28px;">
              <mat-select placeholder="Select Month" formControlName="Month" [(ngModel)]="Mnth" required>
                <mat-option *ngFor="let item of mnth;" [value]="item">{{item}}</mat-option>
              </mat-select>
            </ion-item>
          </ion-col>
          <ion-col col-6>
            <ion-item class="input-border">
              <ion-label floating>Select Year</ion-label>
              <ion-datetime formControlName="Year" [(ngModel)]="YearRes" displayFormat="YYYY" pickerFormat="YYYY"></ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col align-self-center col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 padding>
            <button mat-raised-button class="mat-logBtn" block round class="example-full-width" tappable>Proceed to
              checkout</button>
          </ion-col>
        </ion-row>
      </ion-list>
    </form>
  </div>
  <div *ngIf="progressBarEnabled">
    <ion-row>
      <ion-col align-self-center col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 padding style="margin-top: 10px;font-size: 16px;">
        <b> Please wait! The selected License is generated. </b>
        This process may take a few minutes to complete.
      </ion-col>
    </ion-row>
    <div class="progress-outer">
      <div class="progress-inner" [style.width]="progress + '%'">
        {{progress}}%
      </div>
    </div>
  </div>
</ion-content>