<!--
  Generated template for the FishingExchangDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Trip Details</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="trip-thumb">
    <img *ngIf="imgUrl !=undefined" class="news-img" [src]="imgUrl">
    <img *ngIf="imgUrl ==undefined" class="news-img" src="{{img}}">
  </div>
  <!-- <div class="trip-thumb" [ngStyle]="{'background' : 'url(' + img + ')'}">
    <ion-icon name="star" class="save-favorite" [class.liked]="tripItem.isFavorite"></ion-icon>
    <span class="trip-type">Fishing</span>
  </div> -->
  <!-- <div *ngIf="tripItem.img==null && tripItem.img==undefined" class="trip-thumb" [ngStyle]="{'background' : 'url(' + tripItem.img + ')'}">
      <ion-icon name="star" class="save-favorite" [class.liked]="tripItem.isFavorite"></ion-icon>
      <span class="trip-type">{{tripItem.type}}</span>
    </div> -->

  <ion-item class="trip-info">
    <!-- <div item-start class="event-date"><span class="day">{{tripDay}}</span>{{eventItem.event_date_time | moment:'MMM YYYY'}}<span class="time">{{eventItem.event_date_time | moment:'h:mm a'}}</span></div> -->
    <div item-start class="trip-date">
      <span class="day">{{tripDay}}</span>{{tripItem.date_time | moment:'MMM YYYY'}}
      <!-- <span class="time">{{tripItem.date_time | moment:'hh:mm a'}}</span> -->
    </div>
    <h1>Trip Details</h1>
    <p>
      <ion-icon name="calendar"></ion-icon>
      {{tripItem.time}}
    </p>
    <p *ngIf="tripItem.trip_type!=='request'">
      <ion-icon ios="ios-contact" md="md-contact"></ion-icon>
      {{tripItem.total_Available}} Seats Available
    </p>
    <p *ngIf="tripItem.trip_type=='request'">
      <ion-icon ios="ios-contact" md="md-contact"></ion-icon>
      Guide or charter Needed!
      <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{tripItem.total_Available}} People
    </p>
    <p *ngIf="tripItem.boat_type_id!=null">
      <ion-icon ios="ios-boat" md="md-boat"></ion-icon>
      {{tripItem.boat_type_id.title}}
    </p>


    <p *ngIf="tripItem.fishing_type_id!=null">
      <img src="assets/img/icon/blackfish16.png" class="forum-like-img"> {{tripItem.fishing_type_id.title}}
    </p>

    <p>
      <ion-icon name="pin"></ion-icon>{{tripItem.fishing_location_id.title}}
    </p>
    <strong class="pricing">$ {{tripItem.trip_amount}}
      <span>(Per Person)</span>
    </strong>
    <p class="trip-day">
      <ion-icon name="sunny"></ion-icon> {{tripItem.trip_status}}
    </p>
  </ion-item>
  <ion-row class="guide-reviews" *ngIf="tripItem.created_by.is_featured !='yes'">
    <ion-card>
      <ion-item *ngIf="tripItem.trip_type!=='request'">
        <ion-avatar item-start>
          <img *ngIf="Profileimg==null && Profileimg==undefined" src="assets/img/icon/placeholder.png">
          <img *ngIf="Profileimg!==null && Profileimg!==undefined" src="{{Profileimg}}">
          <!-- <img src="assets/img/avatar/girl-avatar.png"> -->
        </ion-avatar>
        <h3>Your Guide</h3>
        <h2>{{authService.userDetailsData.username}}</h2>
        <p class="verified-info">Verified Info
          <ion-icon style="color:#2ec95c" name="checkmark-circle"></ion-icon>
        </p>
        <p>Phone-{{authService.userDetailsData.phone_no}}
          <br>
          <!-- Address-{{UserDetails.street_address1}},{{UserDetails.street_address2}},Zip-Co<br> -->
          {{authService.userDetailsData.email}}
          <br>
        </p>
        <!-- <p (click)="openGuideDetail()">Reviews About Guide</p> -->
      </ion-item>
      <div *ngIf="tripItem.trip_type==='request' && tripItem.angler_pay.length !=0">
        <div *ngFor="let item of tripItem.angler_pay">
          <ion-item>
            <ion-avatar item-start>
              <img *ngIf="item.user_id.image_url==null && item.user_id.image_url==undefined" src="assets/img/icon/placeholder.png">
              <img *ngIf="item.user_id.image_url!==null && item.user_id.image_url!==undefined" src="{{item.user_id.image_url}}">
            </ion-avatar>
            <h3>Your Guide</h3>
            <h2>{{item.user_id.first_name}} {{item.user_id.last_name}}</h2>
            <p class="verified-info">Verified Info
              <ion-icon name="checkmark-circle" style="color:#2ec95c"></ion-icon>
            </p>
            <p>{{item.user_id.phone_no}},
              <br>
              <!-- Address-{{UserDetails.street_address1}},{{UserDetails.street_address2}},Zip-Co<br> -->
              {{item.user_id.email}}
              <br>
            </p>
            <!-- <p (click)="openGuideDetail()">Reviews About Guide</p> -->
          </ion-item>
        </div>

      </div>
      <div *ngIf="tripItem.trip_type==='request' && tripItem.angler_pay.length ==0">
        <ion-item>
          <p>Requested trip is not accepted any guide.</p>
        </ion-item>
      </div>
    </ion-card>
    <ion-col col-12 class="trip-description">

      <p>{{tripItem.description}}</p>
    </ion-col>
  </ion-row>
  <ion-row class="guide-reviews" *ngIf="tripItem.created_by.is_featured=='yes'">
    <ion-card>
      <ion-item *ngIf="tripItem.trip_type!=='request'">
        <ion-avatar item-start>
          <ion-icon ios="ios-home" md="ios-home" style="font-size: 3.2em;color: #000;"></ion-icon>
        </ion-avatar>
        <h2 style="font-weight: 700;" text-wrap>{{tripItem.created_by.details.name}}
          <ion-icon style="color:#2ec95c" name="checkmark-circle"></ion-icon>
        </h2>

        <p>
          <!-- <br> -->
          <ion-icon name="ios-call"></ion-icon>
          <span text-wrap>{{tripItem.created_by.details.Contact_No}}</span>
          <br>
          <ion-icon name="ios-mail"></ion-icon>
          <span text-wrap>{{tripItem.created_by.details.Email_Id}}</span>
          <br>
        </p>
        <p>
          <ion-icon ios="ios-link" md="md-link"></ion-icon> #1:
          <span (click)="openWithCordovaBrowser(tripItem.created_by.details.URL1)">
            <a text-wrap>{{tripItem.created_by.details.URL1}}</a>
          </span>
        </p>
        <p>
          <ion-icon ios="ios-link" md="md-link"></ion-icon> #2:
          <span (click)="openWithCordovaBrowser(tripItem.created_by.details.URL2)">
            <a text-wrap >{{tripItem.created_by.details.URL2}}</a>
          </span>
        </p>
        <p>
          <ion-icon ios="ios-link" md="md-link"></ion-icon> #3:
          <span (click)="openWithCordovaBrowser(tripItem.created_by.details.URL3)">
            <a text-wrap >{{tripItem.created_by.details.URL3}}</a>
          </span>
        </p>
      </ion-item>
      <ion-item *ngIf="tripItem.trip_type=='request'">
        <ion-avatar item-start>
          <ion-icon ios="ios-home" md="ios-home" style="font-size: 3.2em;color: #000;"></ion-icon>
        </ion-avatar>
        <!-- <h2 style="font-weight: 700;" text-wrap>{{tripItem.created_by.details.name}}
          <ion-icon style="color:#2ec95c" name="checkmark-circle"></ion-icon>
        </h2> -->

        <p>
          <a href="tel:{{tripItem.created_by?.phone_no}}" ion-button block color="light" style="float: right; width: 75px;background: #18cbef;">Contact</a>

          <br>
          <br>
          <ion-icon name="person"></ion-icon>&nbsp;
          <span text-wrap>{{tripItem.created_by?.first_name}} {{tripItem.created_by?.last_name}}</span>
          <br>
          <ion-icon name="ios-call"></ion-icon>&nbsp;
          <span text-wrap>{{tripItem.created_by?.phone_no}}
            <!-- <a href="tel:{{tripItem.created_by?.phone_no}}" ion-button block color="light" align="right" style="width: 75px;background: #18cbef;">Contact</a> -->
          </span>
          <!-- <ion-icon href="tel:{{tripItem.created_by?.phone_no}}" name="ios-call">
            <a href="tel:{{tripItem.created_by?.phone_no}}"></a>
        </ion-icon>&nbsp; -->

          <br>
          <ion-icon name="ios-mail"></ion-icon>&nbsp;
          <span text-wrap>{{tripItem.created_by?.email}}</span>
          <br>
        </p>

      </ion-item>
    </ion-card>
    <ion-col col-12 class="trip-description">
      <p [innerHTML]="tripItem.created_by?.details?.BusinessDesp"></p>
      <!-- <p>{{tripItem.created_by.details.BusinessDesp}}</p> -->
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer *ngIf="authService.INTERNETCHECK">
  <ion-toolbar style="text-align: center">
    <div>
      <small class="label-Network" clear>Offline data not available.You are not connected to the Internet at the moment.
      </small>
    </div>
  </ion-toolbar>
</ion-footer>