<!--
  Generated template for the WhatHotPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>What's Hot?</ion-title>
		<ion-buttons end>
			<button id="notification-button" ion-button icon-only (click)="Notification()">
				<ion-icon name="notifications">
					<ion-badge *ngIf="authService.NotifyCount !=0" id="notifications-badge" color="danger">{{authService.NotifyCount}}</ion-badge>
				</ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content>
	<!-- <ion-slides class="small-slides" pager autoplay="8000">
		<ion-slide *ngFor="let event of topEventListing">
			<img src="{{event.img}}" />
			<div class="slide-overlay">
				<ion-item>
					<div item-start class="date-added">{{event.date}} <span>{{event.day}}</span></div>
					<h2>{{event.title}}</h2><strong>{{event.type}}</strong>
				</ion-item>
			</div>
		</ion-slide>
	</ion-slides> -->
	<div class="bottom-content">
		<h2 *ngIf="displayGuide">Wanted Trips</h2>
		<h2 *ngIf="!displayGuide">Available Trips</h2>
		<ion-slides #slider loop="true" spaceBetween="10" slidesPerView="3">
			<ion-slide *ngFor="let item of mainEventFishingExchngList">
				<div class="slide-content">
					<div class="thumb-overlay" (click)="openTripDetail(item)">
						<!-- <div  class="slide-thumb" [ngStyle]="{'background' : 'url(' + item.image_url + ')'}"></div> -->
						<img src="assets/img/slides/fishing.jpg" class="slide-thumb" />
						<!-- <div class="slide-thumb" [ngStyle]="{'background' : 'url(' + img + ')'}"></div> -->
						<h3 text-wrap>{{item.title}}</h3>
						<p class="pricing">$ {{item.trip_amount}}</p>
						<p> per person</p>
					</div>
					<div *ngIf="displayGuide && item.is_trip_request !='accept' && item.is_trip_request !='deny'" class="pricing" [hidden]="isenabledAcceptDeny">
						<button ion-button (click)="tripAccept(item,i)" clear small>
							<ion-icon class="icon-accept" ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon>
						</button>
						<button ion-button (click)="tripReject(item,i)" clear small>
							<ion-icon class="icon-reject" ios="ios-close-circle" md="md-close-circle"></ion-icon>
						</button>
					</div>

					<button *ngIf="displayGuide && item.is_trip_request =='accept'" class="pricing" style="float: right;" ion-button clear small>
						<ion-icon class="icon-accepted" ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon>
					</button>
					<button *ngIf="displayGuide && item.is_trip_request =='deny'" class="pricing" style="float: right;" ion-button clear small>
						<ion-icon class="icon-reject" ios="ios-close-circle" md="md-close-circle"></ion-icon>
					</button>
				</div>
			</ion-slide>
		</ion-slides>
		<h2>Events</h2>
		<ion-grid class="col-paddings">
			<ion-row>
				<ion-col col-6 *ngFor="let item of eventList">
					<div class="thumb-overlay">
						<img src="{{item.image_url}}" class="img-event" />
						<!-- <ion-icon name="{{item.isFavorite?'heart':'heart-outline'}}" (click)="saveFavorite(item)" [class.liked]="item.isFavorite"></ion-icon> -->
						<button ion-button icon-left clear small style="float: right;">
							<img *ngIf="!item.favouriteStatus" src="assets/img/icon/forum_heart_img.png" class="forum-like-img" (click)="addTofavourit(item)">
							<img *ngIf="item.favouriteStatus" src="assets/img/icon/forum_like_img.png" class="forum-like-img" (click)="addTofavourit(item)">
						</button>
					</div>
					<h3>{{item.title}}</h3>
					<p class="pricing">$ {{item.amount}}</p>
					<p> per person</p>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>


	<ion-fab right bottom>
		<button ion-fab mini (click)="AddWhatsHot()">
			<ion-icon name="add"></ion-icon>
		</button>
	</ion-fab>
</ion-content>
<ion-footer *ngIf="authService.INTERNETCHECK">
	<ion-toolbar style="text-align: center">
		<div>
			<small class="label-Network" clear>Offline data not available.You are not connected to the Internet at the moment.
			</small>
		</div>
	</ion-toolbar>
</ion-footer>