.theme-dark {
page-what-hot {
  #notification-button {            
    position: relative;
    width: 42px;
    top:1px;
    right: 1px;
    overflow: visible!important;
}


#notifications-badge {
    background-color: red;
    position: absolute;
    top: -3px;
    right: -3px;
    border-radius: 100%;
}

    ion-content{ 
      background: #ffffff !important;
  }
    .img-event{
      width: 191px;
      height: 110px;
    }
    .pricing{
      color: #18cbef;
    }
    .icon-accept{
      font-size: 22px;
          color:#18cbef;
          font-weight: 100;
          display: block;
      }
      .icon-reject{
        font-size: 22px;
            color:#ef1818;
            font-weight: 100;
            display: block;
        }
        .icon-accepted{
          font-size: 22px;
              color: #5cb85c;
              border-color: #4cae4c;
              font-weight: 100;
              display: block;
          }
       

    h1,
    h2,
    h3,
    div,
    p {
      color: color($colors, dark, base);
      font-size: 14px;
      margin: 0px;
    }
    ion-slides {
      &.small-slides {
        height: 110px;
        position: relative;
        box-shadow: 0px 0px 10px #000;
        .slide-overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.6);
          padding: 15px;
          text-align: left;
          h2 {
            margin: 0px;
          }
          p {
            font-size: 14px;
            margin: 0px;
            color: #19cbef;
          }
          .date-added {
            font-size: 28px;
            font-weight: bold;
            color: #19cbef;
            text-align: right;
            line-height: 1;
            span {
              display: block;
              font-size: 12px;
              font-weight: 100;
              color: #fff;
            }
          }
          .item-inner,
          .input-wrapper,
          ion-label {
            background-color: transparent;
            border: 0px !important;
          }
          ion-label {
            h2 {
              font-size: 20px;
              font-weight: bold;
              color: #fff;
            }
            strong {
              font-weight: normal;
              color: #19cbef;
              font-size: 16px;
            }
          }
          ion-item {
                padding: 0px;
          }
        }
        .swiper-pagination-bullet{
          width: 4px;
          height: 4px;
          margin: 0 3px;
          border: 1px solid #fff;
          background-color: transparent;
          opacity: 1;
        }
        .swiper-pagination-bullet-active{
          background-color: #fff;
        }
      }
    }

    .bottom-content {
      padding: 10px;
      h2 {
        margin: 0px;
        font-size: 16px;
            margin-bottom: 10px;
      }
    }
    .slide-content {
      text-align: left;
      margin-bottom: 20px;
      .slide-thumb {
        width: 100%;
        height: 150px;
        background-size: cover !important;
        background-position: center !important;
      }
      h3 {
        font-size: 11px;
        margin: 0px;
        color: #000;
        margin-top: 8px;
      }
      .trip-type {
            font-size: 11px;
    font-weight: bold;
    color: #737373;
    display: block;
    margin-top: 4px;
      }
    }
    .col-paddings {
      padding: 0px;
      h3 {
        font-size: 10px;
        margin: 0px;
        margin-top: 6px;
      }
      p {
        font-size: 10px;
        margin: 0px;
      }
      .thumb-overlay {
        position: relative;
        img {
          margin-bottom: -3px;
        }
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #000;
          opacity: 0.4;
        }
        ion-icon {
          position: absolute;
          top: 5px;
          right: 5px;
          color: #fff;
          &.liked{
            color: #d85a4b;
          }
        }
      }
      ion-row {
        margin: 0px -5px;
        ion-col{
          padding-top: 0px;
          padding-bottom: 10px;
        }
      }
    }
  }
}