<ion-header>
    <ion-navbar>
        <ion-title>{{USGS_Details.Name}}</ion-title>
    </ion-navbar>
    <ion-segment class="heading-cont" [(ngModel)]="USGSOption">
        <ion-segment-button class="segement" value="Calendar" (ionSelect)="onLinkClick('Calendar')">
            <ion-icon ios="ios-calendar" md="md-calendar" style="margin: 10px;"></ion-icon>
            USGS Table
        </ion-segment-button>
        <ion-segment-button class="segement" value="Graph" (ionSelect)="onLinkClick('Graph')">
            <ion-icon ios="ios-pulse" md="md-pulse" style="margin: 10px;"></ion-icon>
            USGS Graphs
        </ion-segment-button>
    </ion-segment>
    <div class="calendar-outer-div">
        <ion-row *ngIf="!graphEnabled">
            <ion-col col-6 text-center>
                <mat-select [(ngModel)]="selectedMonth" (ngModelChange)="allDates()">
                    <mat-option *ngFor="let month of monthArray; let ind=index" [selected]="selectedMonth==month"
                        [value]="ind">{{month}}</mat-option>
                </mat-select>
            </ion-col>
            <ion-col col-6 text-center>
                <mat-select [(ngModel)]="YearMonth" (ngModelChange)="getYear(YearMonth)">
                    <mat-option *ngFor="let year of yearArray; let ind=index" [selected]="YearMonth==year" [value]="year">{{year}}</mat-option>
                </mat-select>
            </ion-col>
        </ion-row>
        <ion-row class="calendar" *ngIf="graphEnabled" padding-horizontal>
            <ion-col text-center>
                <ion-item class="input-border">
                    <ion-label floating>From</ion-label>
                    <ion-datetime displayFormat="MM/DD/YYYY" pickerFormat="MMM DD YYYY" (ngModelChange)="getDatefilter($event,'fromDate')"
                        [(ngModel)]="fromDate"></ion-datetime>
                </ion-item>
            </ion-col>
            <ion-col text-center>
                <ion-item class="input-border">
                    <ion-label floating>To</ion-label>
                    <ion-datetime displayFormat="MM/DD/YYYY" pickerFormat="MMM DD YYYY" (ngModelChange)="getDatefilter($event,'toDate')"
                        [(ngModel)]="toDate"></ion-datetime>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-scroll *ngIf="!graphEnabled " #leftCats id="leftCats" overflow-scroll="auto" scrollX style="height:30px;">
            <div [ngClass]="day.day==selectedDay?'scroll-item Cal-border-white':'scroll-item Cal-border'" *ngFor="let day of authService.dateArray;let i of index"
                (click)="onDateClick(day.day,i)">
                {{" "+day.day+" "}}
                <!-- {{day.name+" "+day.day}}   -->
            </div>
        </ion-scroll>
    </div>
</ion-header>
<ion-content class="example-container mat-elevation-z8">
    <ion-list *ngIf="!graphEnabled">
        <ion-item>
            <ion-row class="text-format" style="text-align: center;">
                <ion-col col-3>
                    <h2>Time</h2>
                </ion-col>
                <ion-col col-2>
                    <h2>WT</h2><br>
                    (in °F)
                </ion-col>
                <ion-col col-2>
                    <h2>AT</h2><br>
                    (in °F)
                </ion-col>
                <ion-col col-3>
                    <h2>DC</h2><br>
                    (in ft³/s)
                </ion-col>
                <ion-col col-2>
                    <h2>GH</h2><br>
                    (in ft)
                </ion-col>
            </ion-row>
        </ion-item>
    </ion-list>
    <ion-list class="mat-list" *ngIf="mainEventList.length !=0 && !graphEnabled">
        <ion-item *ngFor="let item of mainEventList">
            <ion-row style="text-align: center;">
                <ion-col col-3>
                    <h2>{{item.time}}</h2>
                </ion-col>
                <ion-col col-2>
                    <h2>{{item.water_temp}}</h2>
                </ion-col>
                <ion-col col-2>
                    <h2>{{item.air_temp}}</h2>
                </ion-col>
                <ion-col col-3>
                    <h2>{{item.discharge}}</h2>
                </ion-col>
                <ion-col col-2>
                    <h2>{{item.gage_height}}</h2>
                </ion-col>
            </ion-row>
        </ion-item>
    </ion-list>

    <div *ngIf="graphEnabled && !errorEnabled">
        <div (click)=" PhotoView('DC')" class="mat-elevation-z8">
            <p class="heading">Discharge, cubic feet per second </p>
            <div *ngIf="imageUrlDC !== null" style="text-align: center;">
                <img [src]="imageUrlDC">
                <h3 *ngIf="imageUrlDC == 'assets/img/error.png'"> No data Available.</h3>
            </div>
        </div>

        <div (click)="PhotoView('GH')" class="mat-elevation-z8">
            <p class="heading">
                Gage height, feet
            </p>
            <div *ngIf="imageUrlGH !== null" style="text-align: center;">
                <img [src]="imageUrlGH">
                <h3 *ngIf="imageUrlGH == 'assets/img/error.png'"> No data Available.</h3>
            </div>
        </div>
    </div>
    <div class="item" *ngIf="errorEnabled">
        <h3 class="no-appointment">
            <img style="height: 70px;" src="assets/img/error.png"><br> * The To date must be greater than the
            From date. </h3>
    </div>
</ion-content>
<ion-footer *ngIf="authService.INTERNETCHECK">
    <ion-toolbar style="text-align: center">
        <div>
            <small class="label-Network" clear>Offline data not available.You are not connected to the Internet at the
                moment.
            </small>
        </div>
    </ion-toolbar>
</ion-footer>