.theme-dark {
page-USGS_Details {
  .example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }

  .calendar{ .item,
ion-item,.item-inner,.input-wrapper,ion-label{
  background-color:#212733 !important;
  background: #212733 !important;
}
  }

  .text-format{
    h2{
      font-weight: bold !important;
    }
  }
  .heading{
    padding: 12px 18px;
    font-weight: 600;
    font-size: 16px;
  }
  .mat-list {
    overflow: auto;
    max-height: 100%;
  }
  
  ion-content{
  background-size: cover !important;
  background: white !important;
  }
  .list-md {
    margin: -1px 0 0px;
}
  .center-text{
    justify-content: center;
    p{
      text-align: center;
      color: #78e1f6 !important;
      font-size: 16px;
      font-weight: 500;
    }
  }
  .login-button {
    border-radius: 4px;
    width: 35px;
    height: 35px;
    background: #18cbef;
    box-shadow: 5px 5px 4px rgba(202,202,202,0.5);
    font-size: 1em;  
  }
  
  .slide-zoom{
    height: 100%;
  }

  .mat-disabled .mat-slide-toggle-thumb {
    background-color: #18cbef;
}
.mat-disabled .mat-slide-toggle-bar {
  background-color: rgba(7, 232, 255, 0.5);
}
  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #18cbef;
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: rgba(7, 232, 255, 0.5);
}

  ion-segment {
   .segment-button ion-icon {
      font-size: 16px;
      line-height: 2rem;
  }
    .segment-button {
      background-color: #212733;
      color: #fff;
      opacity: 1;
      font-size: 16px !important;
    //  border-right: 1px #FFF solid;
    }
    &.segment-ios{
      .segment-activated{
        color:  #212733;
      }
      .segment-button:hover{
            color: #212733;
            background-color: #78e1f6;
      }
    }
  }
  .segment-md .segment-button.segment-activated {
    border-color: #ffffff;
    border-bottom: 3px #387ef5 solid;
    opacity: 1;
}
 .segment-button {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 0;
  height: 4.2rem;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 4rem;
  text-transform: inherit;
  color: #ffffff;
  background-color: #212733;
  opacity: 0.7;
  -webkit-transition: 100ms all linear;
  transition: 100ms all linear;
  padding: 0 6px;
}

  ion-slide{
  background-size: cover !important;
}
  table tr td,th {
    p{
      font-size: 18px !important;;
      color: #000;
    }
  }
 text{
  font-size: 13px !important;
  }
  tspan{
    font-size: 14px;
    font-weight: 400;
   // color: #ffffff !important;
    //fill: #ffffff !important;
  }

  .mat-tab-header{
    background: #212733;
  }

  .mat-tab-label {
    min-width: 72px;
    width: 50%;
    opacity: 100;
    div {
      color:  #ffffff;
  }
  
}
text.highcharts-credits {
  display: none;
}
.mat-tab-group {
  display: flex;
  flex-direction: column;
  color: #FFF;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #18cbef;
  width: 50% !important;
  left: 0px;
  height: 3px;
}



  .mat-select {
    display: inline-block;
    width: 90%;
    outline: 0;
    margin: 5px;
}
.no-appointment{
  width: 100%;
  margin-top: 8rem;
  font-size: 1.6rem;
  text-align: center;
  color: red;
 }
  ion-navbar{
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    }
  ion-label div{
    color: rgb(2, 2, 2) !important;  
  }
  
  .full-screen {
    height: 100% !important;
    margin: 0 !important;
  }
  
  .half-screen {
    min-height: 50% !important;
    margin: 0 !important;
  }
  
  .center-child {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  
  .menu-image {
   // background: $primary-color !important;
    margin-bottom: -30% !important;
    margin-top: -10% !important;
  }
  
  .menu-image-height {
    min-height: 150px !important;
  }
  
  .bg-light {
    background: #F2F2F2 !important;
  }
  
  ion-list-header {
    margin-bottom: 0 !important;
  }
  
  .bold {
    font-weight: bold !important;
  }
  
  .center {
    text-align: center !important;
  }
  
  .xx-large {
    font-size: 4.2rem !important;
  }
  
  .x-large {
    font-size: 3.2rem !important;
  }
  
  .large {
    font-size: 2.6rem !important;
  }
  
  .medium {
    font-size: 2.2rem !important;
  }
  
  .small {
    font-size: 1.8rem !important;
  }
  
  .x-small {
    font-size: 1.6rem !important;
  }
  
  @media only screen and (max-width: 320px) and (orientation: portrait) {
    .xx-large {
      font-size: 3.2rem !important;
    }
    .x-large {
      font-size: 2.6rem !important;
    }
    .large {
      font-size: 2.2rem !important;
    }
    .medium {
      font-size: 1.8rem !important;
    }
    .small {
      font-size: 1.6rem !important;
    }
    .x-small {
      font-size: 1.4rem !important;
    }
  }
  
  ion-col[width-22] {
    flex: 0 0 22%;
    max-width: 22%;
  }






  .toast-message {
    background-color:#233676;
   }

 .columnHeader {
   text-align: center;
   font-weight: bold;
 }
 .cal-today {
   .cal-day-number {
     font-size: 1.5em !important;
   }
 }
 .cal-day-cell {
   min-height: 60px;
 }
 .cal-cell-top {
   min-height: 30px;
 }
 .cal-day-number {
   font-size: 1em;
   margin-top: 10px;
   margin-bottom: 5px;
   margin-right: 5px;
 }
 .cal-day-badge {
   display: none;
 }
 .searchbar-outer-div {
   display: flex;
   align-items: center;
   padding: 5px 5px 5px  10px;
 }
 .drop {
  background: #212733;
   color:#fff;
   border-bottom:thin solid #fff;
 }
 .box select{
   font-size:20px;
 }
 .schedule .select-md .select-icon .select-icon-inner {
   color: #fff;
 }
 .select-ios .select-icon .select-icon-inner {
   color: #fff;
 }
 .dropdown-list {
   padding-left: 18px;
 }
 .calendar-outer-div {
  background: #212733;
   color:#fff;
   border-bottom:thin solid #fff;
 }
 .schedule ion-select {
   display: flex;
   overflow: hidden;
   max-width: 100%;
   background: transparent;
 }
 .box{
   border:none;
 }
 .box select{
   background:transparent;
   border:none;
   width:87%;
   color:#fff;
   font-size:14px;
 }
 .schedule-listing{
   background: #fff;
   padding:1px 0px;
 }

 .schedule-listing .list-inset{
   margin:5px;
 }

 .schedule-listing .list-inset .item,.schedule-listing .list-inset .item .row{
   padding:0px;
 }

 .schedule-listing .list-inset .item+.item{
   margin-top:3px;
 }
.time {
 display: flex;
 align-items: center;
}
 .info-outer-div {
   padding: 5px 0 5px 15px;
 }
 .indicator{
   position: relative;
   right: -19px;
   max-width: 13px;
 }
 .red-indicator-outer-div {
   border: 1px solid #f6beb7;
 }
 .blue-indicator-outer-div {
   border: 1px solid #9ae5f9;
 }
 .yellow-indicator-outer-div {
   border: 1px solid #fbf4d7;
 }
 .indicator-danger{
   background:#ec5e4f;
 }
 .indicator-positive{
   background:#1ac6f4;
 }
 .indicator-bright{
   background:#efd24b;
 }
 .schedule-listing p{
   margin: 6px 0;
 }
 @media only screen
 and (min-device-width: 768px)
 and (max-device-width: 1024px)
 and (-webkit-min-device-pixel-ratio: 1) {
   .indicator {
     position: relative;
     right: -7%;
     max-width: 13px;
   }
   .schedule ion-select {
     max-width: 75%;
   }
 }

 ion-scroll[scrollX] {
   white-space: nowrap;
   height: 120px;
   overflow: hidden;
   .scroll-item {
     display: inline-block;
   }

   .selectable-icon{
     /*margin: 10px 20px 10px 20px;*/
     color: red;
     font-size: 100px;
   }

   /*ion-avatar img{
     margin: 10px;
   }*/
   .Cal-border{
   padding-left: 0;
   padding-right: 0;
   font-size: 12px;
   border-bottom-width: 2px;
   border: 1px solid #ddd;
   width: 50px;
   height: 30px;
   text-align: -webkit-center;
   padding-top: 8px;
   }
   .Cal-border-white{
     padding-left: 0;
     padding-right: 0;
     font-size: 12px;
     border-bottom-width: 2px;
    // border: 1px solid #ddd;
     width: 50px;
     height: 30px;
     text-align: -webkit-center;
     padding-top: 8px;
     color: black;
     background-color: white;
     }
 }

  h1,h2,h3,h4,h5,h6,p,b {
color: black !important;
}

.footer-Content{
  background-color: #212733 !important;
}

// .text-input-md {
//   margin: 13px 8px;
//   padding: 0;
//   width: calc(100% - 8px - 8px);
//   color: black;
// }


ion-content,
.input-wrapper,
.item-inner,
.item,
ion-footer,
ion-item,
ion-label {
  transition: all 1.1s ease;
  background-color:white;
  background: white;
  color: rgb(2, 2, 2);   
  border-bottom: 0px solid #dedede !important;
}

td{
  text-align: center;
}
}
}