<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Buoy Weather</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="6">
    <agm-marker *ngFor="let marker of pinsDataList; let pos = index" [latitude]="marker.lat" [longitude]="marker.lon"
      [iconUrl]="marker.iconUrl" (markerClick)="MarkerDetails(marker,infoWindow, pos)">
    </agm-marker>
  </agm-map>
</ion-content>
<ion-footer *ngIf="authService.INTERNETCHECK">
  <ion-toolbar style="text-align: center">
    <div>
      <small class="label-Network" clear>
        Offline data not available.You are not connected to the
        Internet at the moment.
      </small>
    </div>
  </ion-toolbar>
</ion-footer>