<!-- <ion-header>
  <ion-navbar>
    <ion-title>Resend Code</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header> -->
<div class="transparent-header" [ngStyle]="{'background-image': 'url(' + backgroundImage +')'}">
  <ion-header>
    <ion-navbar>
      Resend Code
    </ion-navbar>
  </ion-header>
</div>
<ion-content padding>
  <div style="padding: 15% 32px 32px 32px">
    <ion-row>
      <img class="logo" src="assets/img/logo/logo-pr.png" />
    </ion-row>
    <ion-row>
      <p class="forgot-Password"> Please enter your registered mobile number.</p>
    </ion-row>
    <ion-row>
      <mat-form-field class="example-full-width">
        <input matInput required type="tel" [(ngModel)]="phoneNo" maxlength="10" clear placeholder="Mobile Number">
      </mat-form-field>
    </ion-row>
    <ion-row>
      <button mat-button block round color="light" class="login-button" (click)="sendOTP()">SUBMIT</button>
    </ion-row>
  </div>
</ion-content>
<!-- <ion-footer *ngIf="authService.INTERNETCHECK">
  <ion-toolbar style="text-align: center">
    <div>
      <small class="label-Network" clear>Offline data not available.You are not connected to the Internet at the moment.
      </small>
    </div>
  </ion-toolbar>
</ion-footer> -->