<div class="transparent-header" [ngStyle]="{'background-image': 'url(' + backgroundImage +')'}">
  <ion-header>
    <ion-navbar>
      Reset Password
    </ion-navbar>
  </ion-header>
</div>
<ion-content class="chats">
  <form [formGroup]="ResetForm">
    <div style="padding: 20% 32px 32px 32px">
      <ion-row>
        <p class="forgot-Password"> Confirmation code has been sent to your email. </p>
        <p class="forgot-Password"> Please enter the code below & reset your password. </p>
      </ion-row>
      <ion-row>
        <p class="forgot-Password p-text">Enter Confirmation Code</p>
      </ion-row>
      <ion-row style="padding: 0px 70px;justify-content: center;">
        <table>
          <tr>
            <td>
              <ion-input type="tel" [textMask]="{mask: otp1}" #otp1 class="otp" formControlName="FirstNo" pattern="[0-9]{6}" maxlength="1"
                size="1" (keyup)="next(otp2)">
              </ion-input>
            </td>
            <td>
              <ion-input type="tel" [textMask]="{mask: otp2}" #otp2 class="otp" formControlName="SecondNo" pattern="[0-9]{6}" maxlength="1"
                size="1" (keyup)="next(otp3)">
              </ion-input>
            </td>
            <td>
              <ion-input type="tel" [textMask]="{mask: otp3}" #otp3 class="otp" formControlName="ThirdNo" pattern="[0-9]{6}" maxlength="1"
                size="1" (keyup)="next(otp4)">
              </ion-input>
            </td>
            <td>
              <ion-input type="tel" [textMask]="{mask: otp4}" #otp4 class="otp" formControlName="ForthNo" pattern="[0-9]{6}" maxlength="1"
                size="1">
              </ion-input>
            </td>
          </tr>
        </table>
      </ion-row>
      <ion-row style="padding: 0px 70px;">
        <small *ngIf="FirstNo.hasError('required') && SecondNo.hasError('required') &&  ThirdNo.hasError('required') && ForthNo.hasError('required')  && FirstNo.touched && SecondNo.touched"
          class="error">
          <p>* Please enter OTP.</p>
        </small>
        <small *ngIf="InvalidOtp" class="error">
          <p>* Invalid OTP code</p>
        </small>
        <br>
        <!-- <div *ngIf="SecondNo.hasError('required') && SecondNo.touched" class="error">
                        <p>*Please enter Second OTP.</p>
                      </div><br> -->
        <!-- <div *ngIf="ThirdNo.hasError('required') && ThirdNo.touched" class="error">
                          <p>*Please enter Third OTP.</p>
                        </div><br>
                        <div *ngIf="ForthNo.hasError('required') && FourthNo.touched" class="error">
                            <p>*Please enter fourth OTP.</p>
                          </div> -->
      </ion-row>
      <ion-row>
        <mat-form-field class="example-full-width">
          <input matInput required type="{{NewType}}" clear formControlName="password" placeholder="New Password">
          <mat-icon matSuffix>
            <button mat-button icon-only *ngIf="!eyesicon" style="float: right;" (tap)="toggleNewShow()">
              <ion-icon ios="ios-eye-outline" md="md-eye"></ion-icon>
            </button>
            <button mat-button icon-only *ngIf="eyesicon" style="float: right;" (tap)="toggleNewShow()">
              <ion-icon ios="ios-eye-off" md="md-eye-off"></ion-icon>
            </button>
          </mat-icon>
        </mat-form-field>
      </ion-row>




      <!-- <ion-row>
        <ion-col col-10 style="padding: 0 0;">
          <mat-form-field class="example-full-width">
            <input matInput required  clear formControlName="password" placeholder="Password">
          </mat-form-field>
        </ion-col>
        <ion-col col-2 style="border-bottom: 1px solid #9e9e9e;padding: 10px 0px;margin-bottom: 20px;">
          <button mat-button icon-only *ngIf="!eyesicon" style="float: inherit;" (click)="toggleNewShow()">
            <ion-icon ios="ios-eye-outline" md="md-eye"></ion-icon>
          </button>
          <button mat-button icon-only *ngIf="eyesicon" style="float: inherit;" (click)="toggleNewShow()">
            <ion-icon ios="ios-eye-off" md="md-eye-off"></ion-icon>
          </button>
        </ion-col>
      </ion-row> -->
      <ion-row>
        <small *ngIf="password.hasError('required') && password.touched" class="error">
          <p>* Please enter your correct Password.</p>
        </small>
        <small *ngIf="password.hasError('minlength') && password.touched" class="error">
          <p>* Minimum length of password should be 8.</p>
        </small>
        <small *ngIf="password.hasError('maxlength') && password.touched" class="error">
          <p>* Maximum length of password should be 20.</p>
        </small>
      </ion-row>
      <ion-row>
        <mat-form-field class="example-full-width">
          <input matInput required type="{{ReType}}" clear formControlName="confirmPassword" placeholder="Confirm Password">
          <mat-icon matSuffix>
            <button mat-button icon-only *ngIf="!eyesiconConfirm" style="float: right;" (tap)="toggleRetypeShow()">
              <ion-icon ios="ios-eye-outline" md="md-eye"></ion-icon>
            </button>
            <button mat-button icon-only *ngIf="eyesiconConfirm" style="float: right;" (tap)="toggleRetypeShow()">
              <ion-icon ios="ios-eye-off" md="md-eye-off"></ion-icon>
            </button>
          </mat-icon>
        </mat-form-field>
      </ion-row>
      <ion-row>
        <!--  <ion-col col-10 style="padding: 0 0;">
        <ion-col col-10 style="padding: 0 0;">
          <mat-form-field class="example-full-width">
            <input matInput required type="{{ReType}}" clear formControlName="confirmPassword" placeholder="Confirm Password">
          </mat-form-field>
        </ion-col>
        <ion-col col-2 style="border-bottom: 1px solid #9e9e9e;padding: 10px 0px;margin-bottom: 20px;">
          <button mat-button icon-only *ngIf="!eyesiconConfirm" style="float: inherit;" (click)="toggleRetypeShow()">
            <ion-icon ios="ios-eye-outline" md="md-eye"></ion-icon>
          </button>
          <button mat-button icon-only *ngIf="eyesiconConfirm" style="float: inherit;" (click)="toggleRetypeShow()">
            <ion-icon ios="ios-eye-off" md="md-eye-off"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
      <ion-row> -->
        <!-- <small *ngIf="confirmPassword.hasError('required') && confirmPassword.touched" class="error">
          <p>* Please enter your correct Password.</p>
        </small>
        <small *ngIf="confirmPassword.hasError('minlength') && confirmPassword.touched" class="error">
          <p>* Minimum length of password should be 8.</p>
        </small>
        <small *ngIf="confirmPassword.hasError('maxlength') && confirmPassword.touched" class="error">
          <p>* Maximum length of password should be 20.</p>
        </small> -->
        <small *ngIf="submitAttempt" class="error">
          <p>* Passwords do not match..</p>
        </small>
      </ion-row>
    </div>
  </form>
  <ion-row style="padding: 0px 25px;margin-bottom: 40px;">
    <button mat-button block round color="light" class="login-button" (click)="resetPassword()">SUBMIT</button>
  </ion-row>
</ion-content>
<ion-footer *ngIf="authService.INTERNETCHECK">
  <ion-toolbar style="text-align: center">
    <div>
      <small class="label-Network" clear>Offline data not available.You are not connected to the Internet at the moment.
      </small>
    </div>
  </ion-toolbar>
</ion-footer>