
.theme-dark {
  page-resetPassword {
  .transparent-header .toolbar-content, .transparent-header .back-button {
    color: black;
}
ion-icon{
  color: #333333;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.example-full-width {
  width: 100%;
}
.mat-input-ripple {
  background-color: #18cbef;
}
.mat-form-field-invalid .mat-form-field-ripple {
  background-color: #f44336;
}
.mat-input-element {
  caret-color: #18cbef;
  color: #000000;;
}
.mat-focused .mat-form-field-label{
  color:#18cbef;
}
    .mat-form-field {
      font-family: Roboto,"Helvetica Neue",sans-serif;
      font-size: medium;
      font-weight: 500;
      line-height: 3.125;
  }
  .mat-form-field-infix {
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
//    width: 285px;
}
 
.error p {
  color: rgb(230, 3, 3) !important;
  text-align: left;
}

.text-center1{
text-align: -webkit-center;
}
table{
  border-spacing: 8px !important;
  border-collapse: inherit !important;
}

span, page-resetPassword p, page-resetPassword h3 {
  color: #ffffff !important;
}

.p-text{
//width: 143px;
height: 10px;
color: #666666 !important;
font-family:  'Roboto', sans-serif;
font-size: 12.0px;
font-style: normal;
font-stretch: normal;
font-weight: 400;
text-align: center;
}

.otp {
  color: darkgray;
  border-style: none;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

td {
  border: 2px solid darkgray
}

table {
  border-collapse: collapse;
}

  ion-content {
    background: #ffffff !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-color: transparent;
  }
   
  span,
  p,
  h3 {
    color:#333333;
  }
  
  .margin-bottom {
    margin-bottom: 15px !important;
  }
   ::-webkit-input-placeholder {
    color:#333333 !important;
  }
  .item-inner {
    border-bottom: 2px solid white !important;
    box-shadow: none !important;
  }
  
  .login-button {
    border-radius: 4px;
    width: 301px;
    height: 40px;
    background: #18cbef;
    box-shadow: 5px 5px 4px rgba(202,202,202,0.5);
    top: 28px;
    //box-shadow: 5px 5px 4px rgba:(202,202,0.5);
    width: 100%;
    max-width: 40rem;
    height: 50px;
    font-size: 1.2em;
  }
  .forgot-button {
    font-weight: bold;
    float: right;
    ion-icon {
      padding-left: 10px;
      font-size: 2.2rem;
    }
  }
  .goback-button {
    font-weight: bold;
    float: left;
    ion-icon {
      padding-right: 10px;
      font-size: 2.2rem;
    }
  }
  

  .forgot-Password {
    color: #333333;
    font-family:  'Roboto', sans-serif;
    font-size: 14.0px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    margin-top: 15px;
    width: 100%;
    height: 14px;
    text-align: center;
  }


  ion-content,
  .input-wrapper,
  .item-inner,
  .item,
  ion-footer,
  ion-item,
  ion-label {
    transition: all 1.1s ease;
    background-color: #ffffff !important;
    background: #ffffff !important;
    color: rgb(2, 2, 2);   
  }
}
}