<ion-header>
    <ion-navbar>
        <ion-title>{{pdfUrl.title}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="mat-elevation-z8" style="height: 100%;">
    <div *ngIf="!progressBarEnabled">
        <pinch-zoom>
            <img style="width: 100%;" src="{{pdfUrlSrc}}" />
        </pinch-zoom>
        <div *ngIf="pdfUrl.pdfURL== null && pdfUrl.pdfURL ==undefined" style="text-align: center;margin-top: 150px">
            <img style="height: 12vh;" src="assets/img/FNF.png">
            <p>File is not Available</p>
        </div>
    </div>
    <div *ngIf="progressBarEnabled">
        <ion-row>
            <ion-col align-self-center col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 padding
                style="margin-top: 10px;font-size: 16px;text-align: center;">
                <img width="180px" height="180px" src="assets/img/GIF.gif" />
            </ion-col>
            <ion-col align-self-center col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 padding
                style="color: black;text-align: center !important ;">
                <b style="color:black;text-align:center !important;">
                    Fishing for data. Please wait....!</b>
            </ion-col>
            <ion-col align-self-center col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 padding
                style="font-size: 12px;color: black;text-align: center;">
                {{loadedPdf}} / {{totalDwn}} KB
            </ion-col>
        </ion-row>
        <div class="progress-outer">
            <div class="progress-inner" [style.width]="progress + '%'">
                {{progress}}%
            </div>
        </div>
    </div>
</ion-content>
<ion-footer *ngIf="authService.INTERNETCHECK">
    <ion-toolbar style="text-align: center">
        <div>
            <small class="label-Network" clear>Offline data not available.You are not connected to the Internet at the
                moment.
            </small>
        </div>
    </ion-toolbar>
</ion-footer>