.theme-dark {
page-pdfView {
  pinch-zoom{
    padding-bottom: 250px;
  }

  
.progress-outer {
    	width: 96%;
    	margin: 10px 2%;
    	padding: 3px;
    	text-align: center;
    	background-color: #f4f4f4;
    	border: 1px solid #dcdcdc;
    	color: #fff;
    	border-radius: 20px;
      }
      
      .progress-inner {
    	min-width: 15%;
    	white-space: nowrap;
    	overflow: hidden;
    	padding: 5px;
    	border-radius: 20px;
    	background-color: #00BCD4;
      }

     ion-list,
	.input-wrapper,
	ion-label,
	.item-inner,ion-content div{
        background-color: #fff;
        background: #fff;
	}
}


// pdf-viewer {
// 	display:inline-block;
// 	max-width:100% !important;
// }




// 	ion-content,.footer .toolbar-background, .toggle-checked {
// 		background: #ffffff !important;
// 	}

//   ion-fab {
// 		position:fixed;
//   }
//   ion-fab[bottom] {
//     bottom: 35px;
// }
// p{
// 	color: black;
// }
// .scroll-view{
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
// }
// 
// 	pdf-viewer {
// 		display:inline-block;
// 		max-width:100% !important;
// 	}
// 	ion-content {
// 		background: color($colors, light, base);
// 		ion-item{
// 			background-color: #ffffff;
// 			background:#FFFFFF;
// 		}
// 	}
// 	ion-list,
// 	.input-wrapper,
// 	ion-label,
// 	.item-inner {
// 		background-color: #fff;
// 		color: color($colors, dark, base);
// 	}
 //}
}