<ion-header>
  <ion-navbar>
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title>AlaskaFishTopia Subscription</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list class="docListFirst docList">
    <ion-item class="itemList" (click)="EditProfile()">
      <ion-row>

        <ion-col col-10>
          <p class="otherUsers">
            <ion-icon ios="ios-person" md="md-person"></ion-icon> &nbsp; Edit Profile
          </p>
        </ion-col>
        <ion-col col-2 class="arrow-icon">
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item class="itemList" (click)="ChangePwd()">
      <ion-row>
        <ion-col col-10>
          <p class="otherUsers">
            <ion-icon ios="ios-lock" md="md-lock"></ion-icon> &nbsp; Change Password
          </p>
        </ion-col>
        <ion-col col-2 class="arrow-icon">
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item class="itemList" (click)="PayNow()">
      <ion-row>
        <ion-col col-10>
          <p class="otherUsers">
            <ion-icon ios="ios-cash" md="md-cash"></ion-icon> &nbsp; Payment Method
          </p>
        </ion-col>
        <ion-col col-2 class="arrow-icon">
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item class="itemList" (click)="NotificationSettings()">
      <ion-row>
        <ion-col col-10>
          <p class="otherUsers">
            <ion-icon ios="ios-settings" md="md-settings"></ion-icon> &nbsp; Notification Settings
          </p>
        </ion-col>
        <ion-col col-2 class="arrow-icon">
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item class="itemList" (click)="LicenseSettings()">
      <ion-row>
        <ion-col col-10>
          <p class="otherUsers">
            <ion-icon ios="ios-card" md="md-card"></ion-icon> &nbsp; Fishing License Info
        </ion-col>
        <ion-col col-2 class="arrow-icon">
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>
    <!-- <ion-item class="itemList" (click)="SubDetails()">
      <ion-row>
        <ion-col col-10>
          <p class="otherUsers">
            <ion-icon ios="ios-list-box" md="md-list-box"></ion-icon> &nbsp; Subscription Details
        </ion-col>
        <ion-col col-2 class="arrow-icon">
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item> -->
    
    <!-- <ion-item class="itemList" (click)="FishingLicenselist()">
      <ion-row>
        <ion-col col-10>
          <p class="otherUsers">
            <ion-icon ios="ios-list-box" md="md-list-box"></ion-icon> &nbsp;Fishing License List
        </ion-col>
        <ion-col col-2 class="arrow-icon">
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item> -->
    <!-- List big image Header -->
    <div collapsible-header>
      <ion-item class="itemList" (click)="toggleGroup()">
        <ion-row>
          <ion-col col-10>
            <p class="otherUsers">
              <ion-icon ios="ios-clipboard" md="md-clipboard"></ion-icon> &nbsp; About Us
            </p>
          </ion-col>
          <ion-col col-2 class="arrow-icon">
            <ion-icon name="ios-arrow-forward" [hidden]="isGroupShown(group)"></ion-icon>
            <ion-icon ios="ios-arrow-down" md="ios-arrow-down" [hidden]="!isGroupShown(group)"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-item>
    </div>
    <!-- End List big image Header -->
    <!-- List big image Body -->
    <div item-accordion [ngClass]="{'active': isGroupShown(group) }" [hidden]="!isGroupShown(group)">
      <ion-item class="itemList" (click)="AboutUs('Fishtopia')">
        <ion-row>
          <ion-col col-1></ion-col>
          <ion-col col-9>
            <p class="otherUsers">About Alaska FishTopia</p>
          </ion-col>
          <ion-col col-2 class="arrow-icon">
            <ion-icon name="ios-arrow-forward"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item class="itemList" (click)="AboutUs('TheAlgo')">
        <ion-row>
          <ion-col col-1></ion-col>
          <ion-col col-9>
            <p class="otherUsers">About The Algorithm</p>
          </ion-col>
          <ion-col col-2 class="arrow-icon">
            <ion-icon name="ios-arrow-forward"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-item>
    </div>
    <!-- <ion-item class="itemList" (click)="invitReferral()">
      <ion-row>
        <ion-col col-10>
          <p class="otherUsers">
            <ion-icon name="share"></ion-icon> &nbsp; Invite Refer
        </ion-col>
        <ion-col col-2 class="arrow-icon">
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item> -->
  </ion-list>
  <div>
    <ion-row>
      <ion-col col-12>
        <p style="text-align: center;">AlaskaFishTopia Version
          <span [innerHTML]="AppVersion"></span>
        </p>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
<ion-footer *ngIf="authService.INTERNETCHECK">
  <ion-toolbar style="text-align: center">
    <div>
      <small class="label-Network" clear>Offline data not available.You are not connected to the Internet at the
        moment.
      </small>
    </div>
  </ion-toolbar>
</ion-footer>