page-ShoutOutMainPage {
  #notification-button {            
    position: relative;
    width: 42px;
    top:1px;
    right: 1px;
    overflow: visible!important;
}


#notifications-badge {
    background-color: red;
    position: absolute;
    top: -3px;
    right: -3px;
    border-radius: 100%;
}

  .fab[mini] {
    margin: 8px;
    width: 50px;
    height: 50px;
    line-height: 40px;
}
  .icon-img{
    height: 22px;
    margin-right: 5px;
  }
  .label-md {
    margin: 8px 8px 8px 0;
}

  .scroll-content{
    margin-top: 50px !important;
  }

  .refresher-pulling-text, .refresher-refreshing-text,.refresher-refreshing-icon,.infinite-loading-text ,.spinner-md-bubble {
    text-align: center;
    color: #000;
} 
// .infinite-loading-text ,spinner spinner-md spinner-bubbles spinner-md-bubbles{
//   color: #000;
//   margin: 4px 32px 0;
// }
.ionfab-button{
  color: #ffffff;
  font-weight: 700;
  background: #18cbef;
  width: 45px  !important;
  height: 45px  !important;
}
  .ion-refresher-content div{
    color: #000 !important;
  }

  .title-text{
  padding-left: 20px;
  top: 5px;
  }
  // .button-md {
  //   width: 50px;
  //   border-radius: 12px;
  //   overflow: hidden;
  //   height: 2.6rem;
  //   font-size: 1.4rem;
  //   font-weight: 500;
  //   text-transform: uppercase;
  //   color: #fff;
  //   background-color: #387ef5;
    
  // }
  textarea.text-input {
    resize: none;
    padding: 10px !important;
}
  
  .text-post{
    float: right;
    margin-right: 12px;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .heading-content{
    color: #18cbef !important;
  }

  .icon-style{
    font-size: 20px;
    color: #000;
  }
  .forum-like-img{
  height: 2.5vh;
  width: 2.7vh;
  }

  ion-content {
    background: #f4f4f4 !important;
    }

    p,
    h3,
    h2 {
      color:#333333 !important;
    }
    .icon-badgebell{
        width: 19.95px;
          height: 22.25px;
      }
    .segement{
        background-color: #212733;
        border-right: 1px solid #cccccc;
        text-transform: capitalize !important;
        color: #ffffff !important;
        font-weight: 600 !important;
      }
      .segment-button.segment-activated {
        border-color: #ffffff !important;
        opacity: 1;
        border-bottom: 4px solid #18CBEF !important;
      }
      .heading-cont{
        margin-bottom: 4px;
        height: 70px;
        border-radius: 0px;
        height: 43px;
        text-transform: capitalize !important;
        color: #ffffff !important;
       background: #212733;
       //box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
      }


      .card-1 {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
      }
      
      .card-1:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      }

    .item-md,.item-ios {
        padding-left:0px;

        ion-avatar img {
          margin-top:10px;
            width:40px;
            height:40px;
        }

        ion-avatar[item-start]{
            margin: 0px 30px 8px 0;
        }

        .number-circle{
            color:rgb(3, 3, 3);
            font-weight: 700;
            border-radius: 50%;
            background-color:red;
            width: 20px;height:20px;
            line-height: 20px;
            text-align: center;
        }
    }
    .post-text{
      background-color: #212733;
      padding: 25px 0px 0px 0px;
    }

    .text-input-md {
      height: 60px;
      margin: 0px 8px;
      padding: 0;
      width: calc(100% - 8px - 8px);
      color: white;
      font-weight: 500;
      border-bottom-color: 1px saddlebrown;
      // border-radius: 50;
      /* border: 1px solid; */
      border-radius: 8px;
      /* background-color: #333a4c !important; */
      background-color: #333a4c !important;
  }
    .rating {
      ion-icon {
          font-size: 15px;
          padding: 0px 1px !important;
          background: none;
          color:#000;
      }
    }

 
  .input-wrapper,
  .item-inner,
  .item,
  ion-footer,
  ion-item,
  ion-label {
    transition: all 1.1s ease;
    background-color: #ffffff !important;
    background: #ffffff !important;
    color: rgb(2, 2, 2);   
  }
  h2 {
    color: white;
  }
  ion-slides,
  .swiper-container {
    width: 100%;
    height: 65px;
  }
  .swiper-slide {
    background-size: cover !important;
    background-position: center !important;
  }
  .swiper-pagination-bullet {
    background-color: white;
  }
  
  ion-scroll[scrollX] {
    white-space: nowrap;
    height: 120px;
    overflow: hidden;
    .scroll-item {
      display: inline-block;
    }

    .selectable-icon{
      /*margin: 10px 20px 10px 20px;*/
      color: red;
      font-size: 100px;
    }

    /*ion-avatar img{
      margin: 10px;
    }*/
    .Cal-border{
    padding-left: 0;
    padding-right: 0;
    font-size: 12px;
    border-bottom-width: 2px;
    border: 1px solid #ddd;
    width: 50px;
    height: 30px;
    text-align: -webkit-center;
    padding-top: 8px;
    }
    .Cal-border-white{
      padding-left: 0;
      padding-right: 0;
      font-size: 12px;
      border-bottom-width: 2px;
     // border: 1px solid #ddd;
      width: 50px;
      height: 30px;
      text-align: -webkit-center;
      padding-top: 8px;
      color: black;
      background-color: white;
      }
  }

}
