<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="float: left;margin-top: 12px;">Today's Catch - Photos</ion-title>
    <ion-buttons end>
      <button id="notification-button" ion-button icon-only (click)="Notification()">
        <ion-icon name="notifications">
          <ion-badge *ngIf="authService.NotifyCount !=0" id="notifications-badge" color="danger">{{authService.NotifyCount}}</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <!-- <ion-list  *ngFor="let item1 of dateList">
              <ion-list-header class="label-md-head" *ngIf="item1==SelectDate" >
                  <ion-icon name="calendar" style="margin-left: 14px;"></ion-icon> Today
                </ion-list-header>
                <ion-list-header class="label-md-head" *ngIf="item1!=SelectDate" >
                    <ion-icon name="calendar" style="margin-left: 14px;"></ion-icon> {{item1 | moment:'D MMM YYYY'}}
                  </ion-list-header> -->
  <ion-list class="ion-list-style " *ngFor="let card of authService.ShoutOutPageList">
    <div (click)="ShoutOutDetails(card)" class="card card-1">
      <ion-item no-lines>
        <ion-avatar item-start>
          <!-- <img src="assets/img/avatar/sarah-avatar.jpg"> -->
          <div *ngIf="card.user_id.image_url==null">
            <img style="width: 7vh;height: 7vh" src="assets/img/icon/placeholder.png">
          </div>
          <img style="width: 7vh;height: 7vh" src="{{card.user_id.image_url}}" *ngIf="card.user_id.image_url!=null">
        </ion-avatar>

        <h3 style="font-size: 2vh;margin-bottom: 1vh" class="heading-content">{{card.user_id.first_name}} {{card.user_id.last_name}}</h3>
        <!-- <p> {{card.created_at | moment:'D MMM YYYY'}}</p> -->
        <p style="color: rgb(196, 194, 194) ; font-size: 1.5vh">
          {{card.created_at | moment:'D MMMM YYYY'}} at {{card.created_at | moment:'h:mm a'}}
        </p>

      </ion-item>
      <ion-item no-lines>
        <div *ngIf="card.description!==''">
          <!-- <h2 class="heading-content" text-wrap>{{card.user_id.first_name}} {{card.user_id.last_name}}</h2> -->
          <h5 style="color: black;font-size: 2vh;" text-wrap (click)="ShoutOutDetails(card)"> {{card.shortDesp}}
            <span class="heading-content">Read more.</span>
          </h5>
        </div>
      </ion-item>
      <ion-item no-lines>
          <div *ngFor="let i of card.images">
              <img style="height: 50vh;width: 100vw" [src]="i.image_url">
            </div>
        <!-- <ion-thumbnail item-start (click)="ShoutOutDetails(card)">
          <div *ngFor="let i of card.images">
            <img [src]="i.image_url">
          </div>
        </ion-thumbnail> -->



      </ion-item>
      <ion-item>
        <div>

          <button ion-button icon-left clear  style="float: right;color: #777777;" (click)="sendCmmt(card)">
            <ion-icon name="text"></ion-icon> Comment {{card.comment_count}}
            <!-- <div>{{news.comment}}</div> -->
          </button>

          <button ion-button icon-left clear small style="float: right;color: #777777;" (click)="Abuse(card)">
            <img class="icon-img" src="assets/img/Abuse.png"> Abuse
            <!-- <ion-icon class="icon-style" ios="ios-bookmark" md="ios-bookmark-outline"></ion-icon> -->
            <!-- <ion-icon  ios="ios-information-circle-outline" md="ios-information-circle-outline"></ion-icon> -->
          </button>

        </div>
      </ion-item>
    </div>
  </ion-list>
  <ion-fab right bottom class="pop-in">
    <button (click)="expand()" ion-fab mini>POST</button>
  </ion-fab>
  <!-- </ion-list> -->
  <ion-infinite-scroll *ngIf="page < totalPage" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content style="color: #000 !important" loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-footer *ngIf="authService.INTERNETCHECK">
  <ion-toolbar style="text-align: center">
    <div>
      <small class="label-Network" clear>Offline data not available.You are not connected to the Internet at the moment.
      </small>
    </div>
  </ion-toolbar>
</ion-footer>