<ion-header>
        <ion-navbar>
                <ion-title style="float: left;">Add Payment Card</ion-title>
                <div class="close-button" icon-only end (click)="dismiss()">
                        <ion-icon name="close"></ion-icon>
                </div>
        </ion-navbar>
</ion-header>
<ion-content padding>
        <form [formGroup]="PaymentForm" (ngSubmit)="validateCard()">
                <div style="padding: 20px 10px 0px 15px;">
                        <ion-list>
                                <ion-row>
                                        <ion-item>
                                                <mat-form-field class="example-full-width">
                                                        <input matInput type="tel" [(ngModel)]="card_Number" [textMask]="{mask: mask}" formControlName="cardNumber" placeholder="Card Number">
                                                </mat-form-field>
                                                <small *ngIf="PaymentForm.get('cardNumber').hasError('required') && PaymentForm.get('cardNumber').touched" style="color: red;float: left;">
                                                        Card number is not correct.
                                                </small>
                                        </ion-item>
                                </ion-row>
                                <ion-row>
                                        <ion-col col-6>
                                                <ion-item class="input-border">
                                                        <mat-form-field class="example-full-width">
                                                                <input matInput type="tel" [(ngModel)]="card_Month" [textMask]="{mask: cardMMExpiry}" formControlName="cardMonth" placeholder="MM">

                                                        </mat-form-field>
                                                        <small *ngIf="PaymentForm.get('cardMonth').hasError('required') && PaymentForm.get('cardMonth').touched" style="color: red;float: left;">
                                                                Enter expiry month.
                                                        </small>
                                                </ion-item>
                                        </ion-col>
                                        <ion-col col-6>
                                                <ion-item class="input-border">
                                                        <mat-form-field class="example-full-width">
                                                                <input matInput type="tel" [(ngModel)]="card_Year" [textMask]="{mask: cardYYExpiry}" formControlName="cardYear" placeholder="YY">

                                                        </mat-form-field>
                                                        <small *ngIf="PaymentForm.get('cardYear').hasError('required') && PaymentForm.get('cardYear').touched" style="color: red;float: left;">
                                                                Enter expiry year.
                                                        </small>
                                                </ion-item>
                                        </ion-col>
                                </ion-row>
                                <ion-row>
                                        <ion-item class="input-border">
                                                <mat-form-field class="example-full-width">
                                                        <input matInput type="tel" [(ngModel)]="card_CVV" [textMask]="{mask: cardCVVNo}" formControlName="cardCVV" placeholder="CVV">
                                                </mat-form-field>
                                                <small *ngIf="PaymentForm.get('cardCVV').hasError('required') && PaymentForm.get('cardCVV').touched" style="color: red;float: left;">
                                                        Please enter a valid CVV number.
                                                </small>
                                                <small style="color: red;float: left;" text-wrap>
                                                        {{errorMsg}}
                                                </small>
                                        </ion-item>
                                </ion-row>
                                <ion-row>
                                        <button ion-button block round color="light" [disabled]="!PaymentForm.valid" class="login-button">Save
                                                Payment Method</button>
                                </ion-row>
                        </ion-list>
                        <ion-fab right bottom [ngClass]="{'pop-out': fabGone}" style="top: 3rem;">
                                <button ion-fab mini (click)="scanCard()" color="dark">
                                        <ion-icon name="camera"></ion-icon>
                                </button>
                        </ion-fab>
                </div>
        </form>
</ion-content>
<ion-footer *ngIf="authService.INTERNETCHECK">
        <ion-toolbar style="text-align: center">
                <div>
                        <small class="label-Network" clear>Offline data not available.You are not connected to the Internet
                                at the moment.
                        </small>
                </div>
        </ion-toolbar>
</ion-footer>