<!--
  Generated template for the FishingNewsDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>Today's Catch - Photos Details</ion-title>
	</ion-navbar>

</ion-header>
<ion-content>
	<div *ngFor="let i of ShoutOut.images" (click)="PhotoView()">
		<img [src]="i.image_url">
	</div>
	<!-- <img class="news-img" src="{{ShoutOut.image_url}}"> -->
	<ion-card-content>
		<h2 class="heading-content">{{ShoutOut.user_id.first_name}} {{ShoutOut.user_id.last_name}}</h2>
		<ion-icon name="calendar"></ion-icon>
		<span>{{ShoutOut.created_at | moment:'Do MMMM YYYY, h:mm a'}} </span>
		<p>{{ShoutOut.description}}</p>
	</ion-card-content>
</ion-content>
<ion-footer *ngIf="authService.INTERNETCHECK">
	<ion-toolbar style="text-align: center">
		<div>
			<small class="label-Network" clear>Offline data not available.You are not connected to the Internet at the moment.
			</small>
		</div>
	</ion-toolbar>
</ion-footer>