<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title style="float: left;">Customer Information</ion-title>
        <ion-buttons end>
            <button id="notification-button" ion-button icon-only (click)="Notification()">
                <ion-icon name="md-cart">
                    <ion-badge id="notifications-badge" color="danger">0</ion-badge>
                </ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding="">
    <form [formGroup]="RequestLicenForm" (ngSubmit)="StartShopping()">
        <div style="padding: 20px 10px 0px 15px;">
            <ion-list>
                <ion-row>
                    <ion-col col-6>
                        <mat-form-field class="example-full-width">
                            <input matInput type="text" placeholder="First Name" formControlName="FirstName" required>
                        </mat-form-field>
                    </ion-col>
                    <ion-col col-6>
                        <mat-form-field class="example-full-width">
                            <input matInput type="text" placeholder="Middle Initial" formControlName="MiddleName">
                        </mat-form-field>
                    </ion-col>
                </ion-row>
                <small *ngIf="FirstName.hasError('required') && FirstName.touched" class="error">
                    <p>* Please enter your first name.</p>
                </small>
                <small *ngIf="FirstName.hasError('minlength') && FirstName.touched" class="error">
                    <p>* Minimum first name length is 3 characters.</p>
                </small>
                <small *ngIf="FirstName.hasError('maxlength') && FirstName.touched" class="error">
                    <p>* Maximum first name length is 25 characters.</p>
                </small>
                <small *ngIf="FirstName.hasError('pattern') && FirstName.touched" class="error">
                    <p>* First name cannot start with numbering.</p>
                </small>
                <small *ngIf="MiddleName.hasError('maxlength') && MiddleName.touched" class="error">
                    <p>* Maximum middle initial length is 1 characters.</p>
                </small>
                <ion-row>
                    <ion-col col-6>
                        <mat-form-field class="example-full-width">
                            <input matInput type="text" placeholder="Last Name" formControlName="LastName" required>
                        </mat-form-field>
                    </ion-col>
                    <ion-col col-6>
                        <mat-select class="input-border" placeholder="Select Suffix" formControlName="Suffix"
                            [(ngModel)]="chosenSuffix">
                            <mat-option *ngFor="let item of SuffixData;" [value]="item.Suffix_name">{{item.Suffix_name}}</mat-option>
                        </mat-select>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <small *ngIf="LastName.hasError('required') && LastName.touched" class="error">
                        <p>* Please enter your last name.</p>
                    </small>
                    <small *ngIf="LastName.hasError('minlength') && LastName.touched" class="error">
                        <p>* Minimum last name length is 3 characters.</p>
                    </small>
                    <small *ngIf="LastName.hasError('maxlength') && LastName.touched" class="error">
                        <p>* Maximum last name length is 25 characters.</p>
                    </small>
                    <small *ngIf="LastName.hasError('pattern') && LastName.touched" class="error">
                        <p>* Last name cannot start with numbering.</p>
                    </small>
                </ion-row>
                <ion-row>
                    <ion-col col-6>
                        <ion-item class="input-border">
                            <ion-label floating>Date Of Birth</ion-label>
                            <ion-datetime formControlName="DOB" [max]="2019-1-1" displayFormat="MM/DD/YYYY"
                                pickerFormat="MM DD YYYY"></ion-datetime>
                        </ion-item>
                        <!-- <small *ngIf="RequestLicenForm.get('DOB').hasError('required') && RequestLicenForm.get('DOB').touched"
                            style="color: red;float: left;">
                            Select Date Of Birth
                        </small> -->
                        <small *ngIf="DOBError" style="color: red;float: left;">
                            Select date of birth
                        </small>
                    </ion-col>
                    <ion-col col-6>
                        <ion-item class="input-border" style="margin-top: 26px;">
                            <mat-select formControlName="Gender" placeholder="Gender">
                                <mat-option value="Female">Female</mat-option>
                                <mat-option value="Male">Male</mat-option>
                                <mat-option value="Unspecified">Unspecified</mat-option>
                            </mat-select>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col col-12>
                        <ion-item class="input-border">
                            <mat-select placeholder="Driver's License State" formControlName="LicenState">
                                <mat-option *ngFor="let item of statelist;" [value]="item.title">{{item.title}}</mat-option>
                            </mat-select>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <small *ngIf="RequestLicenForm.get('LicenState').hasError('required') && RequestLicenForm.get('LicenState').touched"
                        style="color: red;float: left;">
                        Select driver's license state
                    </small>
                    <small *ngIf="LicenStateError" style="color: red;float: left;">
                        Select driver's license state
                    </small>
                </ion-row>
                <ion-row>
                    <ion-col col-12>
                        <mat-form-field class="example-full-width">
                            <input matInput type="text" placeholder="Driver's License Number" formControlName="LicenseNo">
                        </mat-form-field>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <small *ngIf="licenError" class="error">
                        <p>* Driver's license number is required</p>
                    </small>
                </ion-row>
                <ion-row>
                    <ion-col col-12 style="text-align: left;">
                        <strong style="color: black;">Residency</strong>
                    </ion-col>
                    <ion-col col-12>
                        <mat-radio-group class="example-radio-group" formControlName="Residency" [(ngModel)]="chosenItem">
                            <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season.title"
                                [disabled]="season.Checked" (change)="radioChange($event)">
                                {{season.title}}
                            </mat-radio-button>
                        </mat-radio-group>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <small *ngIf="Residency.hasError('required') && Residency.touched" class="error">
                        <p>* Please select your residency type</p>
                    </small>
                </ion-row>
                <ion-row>
                    <ion-col align-self-center col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6
                        padding style="color: black;text-align: left;">
                        For more information on residency, please read our <span style="color:#18cbef;"> Residency
                            Definition </span>.
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="ResidencyMnthEnabled">
                    <ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 padding style="color: black;text-align: left;">
                        <strong style="color: black;"> What year & month did Alaska residency begin?</strong>
                    </ion-col>
                    <ion-col col-6>
                        <ion-item class="input-border" style=" margin-top: 28px;">
                            <mat-select placeholder="Select Month" formControlName="Month">
                                <mat-option *ngFor="let item of mnth;" [value]="item">{{item}}</mat-option>
                            </mat-select>
                        </ion-item>
                    </ion-col>
                    <ion-col col-6>
                        <ion-item class="input-border">
                            <ion-label floating>Select Year</ion-label>
                            <ion-datetime formControlName="Year" displayFormat="YYYY" pickerFormat="YYYY"></ion-datetime>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <small *ngIf="ErrorMsg" class="error">
                        <p>* {{ErrormsgText}}</p>
                    </small>
                </ion-row>
                <ion-row>
                    <ion-col align-self-center col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6
                        padding>
                        <button mat-raised-button class="mat-logBtn" block round class="example-full-width" tappable>Start
                            Shopping</button>
                        <!-- [disabled]="!RequestLicenForm.valid" -->
                    </ion-col>
                </ion-row>
            </ion-list>
        </div>
    </form>
</ion-content>
<ion-footer *ngIf="authService.INTERNETCHECK">
    <ion-toolbar style="text-align: center">
        <div>
            <small class="label-Network" clear>Offline data not available.You are not connected to the Internet at the
                moment.
            </small>
        </div>
    </ion-toolbar>
</ion-footer>