<ion-header>
	<ion-navbar>
		<ion-title>Comments</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<ion-list>
		<!-- <ion-list-header>Today</ion-list-header>*ngFor="let message of messages" -->
		<ion-item *ngFor="let cmt of messages">
			<ion-avatar item-start *ngIf="cmt.user_id!=null">
				<img *ngIf="cmt.user_id.image_url==undefined" src="assets/img/icon/placeholder.png">
				<img *ngIf="cmt.user_id.image_url!=undefined" src="{{cmt.user_id.image_url}}">

				<!-- <img [src]="cmt.imageUrl"> -->
			</ion-avatar>
			<div *ngIf="cmt.user_id!=null">
				<h2>{{cmt.user_id.first_name}} {{cmt.user_id.last_name}}</h2>
				<p text-wrap>{{cmt.comment}}</p>
				<ion-note item-end>{{cmt.created_at | moment:'D MMM YYYY, h:mm a'}}</ion-note>
			</div>

		</ion-item>
	</ion-list>

	<!-- 
			<ion-list>
					<ion-item *ngFor="let cmt of messages" >
									  <ion-avatar item-start>
									 <img [src]="cmt.user_id.image_url" >			
								  </ion-avatar>
					  <h2>{{cmt.user_id.first_name}} {{cmt.user_id.last_name}}</h2>
					  <p>{{cmt.comment}}</p>
						<ion-note item-end>{{cmt.created_at}}</ion-note>
								</ion-item>
				  </ion-list>
	 -->
</ion-content>
<ion-footer>
	<form [formGroup]="messageForm" novalidate>
		<ion-item>
			<ion-input formControlName="message" [(ngModel)]="chatBox" placeholder="Write a comment..."></ion-input>
			<button ion-button clear (click)="sendCmmt()" item-end><ion-icon class="footer-btn" name="send"></ion-icon></button>
		</ion-item>
	</form>
</ion-footer>
<ion-footer *ngIf="authService.INTERNETCHECK">
	<ion-toolbar style="text-align: center">
		<div>
			<small class="label-Network" clear>Offline data not available.You are not connected to the Internet at the moment.
			</small>
		</div>
	</ion-toolbar>
</ion-footer>