<ion-header>
	<ion-navbar>
		<button ion-button icon-only menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>The Fishing Exchange</ion-title>

		<!-- <ion-title *ngIf="!displayGuide" >
			Available Trips
		</ion-title>
		<ion-title *ngIf="displayGuide">
			Trips Wanted
		</ion-title> -->
		<ion-buttons end>
			<button *ngIf="is_featured=='yes'" ion-button icon-only (click)="BusinessForm()">
				<img style="height: 4vh;" src="assets/img/ActiveAward.png">
			</button>
			<button *ngIf="is_featured=='no'" ion-button icon-only (click)="NotPrime()">
				<img style="height: 4vh;" src="assets/img/DeactiveAward.png">
			</button>
		</ion-buttons>
	</ion-navbar>
	<div class="mat-elevation-z8">
		<ion-segment class="heading-cont" [(ngModel)]="tripsOptionUser" *ngIf="!displayGuide">
			<ion-segment-button class="segement" value="Available" (ionSelect)="btnSegmentCall('available')">The Exchange</ion-segment-button>
			<ion-segment-button class="segement" value="mytrips" (ionSelect)="btnSegmentCall('my_trip')">My Trip</ion-segment-button>
			<!-- Anglers Wanted -->
		</ion-segment>
		<ion-segment class="heading-cont" [(ngModel)]="tripsOptionGuide" *ngIf="displayGuide">
			<ion-segment-button mat-button class="segement" value="Wanted" (ionSelect)="btnSegmentCall('wanted')">The Exchange</ion-segment-button>
			<ion-segment-button mat-button class="segement" value="offered" (ionSelect)="btnSegmentCall('offered')">My Trips Offered
			</ion-segment-button>
			<!-- Trips Wanted -->
		</ion-segment>
	</div>
	<div *ngIf="!isenabledAcceptDeny">
		<div *ngIf="!issearch" class="mat-elevation-z8">
			<ion-segment>
				<ion-segment-button mat-button class="segement_SubBtn" value="search" (ionSelect)="change('search')">
					<img class="icon-img" src="assets/img/icon/Search.png"> Search
				</ion-segment-button>
				<ion-segment-button mat-button class="segement_SubBtn" value="sort" (ionSelect)="presentActionSheet()">
					<img class="icon-img" src="assets/img/icon/filter.png"> Sort
				</ion-segment-button>
				<ion-segment-button mat-button class="segement_SubBtn" value="filter" (ionSelect)="change('filter')">
					<ion-icon style="font-size: 1.8rem;margin: 0px 8px;" ios="ios-funnel" md="ios-funnel-outline"></ion-icon> Filter
				</ion-segment-button>
			</ion-segment>
		</div>
		<div *ngIf="issearch" class="mat-elevation-z8">
			<ion-searchbar #myInput [(ngModel)]="inputName" [showCancelButton]=true (ionInput)="FilterByName(myInput.value)" (ionClear)="cancelSearch($event)">
			</ion-searchbar>
		</div>
	</div>
</ion-header>
<ion-content class="mat-elevation-z8">
	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull To Refresh..." refreshingSpinner="circles" refreshingText="Refreshing...">
		</ion-refresher-content>
	</ion-refresher>
	<ion-list *ngFor="let item1 of dateList">
		<ion-list-header class="label-md-head" *ngIf="item1==SelectDate">
			<ion-icon name="calendar" style="padding-left: 14px;"></ion-icon> Today
		</ion-list-header>
		<ion-list-header class="label-md-head" *ngIf="item1!=SelectDate">
			<ion-icon name="calendar" style="margin-left: 14px;"></ion-icon> {{item1 | moment:'D MMM YYYY'}}
		</ion-list-header>
		<ion-list class="ion-list-style card-1" *ngFor="let item of mainEventList;let i = index;">
			<ion-item class="box-shadow" *ngIf="item1==item.date">
				<ion-thumbnail item-start (click)="openTripDetail(item)">
					<div>
						<div>
							<img [src]=" item.imgUrl">
						</div>
					</div>
					<!-- <div *ngIf="item.imgUrl==undefined || !item.show_membership_details"> [ngStyle]="{'background-image':'url('+item.imgUrl+')'}" style="background-size: cover;background-repeat: round;"
						<img src="assets/img/event-Thumb.png">
					</div> -->
					<ion-row class="text-over" *ngIf="item.fastFilling">
						<ion-col align-self-center>
							Filling Fast
						</ion-col>
					</ion-row>
				</ion-thumbnail>
				<div (click)="openTripDetail(item)">
					<h2 *ngIf="item.show_membership_details">
						<ion-icon ios="ios-home" md="ios-home"></ion-icon>
						<span>{{item.created_by.details.name}}</span>
					</h2>
					<h2>
						<span *ngIf="item.trip_type=='offer'&& item.total_Available!=0">{{item.total_Available}} Seats Available </span>
						<span style="color:red" *ngIf="item.trip_type=='offer'&& item.total_Available==0">Sold Out</span>
						<span *ngIf="item.trip_type=='request' && item.total_Available!=0">Guide or charter Needed!
								<br> {{item.total_Available}} People
							</span>
						<span *ngIf="!displayGuide && item.trip_type=='request'" class="trip-type">{{item.member}} Requested</span>
						<img *ngIf="item.created_by.is_featured=='yes' && !displayGuide && item.show_membership_details" style="height: 5vh;" class="info-img"
						 src="assets/img/info.png">
						<span [hidden]="!isenabledAcceptDeny" *ngIf="!displayGuide && item.trip_type=='offer'" class="trip-typeBooked">{{item.No_member}} Booked
						</span>
					</h2>
					<h2>
						<!-- <span *ngIf="item.trip_type=='request'&& displayGuide && item.total_Available!=0">{{item.total_Available}} Seats Needed
						</span> -->
						<!-- <span *ngIf="item.trip_type=='request'&& displayGuide && item.total_Available!=0">Guide or charter Needed!
							<br> {{item.total_Available}} People
						</span> -->
						<span *ngIf="displayGuide && item.trip_type=='offer'" class="trip-type"> {{item.member}} Offered</span>
						<span [hidden]="!isenabledAcceptDeny" *ngIf="displayGuide && item.trip_type=='request'" class="trip-typeBooked">Booked</span>
					</h2>

					<ul class="trip-info">
						<li>
							<ion-icon name="calendar"></ion-icon>
							{{item.time}}
						</li>
						<li>
							<div *ngIf="item.boat_type_id!=null">
								<ion-icon ios="ios-boat" md="md-boat"></ion-icon>
								{{item.boat_type_id.title}}
							</div>
						</li>
						<li>
							<div *ngIf="item.fishing_type_id!=null">
								<img src="assets/img/icon/blackfish16.png" class="forum-like-img"> {{item.fishing_type_id.title}}
							</div>
						</li>
						<li>
							<div *ngIf="item.fishing_location_id!=null">
								<ion-icon name="pin"></ion-icon>
								{{item.fishing_location_id.title}}
							</div>
						</li>
					</ul>

				</div>
				<div style="float: left;"></div>
				<div *ngIf="!displayGuide">
					<button [hidden]="!isenabledAcceptDeny" (click)="CancelTrip(item,i)" *ngIf="item.trip_type=='request' && item.angler_pay.length ==0"
					 ion-button block color="light" style="float: left;width: 75px;background: #fba707;">Cancel</button>
					<!-- <span *ngIf="item.created_by.details!=undefined">
						<a [hidden]="isenabledAcceptDeny" href="tel:{{item.created_by.details.Contact_No}}" ion-button block color="light"
						 style="float: left;width: 75px;background: #18cbef;">Contact</a>
					</span>

					<span *ngIf="item.created_by.details==undefined">
						<a [hidden]="isenabledAcceptDeny" href="tel:{{item.created_by.phone_no}}" ion-button block color="light" 
						style="float: left;width: 75px;background: #18cbef;">Contact</a>
					</span> -->
					<!-- <span *ngIf="item.created_by.details ==undefined && item.user_type=='angler'">
						<button [hidden]="isenabledAcceptDeny" (click)="AcceptConfirm(item,i)" ion-button block color="light" style="float: left;width: 75px;background: #18cbef;">Accept</button>
					</span> -->
					<!-- <span>
						<button [hidden]="isenabledAcceptDeny" (click)="openDialog('Must be signed in with a guide account with an active Guide Direct subscription to view and contact anglers as well as post available trips and seats you may have. Please log out and create a Guide Account at the sign in page and click on Upgrade To Guide Direct at the bottom of the main menu page.','no')"
						 ion-button block color="light" style="float: left;width: 75px;background: #18cbef;">Contact</button>
						<!-- <button [hidden]="isenabledAcceptDeny " (click)="AcceptConfirm(item,i)" ion-button block color="light" style="float: left;width: 75px;background: #18cbef;">Accept</button> -->
					<!--</span> -->
					<span (click)="openTripDetail(item)">
						<a [hidden]="isenabledAcceptDeny" ion-button block color="light" style="float: left;width: 75px;background: #18cbef;">Contact</a>
					</span>
					<div style="float: right;">
						<span class="pricing">$ {{item.trip_amount}}</span>
						<span style="font-size: 12px;">(Per Person)</span>
					</div>
				</div>
				<div *ngIf="displayGuide">
					<button [hidden]="!isenabledAcceptDeny" (click)="CancelTrip(item,i)" *ngIf="item.trip_type=='offer' && item.angler_pay.length ==0"
					 ion-button block color="light" style="float: left;width: 75px;background: #fba707;">Cancel</button>
					<!-- <span *ngIf="item.user_type=='angler'">
						<a [hidden]="isenabledAcceptDeny" href="tel:{{item.created_by.phone_no}}" ion-button block color="light" 
						style="float: left;width: 75px;background: #18cbef;">Contact</a>
					</span> -->
					<span  *ngIf="is_featured=='no'">
						<a  (click)="openTripDetail(item)" *ngIf="item.user_type=='guide'" [hidden]="isenabledAcceptDeny"  ion-button block
						 color="light" style="float: left;width: 75px;background: #18cbef;">Contact</a>

						<button (click)="openTripDetail(item)" *ngIf="item.user_type=='angler'" [hidden]="isenabledAcceptDeny" 
						 ion-button block color="light" style="float: left;width: 75px;background: #18cbef;">Contact</button>

					</span>
					<span *ngIf="is_featured=='yes'">
						<a  (click)="openTripDetail(item)"[hidden]="isenabledAcceptDeny" ion-button block color="light" style="float: left;width: 75px;background: #18cbef;">Contact</a>
					</span>
					<div style="float: right;">
						<span class="pricing">$ {{item.trip_amount}}</span>
						<span style="font-size: 12px;">Willing Price</span>
					</div>
				</div>
			</ion-item>
		</ion-list>
	</ion-list>

	<ion-infinite-scroll *ngIf="page < totalPage" (ionInfinite)="doInfinite($event)">
		<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
		</ion-infinite-scroll-content>
	</ion-infinite-scroll>

	<ion-fab right bottom>
		<button ion-fab mini (click)="RequestTrip()">
			<ion-icon name="add"></ion-icon>
		</button>
	</ion-fab>
</ion-content>
<ion-footer *ngIf="authService.INTERNETCHECK">
	<ion-toolbar style="text-align: center">
		<div>
			<small class="label-Network" clear>Offline data not available.You are not connected to the Internet at the moment.
			</small>
		</div>
	</ion-toolbar>
</ion-footer>