.theme-dark {
  page-fishing-exchang {

    .button-cam{
      color:red !important;
    }

.box-shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  margin: 2px 0px;
}
.segement_SubBtn{
  background: #FFFFFF !important;
    background-color: #FFFFFF !important;
    color: #000000 !important;
    .icon-img{
      height: 14px;
      width: 14px;
      margin: 0px 8px;
    }
}  
.searchbar-ios-cancel{
  margin-right: 0px !important;
  opacity: 1!important;
  padding-left: 10px !important;
}
.searchbar-md .searchbar-md-cancel{
  display: inline-flex !important;
  background-color: white !important;
}
.searchbar-search-icon{
  display: none;
}
.searchbar-md {
background: inherit;
padding: 0px !important;
}
    .segment-md .segment-button.segment-activated {
      border-color: #ffffff;
      border-bottom: 2px #387ef5 solid;
      opacity: 1;
  }
  ion-alert.alert-top {
    padding-top: 150px !important;
}
.trip-type {
  position: absolute;
 // bottom: 20px;
  right:12px;
  background-color: #19cbef;
  color: #fff;
  padding: 6px 12px;
  font-weight: 500;
  font-size: 12px;
}
.trip-typeBooked{
  background-color: #04ff00;
  color: black;
  font-weight: 500;
  position: absolute;
  // bottom: 20px;
   right:12px;
   padding: 6px 12px;
   font-size: 12px;
}
.info-img{
  color: black;
  font-weight: 500;
  position: absolute;
  // bottom: 20px;
   right:12px;
   padding: 6px 12px;
   font-size: 12px;
}
    .item-md {
      padding-left: 0px;
    }
    ion-content{ 
      background: #ffffff !important;
  }
  .card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
.icon-accept{
font-size: 22px;
    color:#18cbef;
    font-weight: 100;
    display: block;
}
.icon-reject{
  font-size: 22px;
      color:#ef1818;
      font-weight: 100;
      display: block;
  }
  .icon-accepted{
    font-size: 22px;
        color: #5cb85c;
        border-color: #4cae4c;
        font-weight: 100;
        display: block;
    }
    ion-segment {
      .segment-button {
        background-color: #212733;
        color: #fff;
        opacity: 1;
      //  border-right: 1px #FFF solid;
      }
      &.segment-ios{
        .segment-activated{
          color:  #212733;
        }
        .segment-button:hover{
              color: #212733;
              background-color: #78e1f6;
        }
      }
    }
    ion-title {
      padding: 0px;
    }
    ion-content {
      background: color($colors, light, base);
    }

    h1,
    h2,
    h3,
    div,
    p {
      color: color($colors, dark, base);
    }
    ion-list,
    .input-wrapper,
    ion-label,
    .item-inner,.item,ion-item {
      background-color: #fff;
      color: color($colors, dark, base);
    }
    ion-list {
      margin: 0px;
      ion-item {
        padding: 0px;
        background: #ffffff00;
        
        ion-thumbnail {
          margin: 0px !important;
          min-width: 150px;
          min-height: 175px;
          position: relative;
          img {
            min-width: 150px;
            min-height: 175px;
          }
          .text-over {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(120, 225, 246, 0.6);
            text-align: center;
            font-size: 16px;
          }
        }
        .item-inner {
          padding: 0px 10px;
          border-bottom: 1px solid #e4e4e4 !important;
        }
        h2 {
          text-overflow: ellipsis;
          font-size: 14px;
          font-weight: 600;
          margin-right: 20px;
          overflow: hidden;
        }
        ion-label {
          margin: 0px;
          .pricing {
            //float: right;
            font-weight: 600;
            color: color($colors, primary, base);
            text-align: right;
            font-size: 14px;
            span {
              font-size: 10px;
              color: #000;
              font-weight: 100;
              display: block;
            }
          }
        }
        .save-favorite,
        .share-now {
          position: absolute;
          top: 6px;
          right: 6px;
          &.liked {
            color: #f9c13a;
          }
        }
      }
      ion-list-header.item {
        margin: 0px !important;
        border-bottom: 0px solid #ccc;
        ion-label {
          text-transform: uppercase;
          ion-icon {
            margin-right: 5px;
          }
        }
      }
      .trip-info {
        margin: 0px;
        font-size: 12px;
        font-weight: 500;
        li {
          padding: 4px 0px;
          ion-icon {
            width: 14px;
          }
        }
      }
    }
  }
}
