<!--
  Generated template for the TidesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title>Product List</ion-title>
    <ion-buttons end>
      <button id="notification-button" ion-button icon-only>
        <ion-icon name="md-cart">
          <ion-badge id="notifications-badge" color="danger">{{addcartcount}}</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <!-- <ion-segment class="heading-cont" [(ngModel)]="tabType">
    <ion-segment-button class="segement" value="FavLocation" (ionSelect)="btnSegmentCall('FavLocation')">Original
      Products</ion-segment-button>
    <ion-segment-button class="segement" value="AllLocation" (ionSelect)="btnSegmentCall('AllLocation')">Duplicate
      Products</ion-segment-button>
  </ion-segment> -->
</ion-header>


<ion-content>
  <!-- <ion-list class="docListFirst docList mat-elevation-z8" style="margin: 8px;">
    <ion-row>
      <ion-col align-self-center col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 padding style="color: black;background: #dcdcdc;">
        <strong align-self-center> Short-Term Products for 2018 </strong>
      </ion-col>
      <ion-col align-self-center col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 padding style="color: black;">
        <strong style="          padding-top: 20px;      "> License/Stamp Type</strong>
        <mat-select placeholder="Select a short-term license/stamp">
          <mat-option value="7 Day Sport Fish License $70.00">7 Day Sport Fish License $70.00</mat-option>
        </mat-select>
      </ion-col>
      <ion-col align-self-center col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 padding style="color: black;">
        <ion-item class="input-border">
          <ion-label floating>Start Date (mm/dd/yyyy)</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY" pickerFormat="MM/DD/YYYY"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col align-self-center col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 padding style="color: black;">
        <ion-item class="input-border">
          <ion-label floating>Start Time</ion-label>
          <ion-datetime displayFormat="hh:mm a" pickerFormat="hh:mm a"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col align-self-center col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 padding>
        <button mat-raised-button class="mat-logBtn" block round class="example-full-width" (click)="StartShopping()"
          tappable>
          <ion-icon ios="ios-cart" md="md-cart"></ion-icon> Add cart
        </button>
      </ion-col>
    </ion-row>
  </ion-list> -->
  <ion-list class="docListFirst docList mat-elevation-z8" style="margin: 8px;">
    <ion-row>
      <ion-col align-self-center col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 padding style="color: black;background: #dcdcdc;">
        <strong align-self-center>Available Annual Products for 2019</strong>
      </ion-col>
    </ion-row>
    <ion-item style="background: #e0e0e0 !important;">
      <ion-row>
        <ion-col col-6>
          <h2>Description</h2>
        </ion-col>
        <ion-col col-2>
          <h2>Price</h2>
        </ion-col>
        <ion-col col-4>
          <!-- <button mat-raised-button class="mat-logBtn" block round class="example-full-width" (click)="StartShopping()"
            tappable>
            <ion-icon ios="ios-cart" md="md-cart"></ion-icon> Add cart
          </button> -->
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let item of Productlist">
        <ion-col col-6 text-wrap>
          <h4>{{item.title}}</h4>
        </ion-col>
        <ion-col col-2>
          <h4>{{item.Price}}</h4>
        </ion-col>
        <ion-col col-4>
          <button *ngIf="item.Checked" mat-raised-button class="mat-logBtn" block round class="example-full-width"
            (click)="addcart(item)" tappable>
            <ion-icon ios="ios-cart" md="md-cart"></ion-icon> Add
          </button>
          <button *ngIf="!item.Checked" mat-raised-button class="mat-logBtn" block round class="example-full-width"
            style="background: red;" (click)="addcart(item)" tappable>
            <ion-icon ios="ios-trash" md="md-trash"></ion-icon> Remove
          </button>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col col-6 text-wrap>
          <h4>Duplicate Annual Sport Fishing License</h4>
        </ion-col>
        <ion-col col-2>
          <h4>$5.00</h4>
        </ion-col>
        <ion-col col-4>
          <button mat-raised-button class="mat-logBtn" block round class="example-full-width" (click)="StartShopping()"
            tappable>
            <ion-icon ios="ios-cart" md="md-cart"></ion-icon> Add cart
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6 text-wrap>
          <h4>Duplicate Annual Sport Fishing License</h4>
        </ion-col>
        <ion-col col-2>
          <h4>$5.00</h4>
        </ion-col>
        <ion-col col-4 text-wrap>
          <button mat-raised-button class="mat-logBtn" block round class="example-full-width" (click)="StartShopping()"
            tappable>
            <ion-icon ios="ios-cart" md="md-cart"></ion-icon> Add cart
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6 text-wrap>
          <h4>Duplicate Annual Sport Fishing License</h4>
        </ion-col>
        <ion-col col-2>
          <h4>$5.00</h4>
        </ion-col>
        <ion-col col-4>
          <button mat-raised-button class="mat-logBtn" block round class="example-full-width" (click)="StartShopping()"
            tappable>
            <ion-icon ios="ios-cart" md="md-cart"></ion-icon> Add cart
          </button>
        </ion-col>
      </ion-row> -->

    </ion-item>

  </ion-list>


  <ion-row>
    <ion-col align-self-center col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 padding>
      <button mat-raised-button class="mat-logBtn" block round class="example-full-width" (tap)="Check()" tappable>Check
        out</button>
    </ion-col>
  </ion-row>


  <!-- 


  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list class="docListFirst docList" *ngIf="FishCountLocList.length != 0">
    <ion-item class="itemList" *ngFor="let area of FishCountLocList | orderBy: 'title'">
      <ion-row>
        <ion-col col-1 *ngIf="tabType=='AllLocation'">
          <div mat-button icon-left icon-only small *ngIf="!area.favouriteStatus" (tap)="addTofavouriteLocList(area)">
            <ion-icon style="color: black;font-size: 22px;padding: 4px;" ios="ios-heart-outline" md="md-heart-outline"></ion-icon>
          </div>
          <div mat-button icon-left icon-only small *ngIf="area.favouriteStatus" (tap)="addTofavouriteLocList(area)">
            <ion-icon style="color: rgb(255, 4, 4);font-size: 22px;padding: 4px;" ios="ios-heart" md="md-heart"></ion-icon>
          </div>
        </ion-col>
        <ion-col col-1 *ngIf="tabType!='AllLocation'">
          <div mat-button icon-left icon-only small *ngIf="!area.favouriteStatus" (tap)="addTofavouriteList(area)">
            <ion-icon style="color: black;font-size: 22px;padding: 4px;" ios="ios-heart-outline" md="md-heart-outline"></ion-icon>
          </div>
          <div mat-button icon-left icon-only small *ngIf="area.favouriteStatus" (tap)="addTofavouriteList(area)">
            <ion-icon style="color: rgb(255, 4, 4);font-size: 22px;padding: 4px;" ios="ios-heart" md="md-heart"></ion-icon>
          </div>
        </ion-col>
        <ion-col col-8>
          <p class="otherUsers" (click)="openAreaDetail(area)" text-wrap>{{area.titleSplit}}</p>
          <p class="otherUsers" (click)="openAreaDetail(area)" text-wrap>{{area.fromDate}}</p>
          <small *ngIf="area.Fish_Count != 'empty'" (click)="openAreaDetail(area)">{{area.Count_Date | moment:'MMMM DD,
            YYYY'}}
          </small>
        
        </ion-col>
        <ion-col col-3 class="arrow-icon" [ngStyle]="{'background-image': 'url(' + image_url +')'}">
          <div class="traspernt-div">
            
            {{area.Fish_Count}}
          </div>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

  <div class="No-notify" style="margin-top:20%;" *ngIf="FishCountLocList.length == 0 && tabType!='AllLocation'">
    <img style="height: 150px;margin: 0px 30%;" src="assets/img/Riverboat.png">
    <div style="text-align: center;color: black;">
      No Rivers
      <br> Selected As Favorites Yet.
    </div>
  </div>
  <ion-infinite-scroll *ngIf="page < totalPage" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->

</ion-content>
<ion-footer *ngIf="authService.INTERNETCHECK">
  <ion-toolbar style="text-align: center; color: #18cbef;">
    <div>
      <small class="label-Network" clear>Offline data not available.You are not connected to the Internet at the
        moment.
      </small>
    </div>
  </ion-toolbar>
</ion-footer>