<ion-header>



  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      What's Hot?
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="Notification()">
        <ion-icon name="notifications"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <!-- <div>
      <div  *ngIf="!issearch">
      <ion-segment class="heading-cont"  [(ngModel)]="search">
          <ion-segment-button  class="segement segment-button" value="search" (click)="change()">
              <img class="icon-img" src="assets/img/icon/Search.png"> search
          </ion-segment-button>
          <ion-segment-button  (click)="showCheckbox()" class="segement" value="Sort" style="border-left: 1px solid #cccccc;text-transform: capitalize !important;color: #000000 !important;">
              <img class="icon-img" src="assets/img/icon/filter.png"> Sort By
          </ion-segment-button>
        </ion-segment>
        </div>
        <div  *ngIf="issearch">
            <ion-searchbar #myInput     
            [(ngModel)]="inputName"
            [showCancelButton]=true
            (ionInput)="FilterByName(myInput.value)"
            (ionClear) = "cancelSearch($event)"
           >
          </ion-searchbar>
        
        </div>   
        
  </div> -->

</ion-header>

<ion-content class="chats">


  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list *ngFor="let item1 of dateList">
    <ion-list-header class="label-md-head" *ngIf="item1==SelectDate">
      <ion-icon name="calendar" style="margin-left: 14px;"></ion-icon> Today
    </ion-list-header>
    <ion-list-header class="label-md-head" *ngIf="item1!=SelectDate">
      <ion-icon name="calendar" style="margin-left: 14px;"></ion-icon> {{item1 | moment:'D MMM YYYY'}}
    </ion-list-header>
    <ion-list class="ion-list-style" *ngFor="let item of mainEventFillterList">
      <ion-item class="mat-elevation-z8 box-shadow" *ngIf="item1==item.event_date">
        <ion-thumbnail item-start (click)="openEventDetail(item)">
          <img src="{{item.image_url_thumb}}">
        </ion-thumbnail>
        <!-- <button ion-button icon-left clear small style="float: right;">
          <img *ngIf="!item.favouriteStatus" src="assets/img/icon/forum_heart_img.png"  class="forum-like-img" (click)="addTofavourit(item)">
          <img *ngIf="item.favouriteStatus" src="assets/img/icon/forum_like_img.png" class="forum-like-img" (click)="addTofavourit(item)">  
              
       </button> -->
        <!-- <ion-icon name="heart" class="save-favorite" (click)="saveFavorite(item)" [class.liked]="item.isFavorite"></ion-icon> -->
        <div (click)="openEventDetail(item)">
          <h2>{{item.title}}</h2>
          <ul class="event-info">
            <li>
              <ion-icon name="calendar"></ion-icon>
              {{item.event_date_time | moment:'MMMM D YYYY, h:mm a'}}

              <!-- {{item.time | moment:'h:mm a'}} -->
            </li>
            <li>
              <ion-icon name="pin"></ion-icon>
              {{item.location}}
            </li>
            <li>
              <ion-icon ios="ios-link" md="md-link"></ion-icon>
              <a href="#" (click)="openWithSystemBrowser(item.website_url)">{{item.website_url}}</a>
            </li>
          </ul>
        </div>
        <!-- <div class="pricing">$ {{item.amount}} <span>(Per Person)</span></div> -->
      </ion-item>
    </ion-list>
  </ion-list>
  <ion-infinite-scroll *ngIf="page < totalPage" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-fab right bottom>
    <button ion-fab mini (click)="AddWhatsHot()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
<ion-footer *ngIf="authService.INTERNETCHECK">
  <ion-toolbar style="text-align: center">
    <div>
      <small class="label-Network" clear>Offline data not available.You are not connected to the Internet at the moment.
      </small>
    </div>
  </ion-toolbar>
</ion-footer>