<!--
  Generated template for the CommercialInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Location Detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h3 style="color: black; text-align: center">{{com_object?.location_name}}</h3>
  <p style="color: black; text-align:left">Gear Type: <b>{{com_object?.type_of_gear}}</b></p>
  <p style="color: black; text-align:left">Species:  <b>{{getstring(com_object?.species)}}</b></p>
  <p style="color: black; text-align:left">Fishing Status:  <b>{{getstatus(com_object?.color)}}</b></p>
  <p style="color: black; text-align:left">Fishing Time:  <b>{{gettime(com_object?.color,com_object?.fishingdates)}}</b></p>
  <p class="heading-data" style="font-size: 2vh" [innerHTML]="com_object?.description"></p>
 

</ion-content>