<div class="transparent-header" [ngStyle]="{'background-image': 'url(' + backgroundImage +')'}">
  <ion-header>
    <ion-navbar>
      <ion-title style="float: left;"> Success </ion-title>
      <!-- <ion-icon class="icon-button-mdmark" ios="ios-checkmark" md="md-checkmark"  (click)="otpverify()"></ion-icon> -->
    </ion-navbar>
  </ion-header>
</div>
<ion-content class="chats">
  <form [formGroup]="RegisterForm">
    <div style="padding: 20% 32px 32px 32px">
      <ion-row>
        <p class="forgot-Password"> Thanks for signing up.</p>
        <p class="forgot-Password"> Confirmation code has been sent to your phone. </p>
        <p class="forgot-Password"> Please enter the code below </p>
      </ion-row>
      <ion-row>
        <p class="forgot-Password p-text">Enter Confirmation Code</p>
      </ion-row>
      <ion-row style="padding: 0px 70px;justify-content: center;">
        <table>
          <tr>
            <td>
              <ion-input type="tel" [textMask]="{mask: otp1}" #otp1 class="otp" formControlName="FirstNo" pattern="[0-9]{6}" maxlength="1"
                size="1" (keyup)="next(otp2)">
              </ion-input>
            </td>
            <td>
              <ion-input type="tel" [textMask]="{mask: otp2}" #otp2 class="otp" formControlName="SecondNo" pattern="[0-9]{6}" maxlength="1"
                size="1" (keyup)="next(otp3)">
              </ion-input>
            </td>
            <td>
              <ion-input type="tel" [textMask]="{mask: otp3}" #otp3 class="otp" formControlName="ThirdNo" pattern="[0-9]{6}" maxlength="1"
                size="1" (keyup)="next(otp4)">
              </ion-input>
            </td>
            <td>
              <ion-input type="tel" [textMask]="{mask: otp4}" #otp4 class="otp" formControlName="ForthNo" pattern="[0-9]{6}" maxlength="1"
                size="1">
              </ion-input>
            </td>
          </tr>
        </table>
      </ion-row>
      <ion-row style="padding: 0px 70px;">
        <small *ngIf="FirstNo.hasError('required') && SecondNo.hasError('required') &&  ThirdNo.hasError('required') && ForthNo.hasError('required')  && FirstNo.touched && SecondNo.touched"
          class="error">
          <p>* Please enter OTP.</p>
        </small>
        <small *ngIf="submitAttempt" class="error">
          <p>* Invalid OTP code</p>
        </small>
        <br>
      </ion-row>
      <ion-row style="margin-top: 10%;font-size: 14px;">
        <ion-label>Didn't receive the OTP?
          <span style="color: #18cbef;" clear (click)="ResendOTP()">RESEND OTP</span>
        </ion-label>
      </ion-row>
    </div>
  </form>
  <ion-row style="padding: 0px 25px;">
    <button mat-button block round color="light" class="login-button" (click)="otpverify()">SUBMIT</button>
  </ion-row>

</ion-content>
<ion-footer *ngIf="authService.INTERNETCHECK">
  <ion-toolbar style="text-align: center">
    <div>
      <small class="label-Network" clear>Offline data not available.You are not connected to the Internet at the moment.
      </small>
    </div>
  </ion-toolbar>
</ion-footer>